.root {
    background: var(--ntp-surface-background-color);
    backdrop-filter: blur(48px);
    border: 1px solid var(--ntp-surface-border-color);
    padding: var(--sp-6);
    border-radius: var(--border-radius-lg);
    display: grid;
    align-items: start;
    grid-template-columns: auto;
    width: 100%;
    margin-bottom: var(--ntp-gap);

    &:hover {
        .listExpander * {
            opacity: 1;
        }
    }

    [data-theme=dark] & {
        border-color: var(--color-white-at-9);
    }
}

.body {
    display: flex;
    flex-direction: column;
}

.switcher {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: rgba(0, 0, 0, 0.06);
}

.block {
    margin-top: 24px;
    color: var(--ntp-text-muted);
}

.feed {}

.button {
    color: var(--ntp-text-normal);
    border-radius: 5px;
    background: transparent;
}

.active {
    [data-theme=dark] & {
        color: var(--color-black-at-84);
    }
}


[data-platform-name="windows"] {
    .button {
        border-radius: 5px;
        background: transparent;
        border: 0;
        height: 26px;
    }
    .active {
        background: white;
        position: relative;

        &:after {
            content: "";
            width: 16px;
            height: 2px;
            position: absolute;
            display: block;
            bottom: 0;
            transform: translateX(-50%);
            left: 50%;
            border-radius: 16px;
            background: var(--ddg-color-primary);
        }
    }
}

[data-platform-name="macos"] {
    .switcher {}
    .button {
        border-radius: 5px;
        background: transparent;
        border: 0.5px solid transparent;
        height: 22px;
    }
    .active {
        border-radius: 5px;
        border: 0.5px solid rgba(0, 0, 0, 0.10);
        background: #FFF;

        /* Mac/Control/Standard */
        box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.20) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 0px 0.5px rgba(0, 0, 0, 0.10), 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
    }
}

