:root {
    /* Light theme colors */
    --background-color: #f5f5f5;
    --text-color: rgba(0, 0, 0, 0.84);
    --border-color: rgba(0, 0, 0, 0.10);
    --warning-container-bg: #FFF;
    --advanced-info-bg: rgba(0, 0, 0, 0.03);
    --button-bg: #FFF;
    --button-active-bg:#e0e0e0;
    --button-text: #000000;
    --error-code-color: rgba(0, 0, 0, 0.60);
    --leave-site-btn-bg: linear-gradient(180deg, #4266D8 0%, #224CD2 100%);
    --leave-site-btn-border-color: rgba(40, 145, 255, 0.05);
    --leave-site-btn-shadow-color: rgba(40, 145, 255, 0.10);
    --accept-risk-color: black;

    /* Dark theme colors */
    --background-color-dark: #363636;
    --text-color-dark: #FFFFFFD6;
    --border-color-dark: rgba(255, 255, 255, 0.3);
    --warning-container-bg-dark: #222222;
    --advanced-info-bg-dark: #2F2F2F;
    --button-bg-dark: #333333;
    --button-active-bg-dark:#757575;
    --button-text-dark: #FFFFFF;
    --error-code-color-dark: rgba(255, 255, 255, 0.6);
    --leave-site-btn-bg-dark: linear-gradient(180deg, #4266D8 0%, #224CD2 100%);
    --leave-site-btn-border-color-dark: rgba(40, 145, 255, 0.2);
    --leave-site-btn-shadow-color-dark: rgba(40, 145, 255, 0.3);
    --accept-risk-color-dark: #CCCCCC;
}

/* Base styles */
html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.full-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 504px;
    min-width: 400px; 
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: 0.5px solid var(--border-color);
    overflow: hidden;
}

@media (max-height: 500px) { 
    .full-container {
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.warning-container {
    overflow: hidden;
    padding: 32px 40px;
    gap: 16px;
    background: var(--warning-container-bg);
    margin-block: 0;
}

.warning-header {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 22px;
    margin-block: 0;
    min-height: 32px;
    position: relative; 
    padding-left: 48px;
}

.warning-header img { 
    position: absolute;
    left: -8px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.warning-text {
    font-size: 13px;
    line-height: 16px;
    margin-block: 16px;
}

.advanced-info {
    border-top: 0.5px solid var(--border-color);
    overflow: hidden;
    padding: 24px 40px;
    align-items: flex-start;
    background: var(--advanced-info-bg);
    font-size: 11px;
    line-height: 14px;
    color: var(--text-color);
    transition: padding 200ms, height 200ms;
    opacity: 1;
}

.advanced-info.closed {
    opacity: 0;
    height: 0;
    padding-block: 0;    
    overflow: hidden; 
}

.advanced-info p:first-child {
    margin-top: 0;
}

.advanced-info p:last-child {
    margin-bottom: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    padding-block-start: 8px;
}

.button {
    height: 20px;
    font-size: 13px;
    line-height: 1;
    padding: 0px 12px;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid var(--border-color);
    background: var(--button-bg);
    color: var(--button-text);
    box-shadow: 0px 1px 1px 0px var(--border-color), 0px 0px 1px 0px var(--border-color);
}

.button:active {
    background: var(--button-active-bg);
}

.leave-this-site {
    color: white;
    border: 0.5px solid var(--leave-site-btn-border-color);
    background: var(--leave-site-btn-bg);
    box-shadow: 0px 1px 1px 0px var(--leave-site-btn-shadow-color), 0px 0px 1px 0px var(--leave-site-btn-border-color);
}

.leave-this-site:active {
    background: #798ed6;
}

.accept-risk {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: var(--accept-risk-color);
    padding: 0;
}

.error-code {
    padding: 4px 0px 0px 0px;
    color: var(--error-code-color);
    font-size: 10px;
    font-family: 'SFMono-Regular', Menlo, Monaco, 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
        --border-color: var(--border-color-dark);
        --warning-container-bg: var(--warning-container-bg-dark);
        --advanced-info-bg: var(--advanced-info-bg-dark);
        --button-bg: var(--button-bg-dark);
        --button-active-bg:var(--button-active-bg-dark);
        --button-text: var(--button-text-dark);
        --error-code-color: var(--error-code-color-dark);
        --leave-site-btn-bg: var(--leave-site-btn-bg-dark);
        --leave-site-btn-border-color: var(--leave-site-btn-border-color-dark);
        --leave-site-btn-shadow-color: var(--leave-site-btn-shadow-color-dark);
        --accept-risk-color: var(--accept-risk-color-dark);
    }
}
