version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      target-branch: 'main'
      open-pull-requests-limit: 20
      labels:
          - 'dependencies'
      groups:
          eslint:
              patterns:
                  - 'eslint*'
                  - '@typescript-eslint*'
          stylelint:
              patterns:
                  - 'stylelint*'
          typescript:
              patterns:
                  - 'typedoc'
                  - 'typescript'
                  - '@types/*'
                  - '@typescript-eslint*'
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
      target-branch: 'main'
      labels:
          - 'dependencies'
