.pulled {
    margin-top: calc(-40 * var(--px-in-rem));
}
.root {
    border-bottom: 1px solid var(--ntp-surface-border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--ntp-gap);
}

.body {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: var(--sp-6);
    padding-bottom: var(--sp-6);
}
.details {
    width: 100%;
}
.inlineLink {
    color: var(--color-blue-50);
    text-decoration: none;
    &:focus-visible {
        text-decoration: underline;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: underline;
    }
    [data-theme=dark] & {
        color: var(--color-white);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
        &:focus-visible {
            box-shadow: var(--focus-ring);
            border-radius: var(--border-radius-xs);
            text-decoration: none;
        }
    }
}

.summary {
    list-style: none;
}

.summary::-webkit-details-marker {
    display: none;
}

.detailsContent {
    margin-top: var(--sp-4);
    text-align: left;
    max-width: 380px; /* just a value that looks below it's centered heading */
    margin-left: auto;
    margin-right: auto;
}
.title {
    padding: 0.5rem 0;
}
.list {
    margin-left: 1.5rem;
    li {
        list-style: disc
    }
}

.dismiss {
    position: absolute;
    top: calc(var(--sp-6) - var(--sp-1));
    right: var(--sp-2);
}

