{
    "extends": ["standard", "plugin:@typescript-eslint/recommended"],
    "root": true,
    "parserOptions": {
      "ecmaVersion": "latest",
      "project": "./tsconfig.json"
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["promise","@typescript-eslint"],
    "globals": {
        "$USER_PREFERENCES$": "readonly",
        "$USER_UNPROTECTED_DOMAINS$": "readonly",
        "$CONTENT_SCOPE$": "readonly",
        "$BUNDLED_CONFIG$": "readonly",
        "windowsInteropPostMessage": "readonly",
        "windowsInteropAddEventListener": "readonly",
        "windowsInteropRemoveEventListener": "readonly"
    },
    "rules": {
        "no-restricted-syntax": [
            "error",
            {
                "selector": "MethodDefinition[key.type='PrivateIdentifier']",
                "message": "Private methods are currently unsupported in older WebKit and ESR Firefox"
            }
        ],
        "indent": ["error", 4],
        "require-await": ["error"],
        "promise/prefer-await-to-then": ["error"],
        "@typescript-eslint/await-thenable": "error",
        "@typescript-eslint/no-unused-vars": "error"
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    }
}
