build/
docs/
/lib
Sources/ContentScopeScripts/dist/
integration-test/extension/contentScope.js
integration-test/pages/build
integration-test/test-pages/duckplayer/scripts/dist
packages/special-pages/pages/**/public
script-overload-snapshots/
packages/special-pages/playwright-report/
packages/special-pages/test-results/
packages/special-pages/types/
/playwright-report
/test-results
src/types
