build/
docs/
injected/lib
Sources/ContentScopeScripts/dist/
injected/integration-test/extension/contentScope.js
injected/integration-test/test-pages/duckplayer/scripts/dist
special-pages/pages/**/public
special-pages/playwright-report/
special-pages/test-results/
special-pages/types/
special-pages/messages/
/playwright-report
/test-results
injected/src/types
