.DS_Store
node_modules/
.swiftpm
.env
.build/
build/
/docs
/screens
test-results/
playwright-report/
Sources/ContentScopeScripts/dist/
test-results

# Test output files (generated during tests)
injected/unit-test/fixtures/page-context/output/

# Local Netlify folder
.netlify
# VS Code user config
.vscode
