build/**/*
docs/**/*
injected/src/types
special-pages/pages/**/types
injected/integration-test/extension/contentScope.js
injected/src/features/Scriptlets
**/*.json
**/*.md
**/*.html
!injected/integration-test/test-pages/infra/pages/conditional-matching.html
**/*.har
**/*.css
