* @jonathanKingston @shakyShane

# Feature owners
src/features/fingerprinting-* @jonathanKingston @englehardt
src/canvas.js @jonathanKingston @englehardt
src/element-hiding.js @jonathanKingston @dharb
src/features/click-to-load.js @kzar @ladamski
src/locales/click-to-load/ @kzar @ladamski

# Platform owners
inject/android.js @jonathanKingston @joshliebe
inject/chrome-mv3.js @kzar @sammacbeth
inject/chrome.js @jonathanKingston @sammacbeth
inject/windows.js @jonathanKingston @q71114 @szanto90balazs

# Test owners
integration-tests/test-pages/ @kdzwinel @jonathanKingston