* @jonathanKingston @shakyShane

# Feature owners
injected/src/features/fingerprinting-* @jonathanKingston @englehardt
injected/src/canvas.js @jonathanKingston @englehardt
injected/src/element-hiding.js @jonathanKingston @dharb
injected/src/features/click-to-load.js @kzar @ladamski @franfaccin @jonathanKingston @shakyShane
injected/src/features/click-to-load/ @kzar @ladamski @franfaccin @jonathanKingston @shakyShane
injected/src/locales/click-to-load/ @kzar @ladamski @franfaccin @jonathanKingston @shakyShane
injected/src/features/broker-protection.js @brianhall @shakyShane
injected/src/features/broker-protection/ @brianhall @shakyShane

# Platform owners
injected/entry-points/android.js @jonathanKingston @joshliebe
injected/entry-points/chrome-mv3.js @kzar @sammacbeth
injected/entry-points/chrome.js @jonathanKingston @sammacbeth
injected/entry-points/windows.js @jonathanKingston @q71114 @szanto90balazs

# Test owners
injected/integration-tests/test-pages/ @kdzwinel @jonathanKingston

# Special Pages
special-pages/ @shakyShane @mgurgel

# Others
types-generator/ @shakyShane
