* @duckduckgo/content-scope-scripts-owners

# Documentation - anyone can edit
injected/docs/

# Feature owners
injected/src/features/fingerprinting-* @duckduckgo/content-scope-scripts-owners @jonathanKingston @englehardt
injected/src/canvas.js @duckduckgo/content-scope-scripts-owners @jonathanKingston @englehardt
injected/src/element-hiding.js @duckduckgo/content-scope-scripts-owners @jonathanKingston @dharb
injected/src/features/click-to-load.js @duckduckgo/content-scope-scripts-owners @kzar @ladamski @franfaccin @jonathanKingston @shakyShane
injected/src/features/click-to-load/ @duckduckgo/content-scope-scripts-owners @kzar @ladamski @franfaccin @jonathanKingston @shakyShane
injected/src/locales/click-to-load/ @duckduckgo/content-scope-scripts-owners @kzar @ladamski @franfaccin @jonathanKingston @shakyShane
injected/src/features/autofill-import.js @duckduckgo/content-scope-scripts-owners @dbajpeyi
injected/src/features/page-context.js @duckduckgo/content-scope-scripts-owners @noisysocks

# Broker protection
injected/src/features/broker-protection.js @duckduckgo/content-scope-scripts-owners @duckduckgo/injected-broker-protection
injected/src/features/broker-protection/ @duckduckgo/content-scope-scripts-owners @duckduckgo/injected-broker-protection
injected/integration-test/page-objects/broker-protection.js @duckduckgo/content-scope-scripts-owners @duckduckgo/injected-broker-protection
injected/integration-test/broker-protection-tests/ @duckduckgo/content-scope-scripts-owners @duckduckgo/injected-broker-protection
injected/integration-test/mocks/broker-protection/ @duckduckgo/content-scope-scripts-owners @duckduckgo/injected-broker-protection
injected/integration-test/test-pages/broker-protection/ @duckduckgo/content-scope-scripts-owners @duckduckgo/injected-broker-protection
injected/unit-test/broker-protection* @duckduckgo/content-scope-scripts-owners @duckduckgo/injected-broker-protection

# Platform owners
injected/src/features.js @duckduckgo/content-scope-scripts-owners @duckduckgo/apple-devs @duckduckgo/android-devs @duckduckgo/team-windows-development @duckduckgo/extension-owners
Sources/ @duckduckgo/content-scope-scripts-owners @duckduckgo/apple-devs
injected/entry-points/android.js @duckduckgo/content-scope-scripts-owners @duckduckgo/android-devs
injected/entry-points/extension-mv3.js @duckduckgo/content-scope-scripts-owners @duckduckgo/extension-owners
injected/entry-points/windows.js @duckduckgo/content-scope-scripts-owners @duckduckgo/team-windows-development

# Test owners
injected/integration-tests/test-pages/ @duckduckgo/content-scope-scripts-owners @kdzwinel @jonathanKingston

# Special Pages
special-pages/ @duckduckgo/content-scope-scripts-owners @shakyShane @mgurgel

# Others
types-generator/ @duckduckgo/content-scope-scripts-owners @shakyShane
