:root {
    --sp-145: calc(580 * var(--px-in-rem));
    /* 580px */
}

body {
    color: var(--theme-text-primary-color);
    margin: var(--sp-6) 0 var(--sp-8);
}

.main {
    padding: var(--sp-6) var(--sp-5);
    position: relative;
    display: grid;
    gap: var(--sp-8);
}

.header {
    max-width: var(--sp-320);
    width: 100%;
    margin: 0 auto;
}

.core {
    width: 100%;
    max-width: var(--sp-145);
    margin: 0 auto;
}
