.contentPlaceholder {
    & h2,
    & p {
        background: var(--color-black-at-6);
    }
    [data-theme="dark"] {
        & h2,
        & p {
            background: var(--color-white-at-6);
        }
    }

    h2 {
        border-radius: var(--sp-3);
        height: var(--sp-6);
        width: 75%;
    }

    p {
        border-radius: var(--sp-2);
        height: var(--sp-4);
        margin-top: var(--sp-2);
        width: 50%;
    }

    ul {
        margin-top: var(--sp-6);
    }

    li {
        margin-top: var(--sp-4);
        padding-left: var(--sp-5);
        position: relative;
        padding-left: var(--sp-6);

        &::before {
            background: var(--color-black-at-6);
            border-radius: 0.375rem;
            content: '';
            display: inline-block;
            width: var(--sp-3);
            height: var(--sp-3);
            position: absolute;
            top: 0.125rem;
            left: 0;
        }

        [data-theme=dark] {
            &::before {
                background: var(--color-white-at-6);
            }
        }


        p {
            width: 100%;

            &:last-child {
                width: 50%;
            }
        }
    }
}