.background {
    position: fixed;
    z-index: 0;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* Modern browsers support multiple `background-size` so add grain */
    background-color: #FDEDE5;
    background-image: url("../../../public/assets/img/grain.png"), url("../../../public/assets/img/background.jpg");
    background-blend-mode: overlay, normal;
    background-repeat: repeat, no-repeat;
    background-size: 100px, cover;

    @media only screen and (min-width: 481px) {
        background-size: 100px, 200% 100%;
    }
    @media only screen and (min-width: 801px) {
        background-size: 100px, 100% 100%;
    }
    @media (prefers-color-scheme: dark) {
        background-color: #37214F;
        background-image: url("../../../public/assets/img/grain-dark.png"), url("../../../public/assets/img/background-dark.jpg");
        background-blend-mode: overlay, normal;
        background-repeat: repeat, no-repeat;
        background-size: 100px, cover;
    }
}

.foreground {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;

    animation-duration: 50s;

    animation-fill-mode: both;
    animation-timing-function: linear;

    @media (prefers-color-scheme: dark) {
        opacity: .1;
    }
}
.foreground.layer1 {
    background-image: url("../../../public/assets/img/layer1_legacy.svg");
    animation-name: slidein1;
}
.foreground.layer2 {
    background-image: url("../../../public/assets/img/layer2_legacy.svg");
    animation-name: slidein2;
}
.foreground.layer3 {
    background-image: url("../../../public/assets/img/layer3_legacy.svg");
    animation-name: slidein3;
}
@media only screen and (max-width: 480px) {
    .foreground {
        display: none
    }
}
@keyframes slidein1 {
    from {
        transform: translateX(110vw);
    }

    to {
        transform: translateX(40vw);
    }
}
@keyframes slidein2 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(40vw);
    }
}
@keyframes slidein3 {
    from {
        transform: translateX(120vw);
    }

    to {
        transform: translateX(40vw);
    }
}
