.root {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: .5rem;
    font-size: 0.8rem;
}
.item {}
.link {
    padding: .5rem 1rem;
    border-radius: .2rem;
    display: block;
    color: white;
    text-decoration: none;

}
.link:hover {
    background: var(--ddg-color-primary-bg);
}

.link[data-active=true] {
    background: var(--ddg-color-primary-bg);
}

.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: .5rem;
    font-size: 0.8rem;
}

.subnavLink {
    padding: .5rem 1rem;
    border-radius: .2rem;
    display: block;
    text-decoration: none;
    color: var(--ddg-color-primary);
}

.subnavLink[data-active=true], .subnavLink:hover {
    background: var(--ddg-color-primary);
    color: white;
}
