.main {
    position: relative;
}
.container {
    position: relative;
    width: calc(100% - 64px);
    max-width:  640px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);

    &[data-current="welcome"] {
        transform: translateY(calc(50vh - 288px));
    }
    &[data-current="getStarted"] {
        transform: translateY(calc(50vh - 288px));
    }
    &[data-exiting="true"] {

    }
}

[data-exiting="true"] {
    animation-name: slideout;
    animation-duration: 500ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);

    &[data-delay="normal"] {
        animation-delay: var(--anim-delay);
    }

    &[data-delay="double"] {
        animation-delay: var(--anim-delay-double);
    }

    &[data-current="welcome"], [data-current="getStarted"] {
        animation: none;
    }
}

@keyframes slideout {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100px);
        opacity: 0;
    }
}

/* New styles */

.content {
    display: grid;
    padding: var(--sp-6);
    row-gap: var(--sp-6);
}

.content.boxed {
    backdrop-filter: blur(var(--sp-16));
    background: var(--color-white-at-24);
    border-radius: var(--sp-8);
    box-shadow: 0px 8px 24px 0px rgba(62, 34, 140, 0.06), 0px 32px 128px 0px rgba(30, 66, 164, 0.09);

    @media (prefers-color-scheme: dark) {
        background: var(--color-black-at-48);
        box-shadow: 0px 8px 24px 0px rgba(7, 0, 25, 0.06), 0px 32px 128px 0px rgba(5, 17, 51, 0.09);
    }
}

.heading {
    display: inline-grid;
    grid-template-columns: var(--sp-16) auto;
    justify-self: start;
    margin-top: calc(-1 * var(--sp-10));
    margin-left: calc(-1 * var(--sp-10));
}

.headingContents {
    padding: calc(18 * var(--px-in-rem)) var(--sp-6);

    & h1 { /* TODO: Windows */
        font-size: var(--sp-7);
        line-height: var(--sp-8);
        font-weight: 700;
    }
}

.logo img {
    height: var(--sp-16);
    width: var(--sp-16);
}

.speechBubble {
    display: inline-grid;
    grid-template-columns: var(--sp-8) auto;
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.12)) drop-shadow(0px 8px 24px rgba(62, 34, 140, 0.06)) drop-shadow(0px 8px 32px rgba(30, 66, 164, 0.09));

    @media (prefers-color-scheme: dark) {
        filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.18)) drop-shadow(0px 8px 24px rgba(7, 0, 25, 0.06)) drop-shadow(0px 8px 32px rgba(5, 17, 51, 0.09));
    }
}

.speechBubbleCallout {
    background-image: url('../../src/assets/img/speech-callout.svg');
    background-position: right var(--sp-8);
    background-repeat: no-repeat;

    @media (prefers-color-scheme: dark) {
        background-image: url('../../src/assets/img/speech-callout-dark.svg');
    }
}

.speechBubbleContents {
    align-items: center;
    backdrop-filter: blur(var(--sp-16));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.84) 0%, rgba(255, 255, 255, 0.60) 100%);
    border-radius: var(--sp-6);
    color: var(--color-black-at-84);
    display: grid;
    gap: var(--sp-6);
    justify-items: start;
    min-height: var(--sp-24);
    padding: var(--sp-6) var(--sp-7);

    & h1 { /* TODO: Windows */
        font-size: var(--sp-5);
        line-height: 1.2;
        font-weight: 600;
    }

    & h2 { /* TODO: Windows */
        font-size: var(--sp-4);
        font-weight: 400;
        line-height: 1.25;
    }

    @media (prefers-color-scheme: dark) {
        background: linear-gradient(180deg, #333 0%, rgba(51, 51, 51, 0.72) 100%);
        color: var(--color-white-at-84);
    }
}