/* Header */
.header {
    display: flex;
    gap: var(--sp-6);
    align-items: center;
    flex-direction: row;
    padding-left: 80px;
    position: relative;
    min-height: var(--sp-14);
}

.logo {
    width: var(--sp-14);  /* 56px */
    height: var(--sp-14); /* 56px */
    position: absolute;
    top: 0;
    left: 0;
}

.aside {
    width: 64px;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sp-14);  /* 56px */
    height: var(--sp-14); /* 56px */
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(43, 26, 77, 0.05),
    0px 8px 24px rgba(26, 43, 77, 0.05);

    animation-name: bouncein2;
    animation-duration: 500ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);

    &[data-delay="normal"] {
        animation-delay: var(--anim-delay);
    }

    &[data-delay="double"] {
        animation-delay: var(--anim-delay-double);
    }
}

@keyframes bouncein2 {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    33% {
        transform: scale(1.4);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.titleContainer {
    flex: 1;
}

.title {
    /* https://github.com/system-fonts/modern-font-stacks */
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.22px;
    color: var(--theme-txt-color-title);
}
