.list {
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    border-radius: 12px;
    border: 1px solid var(--color-black-at-6);
    background-color: var(--color-black-at-1);
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px);
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;

    /* this 'li' styling is only for proximity spacing */
    > li {
        position: relative;
    }

    > li + li:after {
        content: " ";
        background: var(--color-black-at-3);
        position: absolute;
        top: -28px;
        width: 100%;
        height: 1px;
    }

    /** dark mode **/
    @media (prefers-color-scheme: dark) {
        border: 1px solid var(--color-white-at-9);
        background: var(--color-white-at-3);

        > li + li:after {
            background: var(--color-white-at-3);
        }
    }
}

.summaryList {
    display: flex;
    flex-direction: column;
    gap: var(--sp-3);
}
