:root {
    --switch-handle-color: var(--color-black-at-60);
    --track-bg-color: var(--color-black-at-3);
    --track-border-color: var(--color-black-at-60);
    --track-bg-color-active: var(--color-black-at-9);

    --switch-handle-color-checked: white;
    --track-bg-color-checked: var(--ddg-color-primary);
    --track-border-color-checked: var(--ddg-color-primary);

    /* todo(Shane): naming/vars/design tokens */
    --track-bg-color-checked-active: #2B55CA;
    --track-border-color-checked-active: #2B55CA;
}

@media (prefers-color-scheme: dark) {
    :root {
        --track-border-color: var(--color-white-at-60);
        --track-bg-color: var(--color-black-at-9);
        --track-bg-color-active: var(--color-white-at-9);

        --switch-handle-color: var(--color-white-at-84);
        --switch-handle-color-checked: black;

        --track-bg-color-checked: var(--ddg-color-primary-dark);
        --track-border-color-checked: var(--ddg-color-primary-dark);

        --track-bg-color-checked-active: var(--ddg-color-primary);
        --track-border-color-checked-active: var(--ddg-color-primary);
    }
}

.toggleSwitch {
    vertical-align: top;
    isolation: isolate;
    align-items: flex-start;
    max-inline-size: 100%;
    display: inline-flex;
    position: relative;
}

.input {
    box-sizing: border-box;
    opacity: .0001;
    z-index: 1;
    cursor: default;
    block-size: 100%;
    inline-size: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: initial;
    appearance: auto;
    background-color: initial;
}

.switch {
    box-sizing: border-box;
    inline-size: 40px;
    margin: 0;

    vertical-align: middle;
    will-change: transform;

    transition-delay: 0s;
    transition-duration: 0.13s;
    transition-property: background, border;
    transition-timing-function: ease-in-out, ease-in-out;

    block-size: 20px;
    border-radius: 10px;

    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    left: 0;
    right: 0;
}

[data-variant="apple"] .switch {
    inline-size: 26px;
    block-size: 15px;
}

.switch:before {
    content: "";
    box-sizing: border-box;
    inline-size: 12px;
    block-size: 12px;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    transition: all .3s;
    background: var(--switch-handle-color);
}

[data-variant="apple"] .switch:before {
    inline-size: 13px;
    block-size: 13px;
    top: 1px;
    left: 1px;
    background: #fff;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.10)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.05));
}

@media (prefers-color-scheme: dark) {
    [data-variant="apple"] .switch:before {
        background: #CECECE;
        box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.10)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.05));
    }
}

.switch:after {
    border-radius: 11px;
    content: "";
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(0);
    transition: all .3s;

    border: 1px solid var(--track-border-color);
    background-color: var(--track-bg-color);

}
[data-variant="apple"] .switch:after {
    border: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.10);
    /* Mac/Switch - Track */
    box-shadow: 0px 0.5px 1px 1px rgba(10, 15, 20, 0.04) inset, 0px 0px 0px 0.5px rgba(10, 15, 20, 0.12) inset;
}
@media (prefers-color-scheme: dark) {
    [data-variant="apple"] .switch:after {
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.10) inset, 0px 0px 0px 0.5px rgba(255, 255, 255, 0.06) inset;
    }
}

input:active + .switch:after {
    background-color: var(--track-bg-color-active);
}

input:checked + .switch:before {
    transform: translateX(calc(100% + 8px));
    background-color: var(--switch-handle-color-checked);
}

[data-variant="apple"] input:checked + .switch:before {
    transform: translateX(calc(100% - 2px));
    background-color: var(--switch-handle-color-checked);
}

input:checked + .switch:after {
    background-color: var(--track-bg-color-checked);
    border-color: var(--track-border-color-checked);
}

input:checked:active + .switch:after {
    background-color: var(--track-bg-color-checked-active);
    border-color: var(--track-border-color-checked-active);
}

@media (prefers-color-scheme: dark) {
    [data-variant="apple"] input:checked + .switch:before {
        background: #CECECE;
        box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.10)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.05));
    }
    [data-variant="apple"] input:checked + .switch:after {
        background: linear-gradient(180deg, #3969EF 0%, #2C4AAC 0.01%, #3152BF 100%);
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.10) inset, 0px 0px 0px 0.5px rgba(255, 255, 255, 0.06) inset;
    }
}
