<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ContentScopeScripts</string>
    <key>CFBundleIdentifier</key>
    <string>com.duckduckgo.ContentScopeScripts</string>
    <key>CFBundleVersion</key>
    <string>pr-1804</string>
    <key>CFBundleShortVersionString</key>
    <string>pr-1804</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>iPhoneOS</string>
        <string>iPhoneSimulator</string>
        <string>MacOSX</string>
    </array>
</dict>
</plist>
