.button {
    border: none;
    outline: none;
    display: flex;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 20px;
    flex-shrink: 0;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.button:hover, .button:focus-visible {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.button[data-fill=true] {
    flex: 1;
    text-align: center;
    justify-content: center;
}

.button[data-icon="only"] {
    width: 44px;
    padding: 0 8px;
    position: relative;

}
.button[data-formfactor="desktop"] {
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    font-weight: 600;

    .icon {
        width: 16px;
        height: 16px;
    }
}
.button[data-formfactor="desktop"][data-icon="only"] {
    width: 32px;
}

.button[data-icon="only"] .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.button[data-highlight=true] {
    transition: all .3s ease-in-out;
    transition-delay: 2s;
    background: rgba(255, 255, 255, 0.2);
}

.button[data-highlight=true] .icon img {
    transition: all .3s ease-in-out;
    transition-delay: 2s;
    transform: scale(1.1);
}

.icon  {
}
.icon img {
    display: block;
    width: 100%;
}
