[data-focus-mode="on"] .fade {
    opacity: 0;
    visibility: hidden;
}

[data-focus-mode="on"] .slide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
}

.hideInFocus {
    opacity: 1;
    visibility: visible;
    top: 0;
    transition: all .3s;
}
