.container {
    border-radius: 14px;
}

.container[data-inset=true] {
    padding: 8px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.3);
    transition: background 1s;
}

[data-focus-mode=on] .container[data-inset=true] {
    background: none;
}

.internals {
    display: grid;
    overflow: hidden;
}

.internals[data-inset=true] {
    gap: 8px;
}
