.root {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: var(--frame-height);
}

.root.mobile {
    aspect-ratio: 16/9;
    border-radius: var(--inner-radius);
    height: auto;
}

.root.desktop {
    height: var(--frame-height);
}

.player {
    font-size: 0;
}

.iframe {
    height: 100%;
    width: 100%;
}

.iframe.desktop {
    height: var(--frame-height);
    width: 100%;
    z-index: 1;
    position: relative;
}

.desktop {
    border-top-left-radius: var(--outer-radius);
    border-top-right-radius: var(--outer-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.error {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #2f2f2f;
}
