.switchBarDesktop {
    display: flex;
    align-items: center;
}

.stateCompleted {
    display: none;
}

.stateExiting {
    transition: all .5s ease-in-out;
    transition-delay: 2s;
    opacity: 0;
    visibility: hidden;
}

.label {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    overflow: hidden;
}

.stateExiting .label {
    animation: slide-out .5s forwards;
    animation-delay: 2s;
}


@keyframes slide-out {
    0% { transform: translateX(0) }
    100% { transform: translateX(100%) }
}

.checkbox {
    display: block;
}

.stateExiting .input {
    pointer-events: none;
}

.input {
    display: block;

    &:focus-visible {
        outline: 1px solid white;
        outline-offset: 2px;
    }
}

.input[disabled] {}
.text {
    line-height: 1;
    &:hover {
        cursor: pointer;
    }
}
