.switch {
    margin: 0;
    padding: 0;
    width: 52px;
    height: 32px;
    border: 0;
    box-shadow: none;
    background: rgba(136, 136, 136, 0.5);
    border-radius: 32px;
    position: relative;
    transition: all .3s;
}

.switch:active .thumb {
    scale: 1.15;
}

.thumb {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: white;
    position: absolute;
    top: 4px;
    left: 4px;
    pointer-events: none;
    transition: .2s left ease-in-out;
}

.switch[aria-checked="true"] .thumb {
    left: calc(100% - 32px + 4px)
}
.switch[aria-checked="true"] {
    background: rgba(57, 105, 239, 1)
}

.ios {
    width: 51px;
    height: 31px;
}

.ios .thumb {
    top: 2px;
    left: 2px;
    width: 27px;
    height: 27px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25)
}

.ios:active .thumb {
    scale: 1;
}

.ios[aria-checked="true"] .thumb {
    left: calc(100% - 32px + 3px)
}

.android {}
