.tooltip {
    position: absolute;
    background: linear-gradient(0deg, rgba(48, 48, 48, 0.35), rgba(48, 48, 48, 0.35)), rgba(33, 33, 33, 0.55);
    background-blend-mode: normal, luminosity;
    box-shadow: inset 0px 0px 1px #ffffff;
    filter: drop-shadow(0px 0px 1px #000000) drop-shadow(0px 0px 1px #000000) drop-shadow(0px 0px 1px #000000)
    drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(76px);
    border-radius: 10px;
    width: 300px;
    font-weight: normal;
    padding: 12px;
    left: -162px;
    top: 32px;
    color: white;
    display: none;
    z-index: 1;
}

.tooltip[aria-hidden=false] {
    display: block  ;
}

.tooltip::after {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #5f5f5f;
    display: block;
    position: absolute;
    top: -8px;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
    background: #1d1d1d;
    left: 162px;
}

.top {
    top: -100px;
    z-index: 50;
}

.top::after {
    top: calc(100% - 7px);
    transform: rotate(225deg);
}

.bottom {}

.tooltip.visible {
    display: block;
}
