.wordmark {
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 8px;
}
.logo {
    width: 32px;
    height: 32px;
}
.img {
    display: block;
    width: 100%;
}
.text {
    font-size: 19px;
    font-weight: bold;
}
