:root {
    /* H1 title */
    --title-font-size: 20px;
    --title-font-weight: 600;
    --title-line-height: 18px;

    /* Mac/System/Body */
    --body-font-size: 13px;
    --body-font-weight: 400;
    --body-line-height: 16px;

    /* Mac/System/Label */
    --label-font-size: 13px;
    --label-font-weight: 510;
    --label-line-height: 13px;

    /* title 3 em */
    --title-3-em-font-size: 15px;
    --title-3-em-font-weight: 590;
    --title-3-em-line-height: 20px;
}

body {
    --default-light-background-color: var(--color-gray-0);
    --default-dark-background-color: var(--color-gray-85);
}

/* This comes from the application settings */
:root:has([data-platform="windows"]) {
    /* H1 title */
    --title-font-size: 24px;
    --title-font-weight: 600;
    --title-line-height: 32px;

    /* Windows/System/Body */
    --body-font-size: 14px;
    --body-font-weight: 400;
    --body-line-height: 20px;

    /* Windows/Title 3 (Emphasis); */
    --title-3-em-font-size: 16px;
    --title-3-em-font-weight: 600;
    --title-3-em-line-height: 20px;

    /* Windows/System/Label */
    --label-font-size: 14px;
    --label-font-weight: 400;
    --label-line-height: normal;
}

[data-theme=light] {
    --settings-background-color: var(--default-light-background-color);
    --settings-surface-background-color: var(--color-white-at-30);
    --settings-surface-border-color: var(--color-black-at-9);
    --settings-scrollbar-controls-color: var(--color-black-at-18);
    --settings-text-normal: var(--color-black-at-84);
    --settings-text-invert: var(--color-white-at-84);
    --settings-text-muted: var(--color-black-at-60);
}

[data-theme=dark] {
    --settings-background-color: var(--default-dark-background-color);
    --settings-surface-background-color: var(--color-black-at-18);
    --settings-surface-border-color: var(--color-white-at-12);
    --settings-scrollbar-controls-color: var(--color-white-at-18);
    --settings-surface-color: var(--color-white-at-12);
    --settings-text-normal: var(--color-white-at-84);
    --settings-text-invert: var(--color-black-at-84);
    --settings-text-muted: var(--color-white-at-60);
}