/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global #app {
    height: 100%;
}

/* This doesn't need guarding behind app version, because it will be absent elsewhere */
body:has(main[data-fixed-height="true"]) {
    overflow-y: hidden;
}

[data-app-version="2"] {
    .main {
        font-family: system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        height: 100%;
        position: relative;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width:  640px;
        padding-bottom: 80px;
        padding-top: 80px;
        position: relative;
        width: calc(100% - 64px);
        z-index: 1;

        transition: transform 0.3s ease-in-out;
        transform: translateY(0);

        &[data-current="welcome"] {
            transform: translateY(calc(50vh - 288px));
        }
        &[data-current="getStarted"] {
            transform: translateY(calc(50vh - 288px));
        }
    }

    [data-exiting="true"] {
        animation-name: none;
    }
}
