.imgWrap {
    padding-bottom: 48%;
    height: 0;
    position: relative;
}

.imgWrap img, .imgWrap canvas, .media {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
