/* Progress bar */
.progressContainer {
    white-space: nowrap;
    text-align: right;
    min-width: 64px;

    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    color: var(--theme-txt-color-progress);
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
    animation-delay: 300ms;
    opacity: 0;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.count {
    text-align: right;
}

.progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
}

.progress[value]::-webkit-progress-bar {
    border-radius: 64px;
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.18);
}

@media (prefers-color-scheme: dark) {
    .progress[value]::-webkit-progress-bar {
        background: rgba(255, 255, 255, 0.09);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}

.progress[value]::-webkit-progress-value {
    background: linear-gradient(90deg, #3969ef 0%, #6b4eba 48.24%, #de5833 100%);
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24); */
    border-radius: 72px;
}

/* Single Line variant */

.singleLineContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: var(--sp-2);
    align-items: center;

    & .progress {
        order: -1;
    }

    [data-reduced-motion="true"] & {
        opacity: 1;
    }
}
