@import url("../../../../shared/styles/variables.css");
@import url("../styles/base.css");
@import url("../styles/ntp-theme.css");

body {
    background: var(--ntp-background-color);
    color: var(--ntp-text-normal);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
}

.layout {
    padding-top: var(--sp-16);
    padding-bottom: var(--sp-16);
    margin-left: auto;
    margin-right: auto;
}

body:has([data-reset-layout="true"]) .layout {
    padding-top: 0;
}

:global(.layout-centered) {
    margin-inline: auto;
    max-width: calc(504 * var(--px-in-rem));
}
