@import url("../../../../shared/styles/variables.css");
@import url("../styles/base.css");
@import url("../styles/ntp-theme.css");

body {
    background: var(--ntp-background-color);
    color: var(--ntp-text-normal);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
}

.tube {
    padding-top: var(--sp-16);
    padding-bottom: var(--sp-16);
    margin-left: auto;
    margin-right: auto;
}

body:has([data-reset-layout="true"]) .tube {
    padding-top: 0;
}

:global(.layout-centered) {
    margin-inline: auto;
    width: 100%;
    max-width: calc(504 * var(--px-in-rem));
}

/** Don't affect layout if empty (eg: if a widget was toggled) **/
:global(.layout-centered:empty) {
    display: contents;
}

.layout {
    display: grid;
    grid-template-columns: auto 0;
    transition: all ease .3s;
    position: relative;

    &[data-drawer-visibility='visible'] {
        grid-template-columns: auto var(--ntp-drawer-width);
    }
}

.main {
    &[data-customizer-kind="drawer"] {
        overflow: hidden;
        height: 100vh;
    }
}

.active {}

.aside {
    overflow: hidden;
    height: 100vh;
    background: var(--ntp-surfaces-panel-background-color);
    z-index: 1;

    /** todo: is this re-usable in any way, or unique? */
    box-shadow: 0px 0px 1px 0px #FFF inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 8px 12px 0px rgba(0, 0, 0, 0.12);
    @media screen and (prefers-color-scheme: dark) {
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.60) inset, 0px 0px 2px 0px rgba(0, 0, 0, 0.16), 0px 8px 12px 0px rgba(0, 0, 0, 0.24);
    }
}

.asideContent {
    box-sizing: border-box;
    height: 100vh;
    width: var(--ntp-drawer-width);
    padding: var(--sp-2);
}
