.root {
    position: fixed;
    z-index: 0;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;

    &[data-animate="true"] {
        transition: background .3s;
    }
}

.under {
    opacity: 1;
}
.over {
    opacity: 0;
}
