.root {
    position: fixed;
    z-index: 0;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    &[data-animate="true"] {
        transition: all .3s ease-in-out;
    }

    &[data-background-kind="default"][data-theme=dark] {
        background: var(--default-dark-bg);
    }
    &[data-background-kind="default"][data-theme=light] {
        background: var(--default-light-bg);
    }
}
