.root {
    position: fixed;
    z-index: 0;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;

    &[data-state="loadingFirst"] {
        animation-name: fade-in;
        animation-fill-mode: both;
        animation-duration: .25s;
        animation-iteration-count: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

