.btn {
    border-width: 0;
    text-wrap: nowrap;
    font-weight: 600;
    height: 1rem;
    width: 1rem;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    color: var(--ds-color-theme-text-secondary);
    border: none;
    border-radius: 50%;
    transition: all .3s;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &:hover {
        background-color: var(--color-black-at-9);
        cursor: pointer;
    }

    &:active {
        background-color: var(--color-black-at-18);
        color: var(--ds-color-theme-text-primary);
    }

    &:disabled {
        color: var(--color-black-at-84);
    }

    &:disabled:hover {
        cursor: not-allowed;
        background-color: var(--color-white-at-6);
    }

    &:focus-visible {
        box-shadow: var(--focus-ring);
        outline: none;
    }

    [data-theme=dark] & {
        &:hover {
            background-color: var(--color-black-at-9);
        }

        &:active {
            background-color: var(--color-white-at-18);
        }

        &:disabled {
            color: var(--color-white-at-12);
            opacity: 0.8;
        }

        &:disabled:hover {
            cursor: not-allowed;
            background-color: var(--color-white-at-12);
        }
    }
}
