.btn {
    border-width: 0;
    text-wrap: nowrap;
    font-weight: 600;
    height: 1rem;
    width: 1rem;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    color: var(--ds-color-theme-icons-primary);
    border: none;
    border-radius: 50%;
    transition: all .3s;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &:hover:not(:disabled) {
        background-color: var(--ds-color-theme-control-fill-primary);
        cursor: pointer;
    }

    &:active:not(:disabled) {
        background-color: var(--ds-color-theme-control-fill-secondary);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    &:focus-visible {
        box-shadow: var(--focus-ring);
        outline: none;
    }
}
