.container {
    position: relative;
}

.container.open {
    z-index: 1000;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    min-width: calc(180 * var(--px-in-rem));
    margin-top: var(--sp-1);
    padding: 5px;
    list-style: none;
    background-color: #fff;
    border-radius: var(--border-radius-sm);
    box-shadow:
        0px 10px 24px rgba(0, 0, 0, 0.16),
        0px 0px 0px 1px rgba(0, 0, 0, 0.09);
    overflow: visible;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(28 * var(--px-in-rem));
    padding: 0 calc(9 * var(--px-in-rem));
    border: none;
    background: none;
    color: var(--ds-color-theme-text-primary, rgba(0, 0, 0, 0.96));
    font-size: calc(13 * var(--px-in-rem));
    font-weight: 400;
    line-height: 1;
    text-align: left;
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    gap: calc(6 * var(--px-in-rem));
    box-sizing: border-box;
    overflow: visible;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    &:focus-visible {
        background-color: rgba(0, 0, 0, 0.08);
        outline: none;
    }
}

.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    flex-shrink: 0;
    margin-left: -5px;
    margin-right: -2px;
    color: var(--ds-color-theme-icons-primary, rgba(0, 0, 0, 0.84));
}

.checkIcon {
    width: 11px;
    height: 11px;
}

.icon {
    width: calc(16 * var(--px-in-rem));
    height: calc(16 * var(--px-in-rem));
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ds-color-theme-icons-primary, rgba(0, 0, 0, 0.84));

    & svg {
        width: 100%;
        height: 100%;
    }
}

.itemLabel {
    flex: 1;
}

.separator {
    height: calc(11 * var(--px-in-rem));
    position: relative;
    margin: 0 var(--sp-2_5);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        background-color: var(--ds-color-theme-surface-decoration-primary, rgba(0, 0, 0, 0.09));
    }
}
