.chevronButton {
    transition: all .3s;
    .chevronCircle {
        fill: black;
        fill-opacity: 0.06;

        [data-theme=dark] & {
            fill: white;
            fill-opacity: 0.12;
        }
    }
}

.chevronArrow {
    [data-theme=dark] & {
        fill: white;
        fill-opacity: 0.5;
    }
}


