.chevronButton {
    &:hover .chevronCircle {
        fill: black;
        fill-opacity: 0.06;

        @media screen and (prefers-color-scheme: dark) {
            fill: white;
            fill-opacity: 0.12;
        }
    }
}

.chevronCircle {
    transition: all .3s;
    fill-opacity: 0;
}

.chevronArrow {
    @media screen and (prefers-color-scheme: dark) {
        fill: white;
        fill-opacity: 0.5;
    }
}


