.chevronButton {
    transition: all .3s;
    .chevronCircle {
        fill: black;
        fill-opacity: 0.06;

        [data-theme=dark] & {
            fill: white;
            fill-opacity: 0.12;
        }
    }
}

.chevronArrow {
    [data-theme=dark] & {
        fill: white;
        fill-opacity: 0.5;
    }
}

/* InfoIcon styles */
:global(.info-icon-fill) {
    fill: black;
    fill-opacity: 0.36;
}

[data-theme=dark] :global(.info-icon-fill) {
    fill: white;
    fill-opacity: 0.24;
}
