.popover {
    align-items: center;
    display: flex;
    filter: drop-shadow(0 0 calc(0.5px) rgba(0, 0, 0, 0.75))
            drop-shadow(0 0 calc(1px) rgba(0, 0, 0, 0.25))
            drop-shadow(0 calc(8px) calc(24px) rgba(0, 0, 0, 0.20));
    flex-direction: row;
    left: calc(100% + var(--popover-offset-x, 0px));
    outline: none;
    position: absolute;
    top: calc(50% + var(--popover-offset-y, 0px));
    transform: translateY(-50%);
    width: 380px;
    z-index: 1000;

    &[data-position="bottomRight"] {
        bottom: calc(100% - var(--popover-offset-y, 0px));
        flex-direction: column;
        left: auto;
        right: calc(0px - var(--popover-offset-x, 0px));
        top: auto;
        transform: none;
    }
}

.content {
    align-items: center;
    background: var(--ds-color-theme-surface-tertiary);
    border-radius: 10px;
    display: flex;
    flex: auto;
    gap: var(--sp-4);
    padding: var(--sp-2) var(--sp-8) var(--sp-2) var(--sp-2);
    position: relative;
}

.closeButton {
    position: absolute;
    right: var(--sp-4);
    top: var(--sp-4);
}

.imageContainer {
    flex: none;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
    padding: var(--sp-2) 0 var(--sp-2) var(--sp-2);
}

/* When image is present, remove extra left padding */
.imageContainer + .textContainer {
    padding-left: 0;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
}

.title {
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
}

.description {
    button {
        background: none;
        border: none;
        color: var(--ds-color-theme-accent-primary);
        cursor: pointer;
        padding: 0;
        transform: translateZ(0); /* Fix shadow rendering issue on .popover in WebKit */

        &:hover {
            color: var(--ds-color-theme-accent-secondary);
        }

        &:active {
            color: var(--ds-color-theme-accent-tertiary);
        }

        &:focus-visible {
            box-shadow: var(--focus-ring);
            outline: none;
        }
    }
}

.arrow {
    color: var(--ds-color-theme-surface-tertiary);
    margin-right: -1px;

    .popover[data-position="bottomRight"] & {
        align-self: flex-end;
        margin-bottom: -9px;
        margin-right: var(--sp-10);
        margin-top: -9px;
        order: 1;
        transform: rotate(-90deg);
    }
}
