.popover {
    align-items: center;
    display: flex;
    filter: drop-shadow(0 0 calc(0.5px) rgba(0, 0, 0, 0.75))
            drop-shadow(0 0 calc(1px) rgba(0, 0, 0, 0.25))
            drop-shadow(0 calc(8px) calc(16px) rgba(0, 0, 0, 0.20));
    flex-direction: row;
    left: calc(100% + 7px);
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 390px;
    z-index: 1000;
}

.content {
    background: var(--ds-color-theme-surface-tertiary);
    border-radius: 16px;
    flex: auto;
    padding: var(--sp-4) var(--sp-11) var(--sp-4) var(--sp-5);
    position: relative;
}

.closeButton {
    position: absolute;
    right: var(--sp-4);
    top: var(--sp-4);
}

.heading {
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
}

.badge {
    background: var(--color-yellow-60);
    border-radius: var(--border-radius-xs);
    color: var(--color-black);
    font-size: 11.5px;
    font-weight: 600;
    line-height: var(--sp-4);
    padding: 0 var(--sp-2);
    text-transform: uppercase;
    width: fit-content;
}

.title {
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
}

.description {
    button {
        background: none;
        border: none;
        color: var(--ds-color-theme-accent-primary);
        cursor: pointer;
        padding: 0;
        transform: translateZ(0); /* Fix shadow rendering issue on .popover in WebKit */

        &:hover {
            color: var(--ds-color-theme-accent-secondary);
        }

        &:active {
            color: var(--ds-color-theme-accent-tertiary);
        }

        &:focus-visible {
            box-shadow: var(--focus-ring);
            outline: none;
        }
    }
}

.arrow {
    color: var(--ds-color-theme-surface-tertiary);
    margin-right: -1px;
}
