.button {
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ntp-text-normal);
    height: 32px;
    width: 32px;
    line-height: 32px;
    gap: 6px;
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
    border-radius: 50%;

    svg {
        transition: transform .3s;
    }

    &[aria-pressed=true] svg {
        transform: rotate(-180deg);
    }

    &:focus-visible {
        opacity: 1;
        box-shadow: var(--focus-ring);
    }
}
