.button {
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ntp-text-normal);
    height: var(--ntp-gap);
    width: 100%;
    border-radius: var(--border-radius-sm);

    &.round {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        padding-inline: 0;
        background-color: transparent;
        color: var(--ntp-text-muted);

        .iconBlock,
        svg path {
            background-color: transparent;
            box-shadow: none;
            fill-opacity: 0;
            transition: all 0.3s ease-in;
        }

        &:hover {
            .iconBlock {
                backdrop-filter: blur(48px);
                background-color: var(--color-black-at-6);

                [data-theme=dark] & {
                    background-color: var(--color-white-at-12);
                }
            }

            svg path {
                fill-opacity: 1;
            }
        } 

        &:focus-visible {
            box-shadow: var(--focus-ring);
        }
    }

    &.withText {
        border: 1px solid var(--color-black-at-9);
        svg {
            margin-right: var(--sp-2);
        }

        &:hover {
            background-color: var(--color-black-at-9);
        }

        &:active {
            background-color: var(--color-black-at-12);
        }
    }

    > * {
        pointer-events: none;
    }

    svg {
        transition: transform .3s;
    }

    .iconBlock {
        backdrop-filter: blur(48px);
        background-color: var(--ntp-surface-background-color);
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 4px 0px var(--color-black-at-12), 0px 0px 3px 0px var(--color-black-at-18);
        color: var(--ntp-text-muted);


        @media (prefers-color-scheme: dark) {
            box-shadow: 0px 2px 4px 0px var(--color-white-at-6), 0px 0px 3px 0px var(--color-white-at-9);
        }
    }

    &[aria-pressed=true] svg {
        transform: rotate(-180deg);
    }

    &:focus-visible {
        opacity: 1;
        box-shadow: var(--focus-ring-thin);
    }

    [data-theme=dark] & {
        &.withText {
            border-color: var(--color-white-at-9);

            &:hover {
                background-color: var(--color-white-at-9);
            }
    
            &:active {
                background-color: var(--color-white-at-12);
            }
        } 
    }
}
