.root {
    position: relative
}

.lowerRightFixed {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.dropdownMenu {
    display: none;
    position: absolute;
    right: 0;
    bottom: calc(100% + 10px);
}

.show {
    display: block;
}

/** todo: is this a re-usable button, yet? */
.customizeButton {
    background-color: transparent;
    border: 1px solid var(--color-black-at-9);
    border-radius: var(--border-radius-sm);
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    gap: 6px;
    color: var(--color-black-at-84);

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-80);
        border-color: var(--color-white-at-9);
    }

    &:focus-visible {
        outline: 1px dotted var(--ntp-focus-outline-color);
    }

    &:hover {
        background-color: var(--color-black-at-6);
        border-color: var(--color-black-at-18);
        @media screen and (prefers-color-scheme: dark) {
            background-color: var(--color-white-at-18);
            border-color: var(--color-white-at-36);
        }
    }

    &:active {
        background-color: var(--color-white-at-12);
        @media screen and (prefers-color-scheme: dark) {
            background-color: var(--color-white-at-24);
            border-color: var(--color-white-at-50);
        }
    }
}




