.dropdownInner {
    background: var(--ntp-surface-background-color);
    padding: var(--sp-1);
    border-radius: 8px;
    backdrop-filter: blur(48px);

    border: 1px solid var(--color-black-at-9);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.20), 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    @media screen and (prefers-color-scheme: dark) {
        border-color: var(--color-white-at-9);
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.09) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.50), 0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 16px 0px rgba(0, 0, 0, 0.40);
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
}

.menuItemLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    font-size: var(--title-3-em-font-size);
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    > * {
        min-width: 0;
    }
}

.svg {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    display: flex;
}

.checkbox {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.checkboxIcon {
    font-size: 0;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--color-black-at-9);
    @media screen and (prefers-color-scheme: dark) {
        border: 1px solid var(--color-white-at-9);
    }
}

.menuItemLabel input:checked + .checkboxIcon  {
    background: var(--color-blue-50);
    border-color: var(--color-blue-50);
}

.menuItemLabel input:checked + .checkboxIcon svg path {
    stroke: white;
}

.menuItemLabel input:focus-visible + .checkboxIcon {
    outline: dotted 1px var(--ntp-focus-outline-color);
    outline-offset: 2px
}
