.card {
    background-color: var(--ntp-surface-background-color);
    border: 1px solid var(--ntp-surface-border-color);
    padding: var(--sp-2) var(--sp-4);
    border-radius: var(--sp-3);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: calc(240 * var(--px-in-rem));
    min-height: calc(150 * var(--px-in-rem));
    font-size: var(--body-font-size);
}

.icon {
    height: 3rem;
    width: 4rem;
    margin-bottom: var(--sp-1);
}



.title {
    font-weight: 590;
    line-height: var(--sp-4);
    letter-spacing: -0.08px;
    color: var(--ntp-text-normal);
    margin-bottom: var(--sp-1);
}

.description {
    font-size: calc(11 * var(--px-in-rem));
    line-height: calc(14 * var(--px-in-rem));
    letter-spacing: 0.06px;
    flex-grow: 1;
    color: var(--ntp-text-muted);
    margin-bottom: var(--sp-1);
}

.btn {
    padding: calc(6 * var(--px-in-rem)) var(--sp-3);
    background-color: transparent;
    border-width: 0;
    border-radius: calc(6 * var(--px-in-rem));
    text-wrap: nowrap;
    font-weight: 600;
    font-size: calc(11 * var(--px-in-rem));
    line-height: calc(11 * var(--px-in-rem));
    color: var(--ntp-color-primary);


    &:hover {
        background-color: var(--color-black-at-6);
        cursor: pointer;
    }

    &:active {
        background-color: var(--ntp-color-primary);
        color: var(--ntp-text-on-primary);
    }

    &:disabled {
        color: var(--color-black-at-84);
    }

    &:disabled:hover {
        cursor: not-allowed;
        background-color: var(--color-white-at-6);
    }

    &:focus-visible {
        box-shadow: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--ntp-focus-outline-color);
    }

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-blue-40);

        &:hover:not(:active) {
            background-color: var(--color-black-at-9);
        }

        &:disabled {
            color: var(--color-white-at-12);
            opacity: 0.8;
        }

        &:disabled:hover {
            cursor: not-allowed;
            background-color: var(--color-white-at-12);
        }

        &:focus-visible {
            box-shadow: 0px 0px 0px 1px var(--ntp-focus-outline-color), 0px 0px 0px 3px var(--color-white);
        }
    }
}

.dismissBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.cardGroup {
    height: 100%;
    width: 100%;
}

.cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--sp-6);
}

.bubble {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    svg path {
        fill: var(--ntp-color-primary);
    }

    p {
        background-color: var(--ntp-color-primary);
        padding: calc(3 * var(--px-in-rem)) 0 var(--sp-1);
        font-size: calc(11 * var(--px-in-rem));
        line-height: normal;
        font-weight: 600;
        letter-spacing: 0.06px;
        color: var(--ntp-text-on-primary);
    }

    @media screen and (prefers-color-scheme: dark) {
        svg path {
            fill: var(--color-blue-40);
        }

        p {
            background-color: var(--color-blue-40);
        }
    }
}


.showhide {
    grid-area: showhide;
    height: 32px;
    display: grid;
    justify-items: center;


&:hover {
    &.showhideVisible [aria-controls] {
        opacity: 1;
    }
}
&:focus-within {
    &.showhideVisible [aria-controls] {
        opacity: 1;
    }
}
}
:root:has(body[data-platform-name="windows"]) {
    .nextStepsCard .title {
        font-weight: 700;
        line-height: 20px;
        letter-spacing: normal;
    }
}