.button {
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-black-at-60);
    height: var(--sp-8);
    width: 100%;
    line-height: var(--sp-8);
    gap: calc(6 * var(--px-in-rem));
    padding: 0;
    font-size: calc(11 * var(--px-in-rem));

    /* these are the horizontal lines on either side of the text */
    span {
        flex-grow: 1;
        height: 50%;
        border-bottom: 1px solid var(--ntp-surface-border-color);
        margin-bottom: auto;
    }

    &:hover {
        cursor: pointer;
    }

    &[aria-pressed=true] svg {
        transform: rotate(180deg);
    }

    &:focus-visible {
        outline: 1px dotted var(--ntp-focus-outline-color);
    }

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-60);

        span {
            border-bottom-color: var(--color-white-at-24);
        }
    }
}
