.button {
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--ntp-text-muted);
    height: var(--sp-8);
    width: 100%;
    line-height: var(--sp-8);
    gap: calc(6 * var(--px-in-rem));
    padding: 0;
    font-size: calc(11 * var(--px-in-rem));

    .icon {
        transition: transform .3s;
    }

    /* these are the horizontal lines on either side of the text */
    span {
        flex-grow: 1;
        height: 50%;
        border-bottom: 1px solid var(--ntp-surface-border-color);
        margin-bottom: auto;
    }

    &:hover {
        cursor: pointer;
    }

    &[aria-pressed=true] .icon {
        transform: rotate(-180deg);
    }

    &:focus-visible {
        box-shadow: var(--focus-ring-thin);
    }

    @media screen and (prefers-color-scheme: dark) {
        span {
            border-bottom-color: var(--color-white-at-24);
        }
    }
}
