.dropdown {
    background: var(--ds-color-theme-surface-tertiary);
    border-radius: 6px;
    border: 1px solid var(--ds-color-theme-container-border-secondary);
    box-shadow: 0 10px 24px var(--ds-color-theme-shadow-primary);
    list-style: none;
    margin: 0;
    min-width: 245px;
    overflow: hidden;
    padding: 5px;
    position: fixed;
    z-index: 100;

    &:focus-visible {
        outline: none;
    }
}

.header {
    align-items: center;
    color: var(--ds-color-theme-text-secondary);
    display: flex;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    letter-spacing: 0.12px;
    line-height: 13px;
    padding: 0 9px 0 19px;
}

.empty {
    color: var(--ds-color-theme-text-secondary);
    font-size: 13px;
    padding: 9px;
}

.item {
    align-items: center;
    border-radius: 3px;
    color: var(--ds-color-theme-text-primary);
    cursor: pointer;
    display: flex;
    font-size: 13px;
    gap: 6px;
    padding: 6px 9px;
    text-align: left;
    white-space: nowrap;

    & > svg {
        flex-shrink: 0;
    }
}

.trailingIcon {
    align-items: center;
    color: var(--ds-color-theme-icons-secondary);
    display: flex;
    margin-left: auto;
}

.itemActive .trailingIcon {
    color: var(--ds-color-theme-accent-content-primary);
}

.itemActive {
    background: var(--ds-color-theme-accent-primary);
    color: var(--ds-color-theme-accent-content-primary);

    .itemDescription {
        color: var(--ds-color-theme-accent-content-secondary);
    }
}

.checkmark {
    flex-shrink: 0;
    height: 12px;
    position: relative;
    width: 4px;

    &::before {
        color: transparent;
        content: '\2713';
        font-size: 13px;
        font-weight: 700;
        left: -5px;
        line-height: 12px;
        position: absolute;
        top: 0;
    }
}

.itemSelected .checkmark::before {
    color: var(--ds-color-theme-text-primary);
}

.itemActive .checkmark::before {
    color: transparent;
}

.itemActive.itemSelected .checkmark::before {
    color: var(--ds-color-theme-accent-content-primary);
}

.itemLabel {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1px;
    min-width: 0;
}

.itemName {
    letter-spacing: -0.08px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
}

.itemDescription {
    line-height: 16px;
    color: var(--ds-color-theme-text-secondary);
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
