/* -- VIDEO PLAYER OVERLAY */
:host {
    color: white;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    min-height: 300px;
    width: 100%;
    color: white;
    --title-size: 16px;
    --title-line-height: 20px;
    --title-gap: 16px;
    --button-gap: 6px;
    --logo-size: 32px;
    --logo-gap: 8px;
    --gutter: 16px;

}
/* iphone 15 */
@media screen and (min-width: 390px) {
    :host {
        --title-size: 20px;
        --title-line-height: 25px;
        --button-gap: 16px;
        --logo-size: 40px;
        --logo-gap: 12px;
        --title-gap: 16px;
    }
}
/* iphone 15 Pro Max */
@media screen and (min-width: 430px) {
    :host {
        --title-size: 22px;
        --title-gap: 24px;
        --button-gap: 20px;
        --logo-gap: 16px;
    }
}
/* small landscape */
@media screen and (min-width: 568px) {
}
/* large landscape */
@media screen and (min-width: 844px) {
    :host {
        --title-gap: 30px;
        --button-gap: 24px;
        --logo-size: 48px;
    }
}


:host * {
    font-family: system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root *, :root *:after, :root *:before {
    box-sizing: border-box;
}

.ddg-video-player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    z-index: 10000;
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    @media screen and (min-width: 568px) {
        padding: 0;
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.bg:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
            linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 60%),
            radial-gradient(circle at bottom, rgba(131, 58, 180, 0.8), rgba(253, 29, 29, 0.6), rgba(252, 176, 69, 0.4));
}

.bg:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
}

.content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    color: rgba(255, 255, 255, 0.96);
    position: relative;
    grid-column-gap: var(--logo-gap);
    grid-template-columns: var(--logo-size) auto calc(12px + 16px);
    grid-template-rows:
            auto
            var(--title-gap)
            auto
            var(--button-gap)
            auto;
    align-content: center;
    justify-content: center;

    @media screen and (min-width: 568px) {
        grid-template-columns: var(--logo-size) auto auto;
    }
}

.logo {
    align-self: start;
    grid-column: 1/2;
    grid-row: 1/2;
}

.logo svg {
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    top: 48px;
    left: -18px;
    color: white;
    z-index: 0;
}

.title {
    font-size: var(--title-size);
    line-height: var(--title-line-height);
    font-weight: 600;
    grid-column: 2/3;
    grid-row: 1/2;

    @media screen and (min-width: 568px) {
        grid-column: 2/4;
        max-width: 428px;
    }
}

.text {
    display: none;
}

.info {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: start;
    padding-top: 3px;
    justify-self: end;

    @media screen and (min-width: 568px) {
        grid-column: unset;
        grid-row: unset;
        position: absolute;
        top: 12px;
        right: 12px;
    }
    @media screen and (min-width: 844px) {
        top: 24px;
        right: 24px;
    }
}

.buttons {
    gap: 8px;
    display: flex;
    grid-column: 1/4;
    grid-row: 3/4;

    @media screen and (min-width: 568px) {
        grid-column: 2/3;
    }
}

.remember {
    height: 40px;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    grid-column: 1/4;
    grid-row: 5/6;

    @media screen and (min-width: 568px) {
        grid-column: 2/3;
    }
}

.button {
    margin: 0;
    -webkit-appearance: none;
    background: none;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    line-height: 16px;
    padding: 0 12px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
}

.button--info {
    display: block;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    @media screen and (min-width: 568px) {
        width: 24px;
        height: 24px;
    }
    @media screen and (min-width: 844px) {
        width: 24px;
        height: 24px;
    }
}
.button--info svg {
    display: block;
    width: 100%;
    height: 100%;
}

.button--info svg path {
    fill: rgba(255, 255, 255, 0.84);
}

.cancel {
    background: rgba(255, 255, 255, 0.3);
    min-height: 40px;
}

.open {
    background: #3969EF;
    flex: 1;
    text-align: center;
    min-height: 40px;

    @media screen and (min-width: 568px) {
        flex: inherit;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.open:hover {
}
.cancel:hover {
}

.remember-label {
    display: flex;
    align-items: center;
    flex: 1;
}

.remember-text {
    display: block;
    font-size: 13px;
    font-weight: 400;
}
.remember-checkbox {
    margin-left: auto;
    display: flex;
}

.switch {
    margin: 0;
    padding: 0;
    width: 52px;
    height: 32px;
    border: 0;
    box-shadow: none;
    background: rgba(136, 136, 136, 0.5);
    border-radius: 32px;
    position: relative;
    transition: all .3s;
}

.switch:active .thumb {
    scale: 1.15;
}

.thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: white;
    position: absolute;
    top: 4px;
    left: 4px;
    pointer-events: none;
    transition: .2s left ease-in-out;
}

.switch[aria-checked="true"] {
    background: rgba(57, 105, 239, 1)
}

.ios-switch {
    width: 42px;
    height: 24px;
}

.ios-switch .thumb {
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25)
}

.ios-switch:active .thumb {
    scale: 1;
}

.ios-switch[aria-checked="true"] .thumb {
    left: calc(100% - 22px)
}

.android {}
