.main {
    display: grid;
    gap: var(--sp-10);
    padding: var(--sp-10);

    & hr {
        border: 0;
        border-bottom: 1px solid black;
        width: 100%;

        [data-theme='dark'] & {
            border-bottom: 1px solid white;
        }
    }
}

.card {
    display: grid;
    width: 100%;
    gap: var(--sp-6);
}
