.button {
    appearance: none;
    cursor: pointer;
}

/* Backward-compatible styles for use with Release Notes */
[data-platform=""] {
    .button {
        background-blend-mode: normal, color-burn, normal;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.06) 100%), #007aff;
        border-radius: var(--sp-2);
        border: 1px solid rgba(40, 145, 255, 0.05);
        box-shadow: 0px 0px 1px 0px rgba(40, 145, 255, 0.05), 0px 1px 1px 0px rgba(40, 145, 255, 0.10);
        color: white;
        font-size: calc(13 * var(--px-in-rem));
        font-weight: 600;
        line-height: var(--sp-8);
        padding: 0 var(--sp-4);

        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.16) 100%), #2749db;
        }

        &:active {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.16) 100%), #1743d1;
        }
    }
}

[data-platform="macos"] {
    & .button {
        background: var(--macos-bg);
        border: 0;
        border-radius: calc(5 * var(--px-in-rem));
        box-shadow: var(--macos-shadow);
        color: var(--macos-text);
        font-size: calc(13 * var(--px-in-rem));
        height: var(--sp-5);
        padding: 0 var(--sp-3);
    }

    & .button.clear {
        background: var(--macos-clear-bg);
        color: var(--macos-clear-text);
        box-shadow: var(--macos-clear-shadow);
    }
}

[data-platform="ios"] {
    .button {
        background-color: var(--ios-button-bg);
        border-radius: var(--sp-2);
        border: 0;
        color: var(--ios-button-text);
        font-size: calc(15 * var(--px-in-rem));
        font-weight: 600;
        height: calc(50 * var(--px-in-rem));
        letter-spacing: calc(-0.23 * var(--px-in-rem));
        padding: 0 var(--sp-6);
        text-align: center;
    }

    & .button.ghost {
        background: var(--ios-ghost-button-bg);
        color: var(--ios-ghost-button-text);
    }
}

/* VARIABLES */
.button {
    --macos-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.16) 100%), var(--Mac-Control-Accent-Branded-Background-Rest, #2749db);
    --macos-text: var(--color-white);
    --macos-shadow: 0px 1 0px 0px rgba(255, 255, 255, 0.00) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.00) inset, 0px 0px 0px 1px rgba(0, 122, 255, 0.05), 0px 0px 1px 0px rgba(0, 122, 255, 0.05), 0px 1px 1px 0px rgba(0, 122, 255, 0.10);

    --macos-clear-bg: transparent;
    --macos-clear-text: var(--color-black-at-84);
    --macos-clear-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);

    --ios-button-bg: var(--color-blue-50);
    --ios-button-text: var(--color-white);

    --ios-ghost-button-bg: transparent;
    --ios-ghost-button-text: var(--color-blue-50);

    @media (prefers-color-scheme: dark) {
        --macos-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.20) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

        --macos-clear-text: var(--color-white-at-84);
        --macos-clear-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.20) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

        --ios-button-bg: var(--color-blue-30);
        --ios-button-text: var(--color-black-at-84);

        --ios-ghost-button-text: var(--color-blue-30);
    }
}