.button {
    border: none;
    outline: none;
    display: flex;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px;
    flex-shrink: 0;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.18);
    border-radius: var(--inner-radius);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

    [data-layout="mobile"] & {
        background-color: #2f2f2f;
    }
}


.button:hover, .button:focus-visible {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.fill {
    flex: 1;
    text-align: center;
    justify-content: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.desktop {
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    font-weight: 600;

    .icon {
        width: 16px;
        height: 16px;
    }
}

.iconOnly {
    width: 44px;
    padding: 0 8px;
    position: relative;
}

.iconOnly .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.icon {}
.icon img {
    display: block;
    width: 100%;
}

.desktop.iconOnly {
    width: 32px;
}

.highlight {
    transition: all .3s ease-in-out;
    transition-delay: 2s;
    background: rgba(255, 255, 255, 0.2);
}

.highlight .icon img {
    transition: all .3s ease-in-out;
    transition-delay: 2s;
    transform: scale(1.1);
}
