.main {
    background-color: #000;
    color: white;
    max-width: 3840px;
    margin: 0 auto;
    padding: 2rem 8px;
    position: relative;
    z-index: 1;
}

.tube {
    max-width: 750px;
    margin: 0 auto;
}
