.floatingBar {
    display: flex;
    gap: 8px;
}

.inset {
    border-radius: var(--outer-radius);
    padding: 8px;
    background: rgba(0, 0, 0, 0.3);
}

.topBar {
    display: grid;
    justify-content: center;
    width: 100%;
}
