.infoBar {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.container {
    padding: 12px;
    background: rgba(255, 255, 255, 0.12);
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.dax {
    padding: 2px;
}

.img {
    display: block;
    width: 20px;
    height: 20px;
}

.text {
    margin-left: 5px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.info {
    width: 16px;
    height: 16px;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;


    &:focus-visible {
        outline: none;
    }

    &:focus-visible[aria-expanded=true] {
        outline: 1px solid white;
        outline-offset: 2px;
        border-radius: 50%;
    }

    img {
        display: block;
        width: 100%;
    }
}
.lhs {
    display: flex;
    align-items: center;
}
.rhs {
    margin-left: auto;
    display: flex;
    gap: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.switch {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}
.controls {
    display: flex;
    gap: 8px;
}

/* Different layout for YouTube Errors on desktop */
[data-youtube-error="true"] {
    & .switch {
        display: none;
    }
}