.switchBar {
    display: grid;
    border-radius: 8px;
    background: #2f2f2f;
    padding-inline: 16px;
    height: 100%;
    line-height: 1.1;
}

.stateExiting {
    transition: all .3s ease-in-out;
    transition-delay: 2s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
}

.stateHidden {
    display: none;
}

.labelRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.label {
    pointer-events: none;
}


.checkbox {}

.text {
    font-weight: bold;
    font-size: 14px;
}

.placeholder {
    height: 44px;
    position: relative;
    width: 100%;
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
