.logo {
    height: 44px;
    display: grid;
    width: 100%;
    align-items: center;
    grid-column-gap: 8px;
    grid-template-columns: max-content max-content;
}

@media screen and (max-width: 767px) {
    .logo {
        height: 100px;
    }

    /* TODO: Can this be moved somewhere else? */
    [data-youtube-error="true"] {
        & .logo {
            height: 44px;
        }
    }
}
.logoSvg img {
    display: block;
    width: 32px;
    height: 32px;
}
.text {
    font-size: 17px;
    font-weight: 600;
}
