:root {
    --ntp-background-color: white;
    --ntp-surface-background-color: white;
    --ntp-surface-border-color: var(--color-black-at-6);
    --ntp-text-normal: var(--color-black-at-84);

    /* Mac/System/Body */
    --body-font-size: 13px;
    --body-font-weight: 400;
    --body-line-height: 16px;

    /* title 2 */
    --title-2-font-size: 17px;
    --title-2-font-weight: 700;
    --title-2-line-height: 22px;

    /* title 3 em */
    --title-3-em-font-size: 15px;
    --title-3-em-font-weight: 590;
    --title-3-em-line-height: 20px;

    --ntp-focus-outline-color: black;


    @media (prefers-color-scheme: dark) {
        --ntp-background-color: var(--color-gray-85);
        --ntp-surface-background-color: var(--color-black-at-18);
        --ntp-surface-border-color: var(--color-black-at-6);
        --ntp-text-normal: white;
        --ntp-focus-outline-color: white;
    }
}

/* This comes from the application settings */
:root:has(body[data-platform-name="windows"]) {
    /* Windows/System/Body */
    --body-font-size: 14px;
    --body-font-weight: 400;
    --body-line-height: 20px;

    /* Windows/Title 2 (Emphasis) */
    --title-2-font-size: 18px;
    --title-2-font-weight: 600;
    --title-2-line-height: 22px;

    /* Windows/Title 3 (Emphasis); */
    --title-3-em-font-size: 16px;
    --title-3-em-font-weight: 600;
    --title-3-em-line-height: 20px;
}
