:root {
    --ntp-gap: 2rem;
    --ntp-drawer-width: calc(224 * var(--px-in-rem));
    --ntp-drawer-scroll-width: 12px;
    --ntp-combined-width: calc(var(--ntp-drawer-width) + var(--ntp-drawer-scroll-width));

    /* Mac/System/Callout */
    --callout-font-size: 12px;
    --callout-font-weight: 400;
    --callout-line-height: 15px;

    /* Mac/System/Body */
    --body-font-size: 13px;
    --body-font-weight: 400;
    --body-line-height: 16px;

    /* title 2 */
    --title-2-font-size: 17px;
    --title-2-font-weight: 700;
    --title-2-line-height: 22px;

    /* title 3 em */
    --title-3-em-font-size: 15px;
    --title-3-em-font-weight: 590;
    --title-3-em-line-height: 20px;

    /* label small */
    --small-label-font-size: 11px;
    --small-label-font-weight: 400;
    --small-label-line-height: 14px;

    --border-radius-lg: 12px;
    --border-radius-md: 8px;
    --border-radius-sm: 6px;
    --border-radius-xs: 4px;
}

/* Widen drawer when it has the new Theme section */
[data-has-theme-variants="true"] {
    --ntp-drawer-width: calc(256 * var(--px-in-rem));
    --ntp-combined-width: calc(var(--ntp-drawer-width) + var(--ntp-drawer-scroll-width));
}

[data-theme="light"],
[data-theme="dark"] {
    --ntp-surface-background-color: var(--ds-color-theme-tone-tint-primary);
}

[data-background-kind="color"],
[data-background-kind="gradient"],
[data-background-kind="userImage"] {
    [data-theme="light"] {
        --ntp-surface-background-color: var(--color-white-at-30);
    }

    [data-theme="dark"] {
        --ntp-surface-background-color: var(--color-black-at-18);
    }
}

[data-theme=light] {
    --focus-ring: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--color-black);
    --focus-ring-thin: 0px 0px 0px 1px var(--color-black), 0px 0px 0px 1px  var(--color-white);
    --focus-ring-primary: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--ds-color-theme-accent-primary);
    --ntp-selection-color: var(--color-white);
    --ntp-selection-background-color: #3A69EF;
}

[data-theme=dark] {
    --focus-ring: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--color-white);
    --focus-ring-thin: 0px 0px 0px 1px  var(--color-white), 0px 0px 0px 1px var(--color-white);
    --focus-ring-primary: 0px 0px 0px 1px var(--default-dark-background-color), 0px 0px 0px 3px var(--ds-color-theme-accent-primary);
    --ntp-selection-color: var(--color-white);
    --ntp-selection-background-color: var(--color-blue-30);
}

:root:has(body[data-platform-name="windows"]) {
    /* Windows/System/Body */
    --body-font-size: 14px;
    --body-font-weight: 400;
    --body-line-height: 20px;

    /* Windows/Title 2 (Emphasis) */
    --title-2-font-size: 18px;
    --title-2-font-weight: 600;
    --title-2-line-height: 22px;

    /* Windows/Title 3 (Emphasis); */
    --title-3-em-font-size: 16px;
    --title-3-em-font-weight: 600;
    --title-3-em-line-height: 20px;
}
