html,
body {
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    /*  */
    &::after {
        content: ' ';
        width: 1px;
        height: 100%;
        background: red;
        position: absolute;
        top: 0;
        left: 50%;
    }
    /*  */

    @media (max-height: 400px) {
        padding-top: var(--sp-10);
        align-items: flex-start;
    }

    @media (max-height: 700px) {
        [data-platform-name="ios"] & {
            padding-top: var(--sp-10);
            align-items: flex-start;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

/* Platform-specific styles */

/* macOS */
[data-platform-name="macos"] {
    & .container {
        background: var(--container-bg);
        border-radius: var(--sp-4);
        border: 1px solid var(--border-color);
        min-width: calc(400 * var(--px-in-rem));
        width: calc(504 * var(--px-in-rem));
    }
}

/* iOS */
[data-platform-name="ios"] {
    & .container {
        align-items: center;
    }
}
