.stack {
    display: flex;
    flex-direction: column;
    > * {
        min-width: 0
    }
    gap: 16px;
}
.pageTitle {
    color: var(--settings-text-normal);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: 24px;
    padding: 10px 6px 10px 10px;
}
.item {
    position: relative;
    border-radius: 8px;
    display: flex;

    &:hover, &:focus-visible {
        background: var(--color-black-at-6);
    }

    [data-theme="dark"] &  {
        &:hover, &:focus-visible {
            background: var(--color-white-at-6);
        }
    }
}

.item:hover .delete[aria-disabled="true"] {
    opacity: 0.3;
    cursor: default;
}

.active {
    background: var(--color-black-at-9);
    &:hover {
        background: var(--color-black-at-12);
    }

    [data-theme="dark"] &  {
        background: var(--color-white-at-9);
        &:hover {
            background: var(--color-white-at-12);
        }
    }
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group {
    border-bottom: 1px solid var(--color-black-at-9);
    padding-bottom: 10px;
}

.groupHeading {
    display: block;
    padding-left: 12px;
    &:empty {
        display: contents;
    }
}

.link {
    font-size: var(--label-font-size);
    font-weight: normal;
    line-height: var(--label-line-height);
    color: var(--settings-text-normal);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-inline: 16px;
    text-decoration: none;
    gap: 6px;
    border: 0;
    box-shadow: none;
    background: transparent;
    flex: 1;
    white-space: normal;
    text-align: left;
    text-transform: capitalize;
}

.icon {
    width: 16px;
    height: 16px;
    display: block;
    flex-shrink: 0;
}
.label {}
.status {
    display: flex;
    font-size: 10px;
    align-items: center;
    gap: 6px;
    margin-left: auto;
}
.statusText {
}
.statusCircle {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: lightgrey;
    [data-status="on"] & {
        background: var(--color-green-50);
    }
}
