.container {
    --_row-gap: 24px;
    --row-gap: var(--_row-gap);

    position: relative;
    color: var(--settings-text-normal);
    display: flex;
    flex-direction: column;
    gap: var(--row-gap);
}

.listItem {
    display: block;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

.emptyState {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: max-content max-content;
    justify-items: center;
}

.emptyStateOffset {
    padding-top: 30vh;
}

.icons {
    width: 128px;
    height: 96px;
    position: relative;
}

.forground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.emptyTitle {
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
    margin-top: 16px;
}
.emptyText {
    margin-top: 8px;
    color: var(--settings-text-muted)
}
