.button {
    appearance: none;
    background: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    position: relative;
}

/* macOS Base Style */
[data-platform-name="macos"] .button {
    border: 0;
    border-radius: calc(5 * var(--px-in-rem));
    box-shadow: var(--button-shadow);
    font-size: calc(13 * var(--px-in-rem));
    height: var(--sp-5);
    opacity: var(--button-opacity);
    padding: 0 var(--sp-3);

    &.lg {
        height: var(--sp-7);
        border-radius: calc(6 * var(--px-in-rem));
    }

    &.xl {
        height: var(--sp-8);
        border-radius: calc(6 * var(--px-in-rem));
    }

    &:disabled {
        background: var(--button-bg--disabled, var(--button-bg));
        box-shadow: var(--button-shadow--disabled, var(--button-shadow));
        color: var(--button-text--disabled, var(--button-text));
        opacity: var(--button-opacity--disabled, var(--button-opacity));
        cursor: default;
    }

    &:focus,
    &:focus-visible {
        background: var(--button-bg--focus, var(--button-bg));
        box-shadow: var(--button-shadow--focus, var(--button-shadow));
        color: var(--button-text--focus, var(--button-text));
        opacity: var(--button-opacity--focus, var(--button-opacity));
        outline: none;
    }

    &:hover:not(:disabled) {
        background: var(--button-bg--hover, var(--button-bg));
        box-shadow: var(--button-shadow--hover, var(--button-shadow));
        color: var(--button-text--hover, var(--button-text));
        opacity: var(--button-opacity--hover, var(--button-opacity));
    }

    &:active:not(:disabled) {
        background: var(--button-bg--active, var(--button-bg));
        box-shadow: var(--button-shadow--active, var(--button-shadow));
        color: var(--button-text--active, var(--button-text));
        opacity: var(--button-opacity--active, var(--button-opacity));
    }
}

/* iOS Base Style */
[data-platform-name="ios"] .button {
    border-radius: var(--sp-2);
    border: 0;
    font-size: calc(15 * var(--px-in-rem));
    font-weight: 600;
    height: calc(50 * var(--px-in-rem));
    letter-spacing: calc(-0.23 * var(--px-in-rem));
    padding: 0 var(--sp-6);
    text-align: center;

    &:active:not(:disabled) {
        background: var(--button-bg--active, var(--button-bg));
        color: var(--button-text--active, var(--button-text));
    }

    &:disabled {
        background: var(--button-bg--disabled, var(--button-bg));
        color: var(--button-text--disabled, var(--button-text));
    }
}

/* Backward-compatible styles for use when no platform info available */
body:not([data-platform-name]) {
    & .button {
        background-blend-mode: normal, color-burn, normal;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06) 100%), #007aff;

        border-radius: var(--sp-2);
        border: 1px solid rgba(40, 145, 255, 0.05);
        box-shadow: 0 0 1px 0 rgba(40, 145, 255, 0.05), 0 1px 1px 0 rgba(40, 145, 255, 0.1);
        color: white;
        font-size: calc(13 * var(--px-in-rem));
        font-weight: 600;
        line-height: var(--sp-8);
        padding: 0 var(--sp-4);

        &:hover:not(:disabled) {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), #2749db;
        }

        &:active:not(:disabled) {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), #1743d1;
        }
    }
}

/* macOS Design System Button Tokens */
[data-platform-name="macos"] {
    /* Shared among all variants */
    --macos-control-focused-shadow: 0 0 0 2.5px var(--ds-color-theme-accent-glow-primary, var(--ds-color-theme-default-light-accent-glow-primary)), 0 0 0 1px var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-light-accent-primary)) inset, 0 0 1px 0 var(--ds-color-theme-shadow-primary, var(--ds-color-theme-default-light-shadow-primary)), 0 1px 1px 0 var(--ds-color-theme-shadow-primary, var(--ds-color-theme-default-light-shadow-primary));

    /* Standard button variant */
    --macos-control-standard-background-rest: var(--color-white);
    --macos-control-standard-background-rest--dark: rgba(255, 255, 255, 0.28);
    --macos-control-standard-background-pressed: #e7e7e7;
    --macos-control-standard-background-pressed--dark: rgba(255, 255, 255, 0.4);
    --macos-control-standard-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.2);

    /* Accent Branded variant */
    --macos-accent-color: var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-light-accent-primary));
    --macos-accent-color-secondary: var(--ds-color-theme-accent-secondary, var(--ds-color-theme-default-light-accent-secondary));
    --macos-accent-color-tertiary: var(--ds-color-theme-accent-tertiary, var(--ds-color-theme-default-light-accent-tertiary));
    --macos-control-accent-branded-background-rest: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), var(--macos-accent-color);
    --macos-control-accent-branded-background-hover: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), var(--macos-accent-color-secondary);
    --macos-control-accent-branded-background-pressed: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), var(--macos-accent-color-tertiary);
    --macos-control-accent-branded-background-focus: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), var(--macos-accent-color);

    --macos-control-accent-branded-shadow-rest: 0 1px 0 0 rgba(255, 255, 255, 0) inset, 0 1px 0 0 rgba(255, 255, 255, 0) inset, 0 0 0 1px rgba(0, 122, 255, 0.05), 0 0 1px 0 rgba(0, 122, 255, 0.05), 0 1px 1px 0 rgba(0, 122, 255, 0.1);
    --macos-control-accent-branded-shadow-pressed: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.00) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.00) inset, 0px 0px 0px 0.5px rgba(0, 122, 255, 0.05), 0px 0px 1px 0px rgba(0, 122, 255, 0.05), 0px 1px 1px 0px rgba(0, 122, 255, 0.10);
    --macos-control-accent-branded-shadow-hover: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.00) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.00) inset, 0px 0px 0px 0.5px rgba(0, 122, 255, 0.05), 0px 0px 1px 0px rgba(0, 122, 255, 0.05), 0px 1px 1px 0px rgba(0, 122, 255, 0.10);
    --macos-control-accent-branded-shadow-disabled: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.20) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 0px 0.5px rgba(0, 0, 0, 0.10), 0px 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.20);

    [data-theme="dark"] & {
        --macos-control-focused-shadow: 0 0 0 2.5px var(--ds-color-theme-accent-glow-primary, var(--ds-color-theme-default-dark-accent-glow-primary)), 0 0 0 1px var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-dark-accent-primary)) inset, 0 0 1px 0 var(--ds-color-theme-shadow-primary, var(--ds-color-theme-default-dark-shadow-primary)), 0 1px 1px 0 var(--ds-color-theme-shadow-primary, var(--ds-color-theme-default-dark-shadow-primary));
        --macos-accent-color: var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-dark-accent-primary));
        --macos-accent-color-secondary: var(--ds-color-theme-accent-secondary, var(--ds-color-theme-default-dark-accent-secondary));
        --macos-accent-color-tertiary: var(--ds-color-theme-accent-tertiary, var(--ds-color-theme-default-dark-accent-tertiary));
    }
}

/* macOS Variables */
[data-platform-name="macos"] .button {
    &.standard {
        --button-bg: var(--macos-control-standard-background-rest);
        --button-text: var(--macos-text-primary);
        --button-shadow: var(--macos-control-standard-shadow);
        --button-opacity: 1;

        /* Active */
        --button-bg--active: var(--macos-control-standard-background-pressed);

        /* Disabled */
        --button-bg--disabled: var(--macos-control-standard-background-rest);
        --button-text--disabled: var(--macos-text-primary);
        --button-shadow--disabled: var(--macos-control-standard-shadow);
        --button-opacity--disabled: 0.4;

        /* Focus */
        --button-shadow--focus: var(--macos-control-focused-shadow);

        /* Hover */
        /* TODO: No difference on hover according to Figma(?) */
    }

    &.accent,
    &.accentBrand {
        --button-bg: var(--macos-control-accent-branded-background-rest);
        --button-text: var(--ds-color-theme-accent-content-primary, var(--ds-color-theme-default-light-accent-content-primary));
        --button-shadow: var(--macos-control-accent-branded-shadow-rest);
        --button-opacity: 1;

        /* Active */
        --button-bg--active: var(--macos-control-accent-branded-background-pressed);
        --button-text--active: color-mix(in srgb, var(--ds-color-theme-accent-content-primary, var(--ds-color-theme-default-light-accent-content-primary)) 80%, transparent);
        --button-shadow--active: var(--macos-control-accent-branded-shadow-pressed);

        /* Disabled */
        --button-bg--disabled: var(--macos-control-standard-background-rest);
        --button-text--disabled: var(--macos-text-primary);
        --button-shadow--disabled: var(--macos-control-standard-shadow);
        --button-opacity--disabled: 0.4;

        /* Focus */
        --button-bg--focus: var(--macos-control-accent-branded-background-focus);
        --button-shadow--focus: var(--macos-control-focused-shadow);

        /* Hover */
        --button-bg--hover: var(--macos-control-accent-branded-background-rest);
        --button-shadow--hover: var(--macos-control-accent-branded-shadow-hover);
    }

    [data-theme=dark] & {
        &.standard {
            --button-bg: var(--macos-control-standard-background-rest--dark);
            --button-text: var(--color-white-at-84);
            --button-bg--active: var(--macos-control-standard-background-pressed--dark);
        }

        &.accent,
        &.accentBrand {
            --button-text: var(--ds-color-theme-accent-content-primary, var(--ds-color-theme-default-dark-accent-content-primary));
            --button-text--active: color-mix(in srgb, var(--ds-color-theme-accent-content-primary, var(--ds-color-theme-default-dark-accent-content-primary)) 80%, transparent);
        }
    }
}

/* iOS Variables */
[data-platform-name="ios"] .button {
    &.primary {
        --button-bg: var(--color-blue-50);
        --button-text: var(--color-white);

        /* Active */
        --button-bg--active: var(--color-blue-70);
        --button-text--active: var(--color-white);

        /* Disabled */
        --button-bg--disabled: var(--color-black-at-6);
        --button-text--disabled: var(--color-black-at-36);
    }

    &.ghost {
        --button-bg: transparent;
        --button-text: var(--color-blue-50);

        /* Active */
        --button-bg--active: rgba(57, 105, 239, 0.12);
        --button-text--active: var(--color-blue-70);

        /* Disabled */
        --button-bg--disabled: transparent;
        --button-text--disabled: var(--color-black-at-36);
    }


    [data-theme=dark] & {
        &.primary {
            --button-bg: var(--color-blue-30);
            --button-text: var(--color-black-at-84);

            /* Active */
            --button-bg--active: var(--color-blue-50);
            --button-text--active: var(--color-black-at-84);

            /* Disabled */
            --button-bg--disabled: var(--color-black-at-6);
            --button-text--disabled: var(--color-black-at-36);
        }

        &.ghost {
            --button-bg: transparent;
            --button-text: var(--color-blue-30);

            /* Active */
            --button-bg--active: rgba(114, 149, 246, 0.2);
            --button-text--active: var(--color-blue-20);

            /* Disabled */
            --button-bg--disabled: transparent;
            --button-text--disabled: var(--color-black-at-36);
        }
    }
}

/* Windows Implementation */
[data-platform-name="windows"] {
    .button {
        /* Focus ring: 2px outline with 1px transparent offset */
        --focus-ring-color: var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-light-accent-primary));

        border-radius: var(--border-radius-sm);
        height: var(--sp-8);
        border-width: 0;
        padding-left: var(--sp-3);
        padding-right: var(--sp-3);

        &:focus-visible {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: 1px;
        }

        &.standard {
            background-color: var(--ds-color-theme-control-fill-primary, var(--ds-color-theme-default-light-control-fill-primary));
            color: var(--ds-color-theme-text-primary, var(--ds-color-theme-default-light-text-primary));
            border-width: 0;

            &:hover:not(:disabled) {
                background-color: var(--ds-color-theme-control-fill-secondary, var(--ds-color-theme-default-light-control-fill-secondary));
                cursor: pointer;
            }

            &:active:not(:disabled) {
                background-color: var(--ds-color-theme-control-fill-tertiary, var(--ds-color-theme-default-light-control-fill-tertiary));
            }

            &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
            }
        }

        &.accent,
        &.accentBrand {
            background-color: var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-light-accent-primary));
            color: var(--ds-color-theme-accent-content-primary, var(--ds-color-theme-default-light-accent-content-primary));

            &:hover:not(:disabled) {
                background-color: var(--ds-color-theme-accent-secondary, var(--ds-color-theme-default-light-accent-secondary));
            }

            &:active:not(:disabled) {
                background-color: var(--ds-color-theme-accent-tertiary, var(--ds-color-theme-default-light-accent-tertiary));
            }

            &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
            }
        }

        [data-theme=dark] & {
            --focus-ring-color: var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-dark-accent-primary));

            &.standard {
                color: var(--ds-color-theme-text-primary, var(--ds-color-theme-default-dark-text-primary));
                background-color: var(--ds-color-theme-control-fill-primary, var(--ds-color-theme-default-dark-control-fill-primary));

                &:hover:not(:disabled) {
                    background-color: var(--ds-color-theme-control-fill-secondary, var(--ds-color-theme-default-dark-control-fill-secondary));
                }

                &:active:not(:disabled) {
                    background-color: var(--ds-color-theme-control-fill-tertiary, var(--ds-color-theme-default-dark-control-fill-tertiary));
                }
            }

            &.accent,
            &.accentBrand {
                color: var(--ds-color-theme-accent-content-primary, var(--ds-color-theme-default-dark-accent-content-primary));
                background-color: var(--ds-color-theme-accent-primary, var(--ds-color-theme-default-dark-accent-primary));

                &:hover:not(:disabled) {
                    background-color: var(--ds-color-theme-accent-secondary, var(--ds-color-theme-default-dark-accent-secondary));
                }

                &:active:not(:disabled) {
                    background-color: var(--ds-color-theme-accent-tertiary, var(--ds-color-theme-default-dark-accent-tertiary));
                }
            }
        }
    }
}
