@import url("../../../../shared/styles/variables.css");
@import url("../../styles/base.css");
@import url("../../styles/history-theme.css");

body {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: max-content auto;
    grid-template-areas:
            'aside header'
            'aside main';
    overflow: hidden;
    height: 100vh;
    background-color: var(--history-background-color);
}
.header {
    grid-area: header;
    padding-left: 48px;
    padding-right: 76px;
}
.search {
    justify-self: flex-end;
}
.aside {
    grid-area: aside;
    padding: 10px 16px;
    border-right: 1px solid var(--history-surface-border-color);
}
.main {
    grid-area: main;
    overflow: auto;
    padding-left: 48px;
    padding-right: 76px;
    padding-top: 24px;
}
