.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: var(--ds-color-theme-text-primary);
    padding: 16px 0;
    border-bottom: 1px solid var(--ds-color-theme-surface-decoration-primary);
}

.controls {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
}

.largeButton {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 28px;
    border: none;
    border-radius: 4px;
    color: var(--ds-color-theme-text-primary);
    padding-left: 8px;
    padding-right: 8px;

    svg {
        flex-shrink: 0;
        fill-opacity: 0.84;
    }

    &:hover {
        background-color: var(--ds-color-theme-control-fill-secondary);
    }

    &:active {
        background-color: var(--ds-color-theme-control-fill-tertiary);
    }

    &[aria-disabled="true"] {
        opacity: .3;
    }
}

.search {
    max-width: 238px;
    width: 100%;
    flex-shrink: 1;
    display: flex;
}
.form {
    width: 100%;
}
.label {
    color: inherit;
    display: block;
    position: relative;
}
.searchIcon {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
    color: var(--ds-color-theme-icons-primary);
}
.searchInput {
    width: 100%;
    height: 28px;
    border-radius: 6px;
    border: 0.5px solid var(--ds-color-theme-control-border-primary);
    /* these precise numbers help it match figma when overriding default UI */
    padding-left: 31px;
    padding-right: 9px;
    background: inherit;
    color: inherit;
    background: var(--ds-color-theme-surface-tertiary);

    &:hover {
        border-color: var(--ds-color-theme-control-border-secondary);
    }

    &:focus {
        outline: none;
        border: 2px solid var(--ds-color-theme-accent-primary);
        padding-left: 29.5px;
        padding-right: 7.5px;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 13px;
        width: 13px;
        background-image: url("../../public/icons/clear.svg");
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }

    [data-theme="dark"] &::-webkit-search-cancel-button {
        background-image: url("../../public/icons/clear-dark.svg");
    }

    &::placeholder {
        color: var(--ds-color-theme-text-secondary);
    }
}
