.root {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--history-text-normal);
    padding: 16px 0;
    border-bottom: 1px solid var(--history-surface-border-color);
}

.controls {
    display: flex;
    gap: 8px;
}

.largeButton {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 28px;
    border: none;
    border-radius: 4px;
    color: var(--history-text-normal);
    padding-left: 8px;
    padding-right: 8px;

    svg {
        flex-shrink: 0;
        fill-opacity: 0.84;
    }

    &:hover {
        background-color: var(--color-black-at-6);
        [data-theme="dark"] & {
            background-color: var(--color-white-at-6)
        }
    }

    &:active {
        background-color: var(--color-black-at-12);
        [data-theme="dark"] & {
            background-color: var(--color-white-at-12)
        }
    }
}

.search {
    margin-left: auto;
}
.searchInput {
    width: 238px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid var(--history-surface-border-color);
    padding-left: 9px;
    padding-right: 9px;
    background: inherit;
    color: inherit;
    &:focus {
        outline: none;
    }
}