.item {
}

.title {
    height: 32px;
    width: 100%;
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
    white-space: nowrap;
    color: var(--history-text-normal);
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: 5px;
    position: relative;
}

.row {
    height: 28px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 9px;
    padding-right: 5px;
    position: relative;
}

.hover {
    --row-bg: inherit;
    --row-radius: 5px;
    --row-color: var(--history-text-normal);
    --dots-bg-hover: var(--color-black-at-9);
    --dots-opacity: 0;
    --time-opacity: 0.6;
    --time-visibility: visible;

    background: var(--row-bg);
    color: var(--row-color);
    border-radius: var(--row-radius);

    &:hover, &:focus-within {
        --dots-opacity: visible;
        --time-opacity: 0;
        --time-visibility: hidden;
    }

    &:hover:not([aria-selected="true"]) {
        --row-bg: var(--color-black-at-6);
        [data-theme="dark"] & {
            --row-bg: var(--color-white-at-6);
        }
    }

    [data-theme="dark"] & {
        --dots-bg-hover: var(--color-white-at-12);
    }

    &[aria-selected="true"] {
        --row-bg: #2565D9;
        --row-color: var(--color-white-at-84);
        --dots-bg-hover: var(--color-white-at-9);
    }
}

[data-is-selected='true'] .row {
    border-radius: 0;
}

[data-is-selected='true']:first-of-type .row,
[data-is-selected='true']:not([data-is-selected='true'] + [data-is-selected='true']) .row
{
    border-top-left-radius: var(--row-radius);
    border-top-right-radius: var(--row-radius);
}

[data-is-selected='true']:last-of-type .row,
[data-is-selected='true']:not(:has(+ [data-is-selected='true'])) .row
{
    border-bottom-left-radius: var(--row-radius);
    border-bottom-right-radius: var(--row-radius);
}


.entryLink {
    white-space: nowrap;
    font-weight: 510;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: inherit;
}

.domain {
    font-weight: 400;
    display: block;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
        content: "- "
    }
}

.time {
    margin-left: auto;
    flex-shrink: 0;
    opacity: var(--time-opacity);
    visibility: var(--time-visibility);
}

.dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: transparent;
    border: 0;
    z-index:1;
    color: inherit;
    opacity: var(--dots-opacity);

    svg {
        width: 16px;
        height: 16px;
    }

    &:hover {
        background: var(--dots-bg-hover);
    }

    &:focus-visible {
        opacity: 1;
    }
}

.titleDots {
    width: 28px;
    height: 20px;
    right: 6px;
}

.last {
    margin-bottom: 24px;
}