.stack {
    display: flex;
    flex-direction: column;
    height: 100%;

    >* {
        min-width: 0
    }

    gap: 24px;
}

.pageTitle {
    color: var(--ds-color-theme-text-primary);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: 24px;
    padding: 10px 6px 10px 10px;
}

.nav {
    padding-right: 0;
}

.item {
    position: relative;
    border-radius: 8px;
    display: flex;

    &:hover,
    &:focus-visible {
        background: var(--ds-color-theme-control-fill-primary);
    }

    &:active {
        background: var(--ds-color-theme-control-fill-secondary);
    }

    &.item_sites {
        margin-top: 16px;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            left: 16px;
            right: 16px;
            border-top: 1px solid var(--ds-color-theme-surface-decoration-primary);
        }
    }
}

.item:hover .delete[aria-disabled="true"] {
    opacity: 0.3;
    cursor: default;
}

.active {
    background: var(--ds-color-theme-control-fill-secondary);

    &:hover {
        background: var(--ds-color-theme-control-fill-tertiary);
    }
}


.link {
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    line-height: var(--label-line-height);
    color: var(--ds-color-theme-text-primary);

    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 16px;
    text-decoration: none;
    gap: 6px;
    border: 0;
    box-shadow: none;
    background: transparent;
    flex: 1;
    white-space: normal;
    text-align: left;
    text-transform: capitalize;
}

.delete {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    color: var(--ds-color-theme-text-primary);

    &:not([aria-disabled="true"]) {

        &:hover,
        &:focus-visible {
            background: var(--ds-color-theme-control-fill-primary);
            opacity: 1;
        }

        &:active {
            background: var(--ds-color-theme-control-fill-secondary);
        }
    }

    .item:hover & {
        opacity: 1;
    }

    .link:focus-visible+& {
        opacity: 1;
    }

    svg path {
        fill-opacity: 0.6;
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: block;
    flex-shrink: 0;
}
