.stack {
    display: flex;
    flex-direction: column;
    height: 100%;

    > * {
        min-width: 0
    }

    gap: 24px;
}

.pageTitle {
    color: var(--history-text-normal);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: 24px;
    padding: 10px 6px 10px 10px;
}

.nav {
    padding-right: .25rem;
}

.item {
    position: relative;
    border-radius: 8px;
    display: flex;

    &:hover,
    &:focus-visible {
        background: var(--color-black-at-6);
    }

    [data-theme="dark"] & {

        &:hover,
        &:focus-visible {
            background: var(--color-white-at-6);
        }
    }
}

.item:hover .delete[aria-disabled="true"] {
    opacity: 0.3;
    cursor: default;
}

.active {
    background: var(--color-black-at-12);

    &:hover {
        background: var(--color-black-at-18);
    }

    [data-theme="dark"] & {
        background: var(--color-white-at-9);

        &:hover {
            background: var(--color-white-at-12);
        }
    }
}


.link {
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    line-height: var(--label-line-height);
    color: var(--history-text-normal);

    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 16px;
    text-decoration: none;
    gap: 6px;
    border: 0;
    box-shadow: none;
    background: transparent;
    flex: 1;
    white-space: normal;
    text-align: left;
    text-transform: capitalize;
}

.delete {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    color: var(--history-text-normal);

    &:not([aria-disabled="true"]) {

        &:hover,
        &:focus-visible {
            background: var(--color-black-at-9);
            opacity: 1;
        }
    }

    &:active {
        background: var(--color-black-at-12);
    }

    [data-theme="dark"] & {
        &:hover {
            background: var(--color-white-at-9);
        }

        &:active {
            background: var(--color-white-at-12);
        }
    }

    .item:hover & {
        opacity: 1;
    }

    .link:focus-visible + & {
        opacity: 1;
    }

    svg path {
        fill-opacity: 0.6;
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: block;
    flex-shrink: 0;
}
