.label {
    display: flex;
    align-items: center;
    width: 100%;
}

.text {
    color: gray;
    margin-right: var(--ddg-ui-gutter-tight);
}

.control {
    width: 100%;
    display: flex;
}
.button {
    flex-shrink: 0;
    margin-left: var(--ddg-ui-gutter-tight);
}
