*, *:after, *:before {
    box-sizing: border-box
}
html[data-reduced-motion=true] * {
    animation: none!important;
    transition: none!important;
}
/* Base styles */
body {
    font-family: system-ui, sans-serif;
    font-size: 13px;
    margin: 0;

    height: 100vh;
    width: 100%;
    overflow-x: hidden;

    /* Make it feel more like something native */
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
button {
    font-family: system-ui, sans-serif;
    font-size: 13px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
