@import url("base.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body[data-display="app"] {
    color: rgba(242, 242, 242, 1);
    background: #101010;
    padding: 16px;
}
