.root {
    background: var(--ntp-surface-background-color);
    border: 1px solid var(--ntp-surface-border-color);
    padding: var(--sp-2) var(--sp-4);
    border-radius: var(--sp-3);
    /* width: 50%; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: var(--sp-1);
    max-width: 240px;

    @media screen and (prefers-color-scheme: dark) {
        border-color: var(--color-white-at-9);
    }
}

.icon {
    height: 3rem;
    width: 4rem;
    /* margin: 0 auto var(--sp-1); */
}

.title {
    font-weight: var(--title-2-font-weight);
    line-height: normal;
    /* margin-bottom: var(--sp-2); */
}

.description {
    line-height: 1.25rem;
}

.btn {
    padding: calc(6 * var(--px-in-rem)) var(--sp-3);
    background-color: transparent;
    border-width: 0;
    border-radius: 6px;
    text-wrap: nowrap;
    font-weight: var(--title-2-font-weight);
    color: var(--ddg-color-primary);


    &:hover {
        background-color: var(--color-black-at-6);
        cursor: pointer;
    }

    &:active {
        background-color: var(--ddg-color-primary);
        color: var(--color-white);
    }

    &:disabled {
        color: var(--color-black-at-84);
    }

    &:disabled:hover {
        cursor: not-allowed;
        background-color: var(--color-white-at-6);
    }

    &:focus-visible {
        /* box-shadow: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--color-blue-50); */
        box-shadow: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--ntp-focus-outline-color);
    }

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-84);
        /* background-color: var(--color-white-at-12);
         */
        background-color: transparent;
        color: var(--color-blue-40);

        &:hover {
            background-color: var(--color-black-at-9);
        }

        &:active {
            /* background-color: var(--color-white-at-24); */
            background-color: var(--color-blue-30);

        }

        &:disabled {
            color: var(--color-white-at-12);
            opacity: 0.8;
        }

        &:disabled:hover {
            cursor: not-allowed;
            background-color: var(--color-white-at-12);
        }

        &:focus-visible {
            /* box-shadow: 0px 0px 0px 1px var(--color-blue-90), 0px 0px 0px 3px var(--color-white); */
            box-shadow: 0px 0px 0px 1px var(--ntp-focus-outline-color), 0px 0px 0px 3px var(--color-white);
        }
    }
}

.dismissBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 1rem;
    width: 1rem;
    padding: 0;
    line-height: 1;
    font-size: 12px;
    background-color: transparent;
    color: var(--color-black-at-60);
    border: none;
    border-radius: 50%;

    &:active {
        background-color: var(--color-black-at-18);
        color: var(--color-black-at-84);
    }

    &:hover {
        background-color: var(--color-black-at-9);
    }

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-60);

        &:hover {
            background-color: var(--color-white-at-9);
        }

        &:active {
            background-color: var(--color-white-at-18);
            color: var(--color-white-at-84);
        }
    }
}

.nextStepsCardGroup {
    height: 100%;
    width: 100%;
}

.nextStepsCardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--sp-6);

}

.nextStepsBubble {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    p {
        background-color: var(--ddg-color-primary);
        line-height: normal;
        padding: 2px 0 3px;
        font-weight: 600;
        color: var(--color-white-at-84);
    }

    @media screen and (prefers-color-scheme: dark) {
        svg path {
            fill: var(--color-blue-30);
        }

        p {
            background-color: var(--color-blue-30);
            color: var(--color-blue-90);
        }
    }
}