.card {
    background: var(--color-black-at-1);
    border: 1px solid var(--color-black-at-9);
    border-radius: var(--sp-3);
    padding: var(--sp-6) var(--sp-6) var(--sp-8);

    @media (prefers-color-scheme: dark) {
        /* TODO: Dark mode */
    }
}