.root {
    --ntp-rmf-surface-background-color: rgba(0, 0, 0, .06);
    background: var(--ntp-rmf-surface-background-color);
    padding: calc(14 * var(--px-in-rem)) var(--sp-8) calc(14 * var(--px-in-rem)) var(--sp-4);
    border-radius: var(--border-radius-lg);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: var(--ntp-text-normal);
    width: 100%;
    animation: animate-fade .2s cubic-bezier(0.55, 0.055, 0.666, 0.19);
    margin-bottom: var(--ntp-gap);


    &.icon {
        padding-left: var(--sp-2);
    }

    @media screen and (prefers-color-scheme: dark) {
        background-color: var(--color-white-at-6);
    }
}

.iconBlock {
    margin-right: var(--sp-2);
    width: 3rem;
    min-width: 3rem;
}

.content {
    flex-grow: 1;
    font-size: calc(14 * var(--px-in-rem));
}

.title {
    font-weight: var(--title-2-font-weight);
    line-height: normal;
    margin-bottom: var(--sp-1);
}

.description {
    line-height: 1.25rem;
}

.btnBlock {
    margin-left: var(--sp-3);
    align-self: center;
}

.btnRow {
    margin-top: var(--sp-3);
    display: flex;
    flex-wrap: wrap;
    gap: calc(10 * var(--px-in-rem));
}

.dismissBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}


@keyframes animate-fade {
    0% { 
        opacity: 0; 
        scale: 0.98; 
    }
    100% { 
        opacity: 1; 
        scale: 1;
    }
  }