@import url("../../../shared/styles/design-tokens.css");

body {
    --background-color: var(--ds-color-theme-default-light-surface-canvas);
    --text-color: var(--ds-color-theme-default-light-text-primary);
}
body[data-theme-variant="coolGray"] {
    --background-color: var(--ds-color-theme-cool-gray-light-surface-canvas);
    --text-color: var(--ds-color-theme-cool-gray-light-text-primary);
}
body[data-theme-variant="slateBlue"] {
    --background-color: var(--ds-color-theme-slate-blue-light-surface-canvas);
    --text-color: var(--ds-color-theme-slate-blue-light-text-primary);
}
body[data-theme-variant="green"] {
    --background-color: var(--ds-color-theme-green-light-surface-canvas);
    --text-color: var(--ds-color-theme-green-light-text-primary);
}
body[data-theme-variant="violet"] {
    --background-color: var(--ds-color-theme-violet-light-surface-canvas);
    --text-color: var(--ds-color-theme-violet-light-text-primary);
}
body[data-theme-variant="rose"] {
    --background-color: var(--ds-color-theme-rose-light-surface-canvas);
    --text-color: var(--ds-color-theme-rose-light-text-primary);
}
body[data-theme-variant="orange"] {
    --background-color: var(--ds-color-theme-orange-light-surface-canvas);
    --text-color: var(--ds-color-theme-orange-light-text-primary);
}
body[data-theme-variant="desert"] {
    --background-color: var(--ds-color-theme-desert-light-surface-canvas);
    --text-color: var(--ds-color-theme-desert-light-text-primary);
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: var(--ds-color-theme-default-dark-surface-canvas);
        --text-color: var(--ds-color-theme-default-dark-text-primary);
    }
    body[data-theme-variant="coolGray"] {
        --background-color: var(--ds-color-theme-cool-gray-dark-surface-canvas);
        --text-color: var(--ds-color-theme-cool-gray-dark-text-primary);
    }
    body[data-theme-variant="slateBlue"] {
        --background-color: var(--ds-color-theme-slate-blue-dark-surface-canvas);
        --text-color: var(--ds-color-theme-slate-blue-dark-text-primary);
    }
    body[data-theme-variant="green"] {
        --background-color: var(--ds-color-theme-green-dark-surface-canvas);
        --text-color: var(--ds-color-theme-green-dark-text-primary);
    }
    body[data-theme-variant="violet"] {
        --background-color: var(--ds-color-theme-violet-dark-surface-canvas);
        --text-color: var(--ds-color-theme-violet-dark-text-primary);
    }
    body[data-theme-variant="rose"] {
        --background-color: var(--ds-color-theme-rose-dark-surface-canvas);
        --text-color: var(--ds-color-theme-rose-dark-text-primary);
    }
    body[data-theme-variant="orange"] {
        --background-color: var(--ds-color-theme-orange-dark-surface-canvas);
        --text-color: var(--ds-color-theme-orange-dark-text-primary);
    }
    body[data-theme-variant="desert"] {
        --background-color: var(--ds-color-theme-desert-dark-surface-canvas);
        --text-color: var(--ds-color-theme-desert-dark-text-primary);
    }
}

body {
    font-family:'-apple-system-font';
    background: var(--background-color);
    color: var(--text-color);

    display: flex;
    height: 100vh;
    margin: 0 auto;

    text-align: center;
    align-items: center;

    cursor: default;
}

.content-container {
    min-width: 320px;
    max-width: 580px;
    margin: 0 auto;
}

.error-header {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin: 0 auto;
    padding: 0px;
}

.error-description {
    font-size: 13px;
    line-height: 16px;
    margin: 0 auto;
    padding: 8px;
}

.header-container .description-container {
    position: relative;
    width: 100%;
    word-wrap: break-word;
}

.watermark-container {
    display: inline-block;
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
    filter: grayscale(100%);
    pointer-events: none;
}

.watermark {
    max-width: 100px;
    max-height: 100px;
}
