a {
    color: var(--ddg-color-primary)
}

.title-1 {
    font-size: calc(22 * var(--px-in-rem));
    line-height: calc(26 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.26 * var(--px-in-rem));
    }
}

.title-2 {
    font-size: calc(17 * var(--px-in-rem));
    font-weight: 600;
    line-height: calc(22 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.43 * var(--px-in-rem));
    }
}

.title-2-emphasis {
    font-size: calc(17 * var(--px-in-rem));
    font-weight: 700;
    line-height: calc(22 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.43 * var(--px-in-rem));
    }
}

.headline {
    font-size: calc(13 * var(--px-in-rem));
    font-weight: 600;
    line-height: calc(16 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.08 * var(--px-in-rem));
    }
}

.subheadline {
    font-size: calc(11 * var(--px-in-rem));
    line-height: calc(14 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(0.06 * var(--px-in-rem));
    }
}

.body {
    font-size: calc(13 * var(--px-in-rem));
    line-height: calc(16 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.08 * var(--px-in-rem));
    }
}

.body-emphasis {
    font-size: calc(13 * var(--px-in-rem));
    font-weight: 600;
    line-height: calc(16 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.08 * var(--px-in-rem));
    }
}

.label-small {
    font-size: calc(11 * var(--px-in-rem));
    line-height: calc(11 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(0.06 * var(--px-in-rem));
    }
}

.label-default {
    font-size: calc(13 * var(--px-in-rem));
    line-height: calc(13 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.08 * var(--px-in-rem));
    }
}

.label-medium {
    font-size: calc(13 * var(--px-in-rem));
    font-weight: 500;
    line-height: calc(13 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(-0.25 * var(--px-in-rem));
    }
}

.caption-2-emphasis {
    font-size: calc(10 * var(--px-in-rem));
    line-height: calc(13 * var(--px-in-rem));

    &.strictSpacing {
        letter-spacing: calc(0.12 * var(--px-in-rem));
    }
}

[data-platform-name="ios"] {
    & .title-2 {
        font-size: calc(22 * var(--px-in-rem));
        font-weight: 600;
        line-height: calc(28 * var(--px-in-rem));

        &.strictSpacing {
            letter-spacing: calc(0.35 * var(--px-in-rem));
        }
    }

    & .body {
        font-size: calc(16 * var(--px-in-rem));
        font-weight: 400;
        line-height: calc(21 * var(--px-in-rem));

        &.strictSpacing {
            letter-spacing: calc(-0.31 * var(--px-in-rem));
        }
    }
}

[data-platform-name="windows"] {
    /* This is a custom style that does not exist in the Design System
       It's used by the Special Error page on Windows */
    & .custom-title-1 { 
        font-size: calc(18 * var(--px-in-rem));
        font-weight: 600;
        line-height: calc(22 * var(--px-in-rem));
        letter-spacing: normal;
    }

    & .body {
        font-size: calc(14 * var(--px-in-rem));
        font-weight: 400;
        line-height: calc(20 * var(--px-in-rem));
        letter-spacing: normal;
    }
}