/* Component-specific variables */
:root {
    --bullet-color: rgba(57, 105, 239, 0.24);

    @media (prefers-color-scheme: dark) {
        --bullet-color: var(--color-blue-20);
    }
}

.content {
    margin: 0 auto;
    max-width: 36.25rem;
    padding: var(--sp-6) 0;
}

.title {
    font-size: calc(50 * var(--px-in-rem));
    font-weight: 800;
    line-height: normal;
}

/* Status */
.statusGrid {
    display: grid;
    gap: var(--sp-1) var(--sp-2);
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--sp-6) auto;
    margin: var(--sp-3) 0;
}

.gridIcon {
    grid-row: span 2;
}

/* Status Icon */
.statusIcon {
    width: var(--sp-6);
    height: var(--sp-6);

    &.alertIcon {
        background: url(../../../../shared/assets/img/icons/Alert-Recolorable-24.svg) no-repeat;
    }

    &.checkIcon {
        background: url(../../../../shared/assets/img/icons/Check-Recolorable-24.svg) no-repeat;
    }

    &.spinnerIcon {
        mask: url(../../../../shared/assets/img/icons/Spinner-16.svg) no-repeat;
        background: var(--text-primary-color);
        animation: spinner 1500ms infinite linear;
    }
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* Status Text */
.statusText {
    align-self: center;
}

.statusTimestamp {
    color: var(--text-secondary-color);
}

/* Release Notes */
.releaseNotesContent {
    margin-top: var(--sp-9);
}

.releaseTitle {
    align-items: flex-start;
    display: flex;
    font-size: calc(26 * var(--px-in-rem));
    font-weight: 600;
    gap: var(--sp-2);
    line-height: 1;
    letter-spacing: calc(-0.26 * var(--px-in-rem));
    margin-bottom: var(--sp-0_5);
}

.releaseVersion {
    color: var(--text-secondary-color);
}

.releaseNotesSubheading {
    margin: var(--sp-9) 0 var(--sp-4);
}

.releaseNotesList {
    margin: var(--sp-6) 0;

    &:last-of-type {
        margin-bottom: 0;
    }

    & li {
        margin: 0 0 1.125rem;
        position: relative;
        padding-left: var(--sp-6);

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            background: var(--bullet-color);
            border-radius: 0.375rem;
            content: '';
            display: inline-block;
            width: var(--sp-3);
            height: var(--sp-3);
            position: absolute;
            top: 0.125rem;
            left: 0;
        }
    }
}

/* New Tag */
.newTag {
    background-color: var(--color-yellow-50);
    border-radius: 0.625rem 0.625rem 0.625rem 0;
    color: var(--color-black-at-84);
    display: inline-block;
    padding: 0 0.625rem;
    position: relative;
    text-transform: uppercase;
    top: calc(-1 * var(--sp-0_5));

    font-size: calc(13 * var(--px-in-rem));
    font-weight: 700;
    line-height: calc(20 * var(--px-in-rem));

    &::after {
        background-color: var(--color-yellow-50);
        mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 6'><path fill='currentColor' d='M0 0v5.336A13.975 13.975 0 0 1 10.699 0H0Z'/></svg>");
        content: '';
        height: 6px;
        left: 0;
        position: absolute;
        top: calc(20 * var(--px-in-rem));
        width: 11px;
    }
}
