.root {
    background: var(--ntp-surface-background-color);
    border: 1px solid var(--ntp-surface-border-color);
    padding: var(--sp-6);
    border-radius: var(--sp-3);
    display: grid;
    align-items: start;
    grid-template-columns: auto;
    grid-row-gap: 18px;
    width: 100%;

    @media screen and (prefers-color-scheme: dark) {
        border-color: var(--color-white-at-9);
    }
}

.collapsed {}
.expanded {}
.heading {
    display: grid;
    grid-template-columns: 24px auto 32px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto auto;
    grid-template-areas:
        'icon title expander'
        'label label label';
    grid-row-gap: 12px;
}
.headingIcon {
    grid-area: icon;
    width: 24px;
    height: 24px;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 2px));
    }
}

.title {
    grid-area: title;
    font-size: var(--title-2-font-size);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
}

.expander {
    position: relative;

    & [aria-controls] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }
}

.subtitle {
    grid-area: label;
    color: var(--color-black-at-60);
    padding-left: 2px;

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-60);
    }
}

.list {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 6px;
    transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;
}

.entering {
    opacity: 0;
    visibility: hidden;
    animation-name: fade-in;
    animation-delay: .1s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.entered {
    opacity: 1;
    visibility: visible;
}

.exiting {
    animation-name: fade-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.row {
    min-height: 32px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: auto auto 40%;
    grid-template-areas: 'company count bar';
    align-items: center;
    @media screen and (min-width: 500px) {
        grid-template-columns: auto auto 60%;
    }
}

.company {
    grid-area: company;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 4px;
}

.icon {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    flex-shrink: 0;
    img, svg {
        display: block;
        font-size: 0;
        width: 16px;
        height: 16px;
    }
    &:has([data-errored=true]) {
        outline: 1px solid var(--ntp-surface-border-color);
        @media screen and (prefers-color-scheme: dark) {
            outline-color: var(--color-white-at-9);
        }
    }
}

.companyImgIcon {
    opacity: 0;
}

.companyImgIcon[data-loaded=true] {
    opacity: 1;
}

.other {
    /*color: */
}

.name {
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: 1;
}

.bar {
    grid-area: bar;
    width: 100%;
    height: 16px;
    border-radius: 20px;

    background: var(--color-black-at-3);

    @media screen and (prefers-color-scheme: dark) {
        background: var(--color-white-at-6);
    }
}

.fill {
    grid-area: bar;
    height: 16px;
    border-radius: 20px;

    background: var(--color-black-at-6);

    @media screen and (prefers-color-scheme: dark) {
        background: var(--color-white-at-9);
    }
}

.count {
    grid-area: count;
    text-align: right;

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-84);
    }
}
