.wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    @media only screen and (min-width: 481px) {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
}

.indent {
    max-width: 400px;
    @media only screen and (min-width: 481px) {
        margin-left: 80px;
        max-width: 480px;
    }
}
