.step {
    display: flex;
    flex-direction: column;
    gap: var(--sp-3);
}
.plain {
    display: flex;
    align-items: center;
    padding-left: var(--sp-2);
    padding-right: var(--sp-2);
    gap: var(--sp-4);
}
.plainContent {
    display: flex;
    align-items: center;
    gap: var(--sp-2);
}
.inner {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon {
    width: var(--sp-6);
    height: var(--sp-6);
    background-size: contain;
}
.iconSmall {
    width: var(--sp-4);
    height: var(--sp-4);
    background-size: contain;
}

/* Step content */
.contentWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px; /* manual adjustment to match designs */
}

.title {
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: var(--color-black-at-84);
    margin: 0;

    @media only screen and (min-width: 481px) {
        font-size: 15px;
        line-height: 15px;
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-white-at-84);
    }
}

.secondaryText {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: var(--color-black-at-60);
    margin: 0;

    @media only screen and (min-width: 481px) {
        font-size: 13px;
        line-height: 16px;
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-white-at-50);
    }
}

.inlineAction {
    display: flex;
    align-items: center;
}

.children:empty {
    display: none;
}
.children:not(:empty) {
    /*padding-left: calc(var(--sp-6) + 16px);*/
}
.indentChild {
    padding-left: calc(var(--sp-6) + 16px);
}

.slideIn {
    animation-name: slidein;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);

    &[data-index="0"] {
        animation-delay: 300ms;
    }
}

@keyframes slidein {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
