:root {
    /* Light theme colors */
    --theme-background-color: var(--color-gray-20);
    --theme-text-primary-color: var(--color-black-at-84);
    --link-color: var(--color-black);
    --border-color: rgba(0, 0, 0, 0.1);

    --container-bg: var(--color-white);
    --advanced-info-bg: var(--color-black-at-3);

    --visit-site-color: var(--color-black);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme colors */
        --theme-background-color: var(--color-gray-85);
        --theme-text-primary-color: var(--color-white-at-84);
        --link-color: var(--color-gray-40);
        --border-color: var(--color-white-at-18);

        --container-bg: var(--color-gray-90);
        --advanced-info-bg: #2f2f2f;

        --visit-site-color: var(--color-gray-40);
    }

    [data-platform-name="ios"] {
        --theme-background-color: #222;
    }
}


