:root {
    --default-light-background-color: var(--color-gray-20);
    --default-dark-background-color: var(--color-gray-85);
}

body[data-theme='light'] {
    --theme-background-color: var(--default-light-background-color);
    --theme-text-primary-color: var(--color-black-at-84);
    --link-color: var(--color-black);
    --border-color: rgba(0, 0, 0, 0.1);

    --container-bg: var(--color-white);
    --advanced-info-bg: var(--color-black-at-3);

    --visit-site-color: var(--color-black);
}

body[data-theme='dark'] {
    --theme-background-color: var(--default-dark-background-color);
    --theme-text-primary-color: var(--color-white-at-84);
    --link-color: var(--color-gray-40);
    --border-color: var(--color-white-at-18);

    --container-bg: var(--color-gray-90);
    --advanced-info-bg: #2f2f2f;

    --visit-site-color: var(--color-gray-40);
}

body[data-theme='dark'][data-platform-name='ios'][data-theme-variant='default'] {
    --theme-background-color: #222;
}

/* Theme variant background colors */
body[data-theme-variant='coolGray'] {
    --default-light-background-color: #d2d5e3;
    --default-dark-background-color: #2b2f45;
}

body[data-theme-variant='slateBlue'] {
    --default-light-background-color: #d2e5f3;
    --default-dark-background-color: #1e3347;
}

body[data-theme-variant='green'] {
    --default-light-background-color: #e3eee1;
    --default-dark-background-color: #203b30;
}

body[data-theme-variant='violet'] {
    --default-light-background-color: #e7e4f5;
    --default-dark-background-color: #2e2158;
}

body[data-theme-variant='rose'] {
    --default-light-background-color: #f8ebf5;
    --default-dark-background-color: #5b194b;
}

body[data-theme-variant='orange'] {
    --default-light-background-color: #fcedd8;
    --default-dark-background-color: #54240c;
}

body[data-theme-variant='desert'] {
    --default-light-background-color: #eee9e1;
    --default-dark-background-color: #3c3833;
}
