:root {
    --_row-gap: 24px;
    --row-gap: var(--_row-gap);
}
.row {
    display: flex;
    flex-direction: column;
}
.gapSmall {
    gap: 12px;
}
.screenTitle {
    margin-top: 12px;
    font-size: var(--title-2-font-size);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
}
.sectionTitle {
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
}
.titleIndicator {}
.descriptionLink {}
.descriptionLinkText {
    color: var(--settings-text-muted)
}
.inlineWarning {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.warningIcon {
    width: 16px;
    height: 16px;
    display: block;
}
.warningText {}
.warningButton {}

.statusIndicator {
    display: flex;
    align-items: center;
    gap: 8px;
}

.statusCircle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.statusText {}
.statusOn {
    background: var(--color-green-50);
}
.statusOff {
    background: rgba(31, 31, 31, 0.12);
}
.checkboxContainer {}
.checkboxRow {
    display: flex;
    gap: 8px;
}
.checkbox {}
.checkboxText {}
.checkboxChildren {
    padding-left: 20px;
    margin-top: 8px;
}
.text {}
.link {
    font-weight: bold;
    text-decoration: none;
    color: var(--ddg-color-primary);
    [data-theme="dark"] & {
        color: var(--ddg-color-primary-dark);
    }
}
.innerList {
    display: flex;
    flex-direction: column;
    gap: 6px;
}



