.root {
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: .1s;
    font-size: var(--small-label-font-size);
    line-height: var(--small-label-line-height);
    font-weight: var(--small-label-font-weight);
}

.sections {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: var(--sp-9);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    > * {
        overflow: hidden;
    }
}

.internal {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: calc(1rem - var(--ntp-drawer-scroll-width));
}

.closeBtn {
    width: 24px;
    height: 24px;
    position: relative;
    flex-shrink: 0;

    background-color: var(--ds-color-theme-control-fill-primary);

    &:hover:not(:disabled) {
        background-color: var(--ds-color-theme-control-fill-secondary);
    }

    &:active:not(:disabled) {
        background-color: var(--ds-color-theme-control-fill-tertiary);
    }
}
.backBtn {
    background: none;
    border: none;
    outline: none;
    display: flex;
    padding: 0;
    align-items: center;
    gap: 4px;
    color: inherit;

    svg {
        width: 16px; height: 16px; display: block
    }

    &:active {
        opacity: .8;
    }
    &:focus-visible {
        box-shadow: var(--focus-ring);
    }
}
.section {
    width: 100%;
}
.borderedSection {
    border-top: 1px solid var(--ds-color-theme-surface-decoration-primary);
    padding-top: calc(18 * var(--px-in-rem))
}
.sectionBody {
    margin-top: 16px;
}
.sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
}
.bgList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    grid-gap: 12px;
}

.bgListItem {
    display: grid;
    grid-row-gap: 4px;
    position: relative;

    &:hover {
        .deleteBtn {
            opacity: 1
        }
    }
}
.bgPanel {
    display: grid;
    width: 100%;
    height: 4rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: 0 0 0 1px var(--ds-color-theme-container-border-primary) inset;

    &[aria-checked="true"] {
        box-shadow: var(--focus-ring-primary);
    }

    &:focus-visible {
        box-shadow: var(--focus-ring-primary);
    }

    &:active {
        opacity: .9;
    }
}

.bgPanelEmpty {
    background-color: rgba(0, 0, 0, 0.03);
    [data-theme=dark] & {
        background-color: rgba(255, 255, 255, 0.06);
    }
}

.dynamicIconColor {
    &[data-color-mode="light"] {
        color: black;
        svg path {
            fill-opacity: 0.6;
        }
    }
    &[data-color-mode="dark"] {
        color: white;
        svg path {
            fill-opacity: 0.6;
        }
    }
}
.dynamicPickerIconColor {
    &[data-color-mode="light"] {
        color: black;
        svg path {
            fill-opacity: 0.84;
        }
    }
    &[data-color-mode="dark"] {
        color: white;
        svg path {
            fill-opacity: 0.84;
        }
    }
}
.colorInputIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    &, svg {
        pointer-events: none;
    }
}

@keyframes fade-in {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.deleteBtn {
    opacity: 0;
    position: absolute;
    top: 4px;
    right: 4px;

    &[data-color-mode="light"] {
        background-color: var(--color-black-at-60);
        color: white;
        &:hover {
            background-color: black;
        }
    }

    &[data-color-mode="dark"] {
        background-color: var(--color-white-at-60);
        color: black;
        &:hover {
            background-color: white;
        }
    }

    &:focus-visible {
        opacity: 1;
    }
}

.colwrap {
    width: 100%;
    overflow: hidden;
}
.cols {
    display: flex;
    transition: transform .3s ease-in-out;
    > * {
        flex-shrink: 0;
        width: 100%;
    }
    &:not([data-sub=home]) {
        transform: translateX(-100%);
        .col1 {
            opacity: 0;
            visibility: hidden;
        }
    }
    &[data-sub=home] {
        .col2 {
            opacity: 0;
            visibility: hidden;
        }
    }
}
.col {
    padding: 1rem;
    padding-right: calc(1rem - var(--ntp-drawer-scroll-width));
    padding-top: 24px;
    opacity: 1;
    visibility: visible;
    transition: opacity .3s linear, visibility .3s linear;
}

.col1 {}
.col2 {}

.settingsLink {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--ds-color-theme-accent-text-primary);
    margin-bottom: var(--sp-3);

    &:focus-visible {
        box-shadow: var(--focus-ring);
        outline: none;
    }
}
