.lowerRightFixed {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/** todo: is this a re-usable button, yet? */
.customizeButton {
    backdrop-filter: blur(48px);
    background-color: var(--ntp-surface-background-color);
    border: 1px solid var(--ds-color-theme-container-border-primary);
    border-radius: var(--border-radius-sm);
    padding: var(--sp-2) var(--sp-3);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: calc(6 * var(--px-in-rem));
    color: var(--ds-color-theme-text-primary);

    &:focus-visible {
        box-shadow: var(--focus-ring);
        outline: none;
    }

    &:hover {
        background-color: var(--ds-color-theme-control-fill-secondary);
        border-color: var(--ds-color-theme-control-border-secondary);
    }

    &:active {
        background-color: var(--ds-color-theme-control-fill-tertiary);
        border-color: var(--ds-color-theme-control-border-tertiary);
    }

    &[data-kind="drawer"][aria-expanded="true"] {
        visibility: hidden;
    }

    @media screen and (max-width: 800px) {
        span {
            display: none;
        }
    }
}

.popover {
    --popover-offset-x: -10px;
    --popover-offset-y: -3px;
}
