.dropdownInner {
    background: var(--ntp-surface-background-color);
    padding: var(--sp-1);
    border-radius: var(--border-radius-md);
    backdrop-filter: blur(48px);
    padding-inline: calc(10 * var(--px-in-rem));
    border: 1px solid var(--color-black-at-9);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.20), 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    [data-theme=dark] & {
        border-color: var(--color-white-at-9);
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.09) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.50), 0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 16px 0px rgba(0, 0, 0, 0.40);
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
    font-size: var(--title-3-em-font-size);
}

.embedded {
    font-size: var(--small-label-font-size);
    gap: 12px;
}

.menuItemLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    height: calc(28 * var(--px-in-rem));

    > * {
        min-width: 0;
    }

    label {
        margin-left: auto;
    }
}

.menuItemLabelEmbedded {
    white-space: normal;
    gap: 6px;
    height: auto;
    > * {
        min-width: auto;
    }
}


.svg {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
}

.checkbox {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.checkboxIcon {
    font-size: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--color-black-at-48);

    [data-theme=dark] & {
        border-color: rgba(255, 255, 255, 0.42);
        background: rgba(255, 255, 255, 0.12);
    }

    &:hover {
        background: linear-gradient(0deg, var(--color-black-at-6) 0%, var(--color-black-at-6) 100%);
        [data-theme=dark] & {
            background: linear-gradient(0deg, var(--color-white-at-18) 0%, var(--color-white-at-18) 100%), var(--color-white-at-12);
        }
    }

    &:active {
        background: linear-gradient(0deg, var(--color-black-at-12) 0%, var(--color-black-at-12) 100%), var(--color-white-at-60);
        [data-theme=dark] & {
            background: linear-gradient(0deg, var(--color-white-at-24) 0%, var(--color-white-at-24) 100%), var(--color-white-at-12);
        }
    }
}

.menuItemLabel input:checked + .checkboxIcon  {
    background: var(--color-blue-50);
    border-color: var(--color-blue-50);

    [data-theme=dark] & {
        background: var(--color-blue-20);
        border-color: var(--color-blue-20);
    }

    &:hover {
        background: var(--color-blue-60);
        border-color: var(--color-blue-60);
        [data-theme=dark] & {
            background: var(--color-blue-30);
            border-color: var(--color-blue-30);
        }
    }

    &:active {
        background: var(--color-blue-70);
        border-color: var(--color-blue-70);

        [data-theme=dark] & {
            background: var(--color-blue-40);
            border-color: var(--color-blue-40);
        }
    }

}

.menuItemLabel .checkboxIcon svg path {
    opacity: 0;
}

.menuItemLabel input:checked + .checkboxIcon svg path {
    stroke: white;
    opacity: 1;
    [data-theme=dark] & {
        stroke: black;
    }
}

.menuItemLabel input:focus-visible + .checkboxIcon {
    outline: dotted 1px var(--ntp-focus-outline-color);
    outline-offset: 2px
}
