.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
    font-size: var(--title-3-em-font-size);
}

.embedded {
    font-size: var(--body-font-size);
    gap: 12px;
}

.menuItemLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    height: calc(28 * var(--px-in-rem));

    &:has(input[disabled]) .title {
        color: var(--ds-color-theme-text-tertiary)
    }
}

.menuItemLabelEmbedded {
    white-space: normal;
    gap: 6px;
    height: auto;

    /* push the input over to the RHS */
    *:last-child {
        margin-left: auto;
    }

    /* Apply a theme-specific focus ring on the switch **/
    input:focus-visible + * {
        box-shadow: var(--focus-ring)
    }
}

.svg {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
}
