.root {
    background: var(--ntp-surface-background-color);
    backdrop-filter: blur(48px);
    border: 1px solid var(--ntp-surface-border-color);
    padding: var(--sp-6);
    border-radius: var(--border-radius-lg);
    display: grid;
    align-items: start;
    grid-template-columns: auto;
    width: 100%;
    margin-bottom: var(--ntp-gap);

    &:hover {
        .listExpander * {
            opacity: 1;
        }
    }

    [data-theme=dark] & {
        border-color: var(--color-white-at-9);
    }
}

.heading {
    display: grid;
    grid-template-columns: 1.5rem auto 2rem;
    grid-column-gap: var(--sp-2);
    grid-row-gap: var(--sp-1);
    grid-template-rows: auto auto;
    grid-template-areas:
        'icon title expander'
        'empty label label'
        'history history history';
}

.headingIcon {
    grid-area: icon;
    width: 1.5rem;
    height: var(--title-2-line-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5px;

    [data-animation="heart02"] & {
        animation: heart02 2s infinite;
    }
    [data-animation="heart01"] & {
        animation: heart01 1.483s infinite cubic-bezier(0.67, 0, 0.33, 1);
    }
}

.historyMsg {
    grid-area: history;
    padding: 14px 1rem;
    position: relative;
    border-radius: var(--border-radius-lg);
    background-color: var(--color-black-at-6);
    margin-top: 24px;

    .dismissBtn {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .historyLink {
        /* appearance: none; */
        cursor: pointer;
        text-decoration: underline;
        color: var(--theme-text-link-color);
    }

    [data-theme='dark'] & {
        background-color: var(--color-white-at-3);
    }
}

@keyframes heart01 {
    0% {
        transform: scale(1);
    }

    4.5% { /* 4/89 frames */
        transform: scale(1.25);
    }

    16.85% { /* 15/89 frames */
        transform: scale(1);
    }

    23.6% { /* 21/89 frames */
        transform: scale(1.1);
    }

    100% { /* 89/89 frames */
        transform: scale(1);
    }
}

@keyframes heart02 {
    0% {
        transform: scale(1);
    }
    5.6% {
        transform: scale(1.2);
    }
    11.2% {
        transform: scale(1);
    }
    22.4% {
        transform: scale(1.1);
    }
    33.7% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.title {
    grid-area: title;
    font-size: var(--title-2-font-size);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
}

.widgetExpander {
    position: relative;

    & [aria-controls] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        /**
         * NOTE: This is just for visual alignment. The grid in which this sits is correct,
         * but to preserve the larger tap-area for the button, we're opting to shift this over
         * manually to solve this specific layout case.
         */
        right: -4px
    }
}

.subtitle {
    grid-area: label;
    color: var(--ntp-text-muted);
    &.uppercase {
        line-height: 1;
        text-transform: uppercase;
    }
}

.list {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: calc(6 * var(--px-in-rem));
    transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;
    margin-top: 18px;
}

.entering {
    opacity: 0;
    visibility: hidden;
    animation-name: fade-in;
    animation-delay: .1s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.entered {
    opacity: 1;
    visibility: visible;
}

.exiting {
    animation-name: fade-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.row {
    min-height: 2rem;
    display: grid;
    grid-gap: var(--sp-2);
    grid-template-columns: auto auto 40%;
    grid-template-areas: 'company count bar';
    align-items: center;

    @media screen and (min-width: 500px) {
        grid-template-columns: 35% 10% calc(55% - 1rem); /* - 1rem accounts for the grid gaps */
    }
}

.otherTrackersRow {
    margin-top: var(--sp-3);
    padding-left: var(--sp-1);
    color: var(--ntp-text-muted);
}

.company {
    grid-area: company;
    display: flex;
    align-items: center;
    gap: var(--sp-2);
    padding-left: var(--sp-1);
    overflow: hidden;
}

.icon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    flex-shrink: 0;

    img, svg {
        display: block;
        font-size: 0;
        width: 1rem;
        height: 1rem;
    }

    &:has([data-errored=true]) {
        outline: 1px solid var(--ntp-surface-border-color);
        [data-theme=dark] & {
            outline-color: var(--color-white-at-9);
        }
    }
}

.companyImgIcon {
    opacity: 0;
}

.companyImgIcon[data-loaded=true] {
    opacity: 1;
}

.name {
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: -1px;
}

.count {
    grid-area: count;
    text-align: right;
    color: var(--ntp-text-normal);
    line-height: 1;
}

.bar {
    grid-area: bar;
    width: 100%;
    height: 1rem;
    border-radius: calc(20 * var(--px-in-rem));

    background: var(--color-black-at-3);

    [data-theme=dark] & {
        background: var(--color-white-at-6);
    }
}

.fill {
    grid-area: bar;
    height: 1rem;
    border-radius: calc(20 * var(--px-in-rem));
    background: var(--color-black-at-6);

    [data-theme=dark] & {
        background: var(--color-white-at-9);
    }
}

.listExpander {
    margin-top: var(--sp-3);
    button {
        color: var(--ntp-text-muted);
        opacity: 1;
    }
}
