.root {
    background: var(--ntp-surface-background-color);
    border: 1px solid var(--ntp-surface-border-color);
    padding: var(--sp-6);
    border-radius: var(--border-radius-lg);
    display: grid;
    align-items: start;
    grid-template-columns: auto;
    width: 100%;
    margin-bottom: var(--ntp-gap);

    &:hover {
        .listExpander * {
            opacity: 1;
        }
    }

    @media screen and (prefers-color-scheme: dark) {
        border-color: var(--color-white-at-9);
    }
}

.heading {
    display: grid;
    grid-template-columns: 1.5rem auto 2rem;
    grid-column-gap: var(--sp-2);
    grid-row-gap: var(--sp-1);
    grid-template-rows: auto;
    grid-template-areas: 'icon title expander';
}
.heading:has(.subtitle) {
    grid-template-rows: auto auto;
    grid-template-areas:
        'icon title expander'
        'empty label label';
}
.headingIcon {
    grid-area: icon;
    width: 1.5rem;
    height: var(--title-2-line-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}

.title {
    grid-area: title;
    font-size: var(--title-2-font-size);
    font-weight: var(--title-2-font-weight);
    line-height: var(--title-2-line-height);
}

.widgetExpander {
    position: relative;

    & [aria-controls] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }
}

.subtitle {
    grid-area: label;
    color: var(--ntp-text-muted);
    &.uppercase {
        line-height: 1;
        text-transform: uppercase;
    }
}

.list {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: calc(6 * var(--px-in-rem));
    transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;
    margin-top: 18px;
}

.entering {
    opacity: 0;
    visibility: hidden;
    animation-name: fade-in;
    animation-delay: .1s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.entered {
    opacity: 1;
    visibility: visible;
}

.exiting {
    animation-name: fade-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.row {
    min-height: 2rem;
    display: grid;
    grid-gap: var(--sp-2);
    grid-template-columns: auto auto 40%;
    grid-template-areas: 'company count bar';
    align-items: center;

    @media screen and (min-width: 500px) {
        grid-template-columns: auto auto 60%;
    }
}

.otherTrackersRow {
    margin-top: var(--sp-3);
    padding-left: var(--sp-1);
    color: var(--ntp-text-muted);
}

.company {
    grid-area: company;
    display: flex;
    align-items: center;
    gap: var(--sp-2);
    padding-left: var(--sp-1);
}

.icon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    flex-shrink: 0;

    img, svg {
        display: block;
        font-size: 0;
        width: 1rem;
        height: 1rem;
    }

    &:has([data-errored=true]) {
        outline: 1px solid var(--ntp-surface-border-color);
        @media screen and (prefers-color-scheme: dark) {
            outline-color: var(--color-white-at-9);
        }
    }
}

.companyImgIcon {
    opacity: 0;
}

.companyImgIcon[data-loaded=true] {
    opacity: 1;
}

.name {
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: 1;
}

.count {
    grid-area: count;
    text-align: right;
    color: var(--ntp-text-normal);
    line-height: 1;
}

.bar {
    grid-area: bar;
    width: 100%;
    height: 1rem;
    border-radius: calc(20 * var(--px-in-rem));

    background: var(--color-black-at-3);

    @media screen and (prefers-color-scheme: dark) {
        background: var(--color-white-at-6);
    }
}

.fill {
    grid-area: bar;
    height: 1rem;
    border-radius: calc(20 * var(--px-in-rem));
    background: var(--color-black-at-6);

    @media screen and (prefers-color-scheme: dark) {
        background: var(--color-white-at-9);
    }
}

.listExpander {
    margin-top: var(--sp-3);
    button {
        color: var(--ntp-text-muted);
        opacity: 1;
    }
}