.control {
    display: flex;
    align-items: center;
    height: 24px;
    margin-bottom: 20px;
    position: relative;
    gap: var(--sp-2);

  &.noTrackers {
    margin-bottom: 12px;
  }
}

.headingIcon {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.caption {
    color: var(--ds-color-theme-text-primary);
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
    flex: 0 0 auto;
}

.infoIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.widgetExpander {
    position: relative;
    flex: 1;

    & [aria-controls] {
        background-color: var(--ds-color-theme-control-fill-primary);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        /**
         * NOTE: This is just for visual alignment. The grid in which this sits is correct,
         * but to preserve the larger tap-area for the button, we're opting to shift this over
         * manually to solve this specific layout case.
         */
        right: -4px
    }
}

.counterContainer {
  display: flex;
  gap: var(--sp-6);
  align-items: flex-start;
  padding: 0;
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 0;
    min-width: 0;
    box-sizing: border-box;
}

.title {
    color: var(--ds-color-theme-text-primary);
    font-size: 40px;
    font-weight: 400;
    grid-area: title;
    line-height: 26px;

  & span {
    color: var(--ds-color-theme-text-secondary);
    display: block;
    font-size: var(--title-3-em-font-size);
    font-weight: 400;
    line-height: var(--title-3-em-line-height);
    margin-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.noRecentTitle {
    color: var(--ds-color-theme-text-secondary);
    grid-area: title;
    font-size: var(--title-3-em-font-size);
    font-weight: 400;
    line-height: var(--title-3-em-line-height);
}

.subtitle {
    grid-area: label;
    color: var(--ds-color-theme-text-secondary);
    line-height: var(--body-line-height);
    text-transform: uppercase;

    &.indented {
        padding-left: 2px;
    }
}

.body {
    display: grid;
    grid-row-gap:  var(--sp-3);

}

.list {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: calc(6 * var(--px-in-rem));
    transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;
    overflow: visible;
}

.row {
    min-height: 2rem;
    display: grid;
    row-gap: var(--sp-2);
    column-gap: var(--sp-3);
    grid-template-columns: minmax(0, calc(28% + var(--sp-3))) 48px minmax(0, 1fr);
    grid-template-areas: 'company count bar';
    align-items: center;
}

.listFooter {
    display: flex;
    .otherTrackersRow + .listExpander {
        margin-left: auto;
    }
}

.otherTrackersRow {
    padding-left: 0;
    color: var(--ds-color-theme-text-secondary);
    display: flex;
    align-items: center;

}

.company {
    grid-area: company;
    display: flex;
    align-items: center;
    gap: var(--sp-2);
    padding-left: var(--sp-3);
    overflow: hidden;
}

.name {
    color: var(--ds-color-theme-text-primary);
    font-size: var(--title-3-em-font-size);
    font-weight: var(--title-3-em-font-weight);
    line-height: var(--title-3-em-line-height);
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: -1px;
}

.count {
    grid-area: count;
    color: var(--ds-color-theme-text-primary);
    text-align: right;
    font-feature-settings: 'case' on;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: 13px;
}

.bar {
    grid-area: bar;
    width: 100%;
    height: calc(16 * var(--px-in-rem));
    border-radius: calc(20 * var(--px-in-rem));
    background: var(--ds-color-theme-control-fill-primary);
}

.fill {
    grid-area: bar;
    height: calc(16 * var(--px-in-rem));
    border-radius: calc(20 * var(--px-in-rem));
    background: var(--ds-color-theme-control-fill-secondary);
}
