/* Header */
.logo {
    background: url(../../assets/img/Logo-Horizontal.svg) no-repeat;
    height: var(--sp-10);
    display: block;

    @media (prefers-color-scheme: dark) {
        background: url(../../assets/img/Logo-Horizontal-Dark.svg) no-repeat;
    }
    [data-theme="dark"] & {
        background: url(../../assets/img/Logo-Horizontal-Dark.svg) no-repeat;
    }
}
