.favicon {
    border-radius: 2px;
    height: 16px;
    object-fit: cover;
    width: 16px;
}

.faviconFallback {
    align-items: center;
    color: var(--ds-color-theme-icons-secondary);
    display: flex;
    height: 16px;
    justify-content: center;
    width: 16px;
}
