*, *:after, *:before {
    box-sizing: border-box
}
html[data-reduced-motion=true] * {
    animation: none!important;
    transition: none!important;
}
/* Base styles */
body {
    font-family: system-ui;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.08px;
    margin: 0;

    height: 100vh;
    width: 100%;
    overflow-x: hidden;

    /* Make it feel more like something native */
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    color: var(--theme-txt-color);
}
body > main {
    width: 100%;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}
@media only screen and (min-width: 481px) {
    body {
        font-size: 13px;
        line-height: 16px;
    }
}
a {
    color: var(--theme-txt-link-color)
}
button {
    font-family: system-ui, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
@media only screen and (min-width: 481px) {
    h2 {
        text-align: unset;
        font-size: 13px;
        line-height: 18px;
    }
}
