.root {
    width: 100%;
    margin: 0 auto var(--ntp-gap);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'grid'
        'showhide';

    [data-show-hide] {
        opacity: 0;
    }

    &:has([data-show-hide]) {
        margin-bottom: var(--sp-4);
    }

    &:hover {
        [data-show-hide] {
            opacity: 1;
        }
    }
}

.showhide {
    grid-area: showhide;
    height: var(--ntp-gap);
    display: grid;
    justify-items: center;
}

.grid {
    grid-area: grid;
    display: grid;
    position: relative;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.gridRow {
    display: grid;
    grid-template-columns: repeat(var(--default-favorites-count), 1fr);
    align-items: start;
    position: absolute;
}
