.root {
    width: 100%;
    margin: 0 auto var(--sp-4);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'showhide'
        'grid';

    &.noExpansionBtn {
        margin-bottom: var(--ntp-gap);
    }


}

.showhide {
    grid-area: showhide;
    height: var(--ntp-gap);
    margin-left: auto;
}

.showhideVisible {
    [aria-controls] {
        opacity: 1;
        visibility: visible;
    }
}

.grid {
    grid-area: grid;
    display: grid;
    position: relative;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.gridRow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    position: absolute;
}
