.root {
    width: 100%;
    /* 1px bottom margin for focus box-shadow */
    margin: 0 auto 1px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'grid'
        'showhide';

    &.bottomSpace {
        margin-bottom: var(--ntp-gap);
    }

    &:hover {
        .showhideVisible [aria-controls] {
            opacity: 1;
        }
    }
    &:focus-within {
        .showhideVisible [aria-controls] {
            opacity: 1;
        }
    }
}

.showhide {
    grid-area: showhide;
    height: var(--ntp-gap);
    display: grid;
    justify-items: center;
}

.grid {
    grid-area: grid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    grid-row-gap: 0.5rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

