.root {
    width: 100%;
    margin: 0 auto var(--sp-4);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'grid'
        'showhide';

    &.bottomSpace {
        margin-bottom: var(--ntp-gap);
    }

    &:hover {
        .showhideVisible [aria-controls] {
            opacity: 1;
        }
    }
}

.showhide {
    grid-area: showhide;
    height: var(--ntp-gap);
    display: grid;
    justify-items: center;
}

.grid {
    grid-area: grid;
    display: grid;
    position: relative;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.gridRow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    position: absolute;
}
