* {
    font-family: DuckDuckGoPrivacyEssentials, system, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
}

:host,
.DuckDuckGoSocialContainer {
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: auto;
    inset: initial;
    max-width: 600px;
    min-height: 180px;
}

/* SHARED STYLES */
/* Button */
.DuckDuckGoButton {
    border-radius: 8px;
    box-sizing: border-box;
    padding: 11px 22px;
    margin: 0px auto;
    border-color: #3969ef;
    border: none;
    height: 36px;
    font-size: 14px;

    position: relative;
    cursor: pointer;
    box-shadow: none;
    z-index: 2147483646;
}
.DuckDuckGoButton > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
}
.DuckDuckGoButton.tertiary {
    color: rgba(0, 0, 0, 0.84);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}
@media (prefers-color-scheme: dark) {
    .DuckDuckGoButton.tertiary {
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.24);
    }
}
.DuckDuckGoButton.tertiary:hover {
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.18);
}
@media (prefers-color-scheme: dark) {
    .DuckDuckGoButton.tertiary:hover {
        background: rgba(255, 255, 255, 0.18);
        border: 1px solid rgba(255, 255, 255, 0.24);
    }
}
.DuckDuckGoButton.tertiary:active {
    background: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.36);
}
@media (prefers-color-scheme: dark) {
    .DuckDuckGoButton.tertiary:active {
        background: rgba(255, 255, 255, 0.24);
        border: 1px solid rgba(255, 255, 255, 0.24);
    }
}

/* Toggle Button */
.ddg-toggle-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ddg-toggle-button {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 16px;
    margin-top: -3px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
}
.ddg-toggle-button.mobile {
    width: 56px;
    height: 34px;
}
.ddg-toggle-button-bg {
    right: 0;
    width: 32px;
    height: 16px;
    overflow: visible;
    border-radius: 50px;
}
.ddg-toggle-button.mobile .ddg-toggle-button-bg {
    width: 56px;
    height: 34px;
}
.ddg-toggle-button.active .ddg-toggle-button-bg {
    background: #3969ef;
}
@media (prefers-color-scheme: dark) {
    .ddg-toggle-button.active .ddg-toggle-button-bg {
        background: #7295f6;
    }
}
.ddg-toggle-button.inactive .ddg-toggle-button-bg {
    background: #ababab;
}
@media (prefers-color-scheme: dark) {
    .ddg-toggle-button.inactive .ddg-toggle-button-bg {
        background: #444444;
    }
}
.ddg-toggle-button-knob {
    --ddg-toggle-knob-margin: 2px;
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: var(--ddg-toggle-knob-margin);
    top: calc(50% - 16px / 2);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.ddg-toggle-button.mobile .ddg-toggle-button-knob {
    --ddg-toggle-knob-margin: 4px;
    width: 26px;
    height: 26px;
    top: calc(50% - 34px / 2);
}
.ddg-toggle-button.active .ddg-toggle-button-knob {
    right: var(--ddg-toggle-knob-margin);
}
.ddg-toggle-button.inactive .ddg-toggle-button-knob {
    left: var(--ddg-toggle-knob-margin);
}
.ddg-toggle-button-label {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.84);
    margin-left: 12px;
}
@media (prefers-color-scheme: dark) {
    .ddg-toggle-button-label {
        color: rgba(255, 255, 255, 0.84);
    }
}

/* Link styles */
.ddg-text-link {
    line-height: 1.4;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #3969ef;
}
@media (prefers-color-scheme: dark) {
    .ddg-text-link {
        color: #7295f6;
    }
}

/* Styles for DDGCtlPlaceholderBlocked */
.DuckDuckGoButton.ddg-ctl-unblock-btn {
    width: 100%;
}
.DuckDuckGoSocialContainer:not(.size-sm) .DuckDuckGoButton.ddg-ctl-unblock-btn {
    width: auto;
}

.ddg-ctl-placeholder-card {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 16px;
    color: rgba(0, 0, 0, 0.84);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
@media (prefers-color-scheme: dark) {
    .ddg-ctl-placeholder-card {
        color: rgba(255, 255, 255, 0.84);
        background: #222222;
        border: 1px solid rgba(255, 255, 255, 0.24);
    }
}
.ddg-ctl-placeholder-card.slim-card {
    padding: 12px;
}
.DuckDuckGoSocialContainer:not(.size-sm) .ddg-ctl-placeholder-card.with-feedback-link {
    height: calc(100% - 30px);
    max-width: initial;
    min-height: initial;
}

.ddg-ctl-placeholder-card-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 8px;
}
.DuckDuckGoSocialContainer:not(.size-sm) .ddg-ctl-placeholder-card-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    text-align: left;
}

.DuckDuckGoSocialContainer:not(.size-sm) .ddg-ctl-placeholder-card-header,
.DuckDuckGoSocialContainer:not(.size-sm) .ddg-ctl-placeholder-card-header .ddg-text-link {
    text-align: center;
    width: 80%;
}

/* Show Learn More link in the header on mobile and
 * tablet size screens and hide it on desktop size */
.DuckDuckGoSocialContainer.size-lg .ddg-ctl-placeholder-card-header .ddg-learn-more {
    display: none;
    visibility: hidden;
}

.ddg-ctl-placeholder-card-title,
.ddg-ctl-placeholder-card-title .ddg-text-link {
    font-family: DuckDuckGoPrivacyEssentialsBold;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.ddg-ctl-placeholder-card-header-dax {
    align-self: flex-start;
    width: 48px;
    height: 48px;
    margin: 0 8px 0 0;
}
.DuckDuckGoSocialContainer:not(.size-sm) .ddg-ctl-placeholder-card-header-dax {
    align-self: inherit;
    margin: 0 0 12px 0;
}

.DuckDuckGoSocialContainer.size-lg .ddg-ctl-placeholder-card-header-dax {
    width: 56px;
    height: 56px;
}

.ddg-ctl-placeholder-card-body {
    margin-bottom: 12px;
}
.ddg-ctl-placeholder-card-body-text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0 auto 12px;

    display: none;
    visibility: hidden;
}
.DuckDuckGoSocialContainer.size-lg .ddg-ctl-placeholder-card-body-text {
    width: 80%;
    display: block;
    visibility: visible;
}

.ddg-ctl-placeholder-card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-self: flex-end;
    margin-top: auto;
}

.ddg-ctl-feedback-row {
    display: none;
    visibility: hidden;
}
.DuckDuckGoSocialContainer:not(.size-sm) .ddg-ctl-feedback-row {
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    display: flex;
    visibility: visible;
}

.ddg-ctl-feedback-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #ababab;
    text-decoration: none;
}
