:host,
* {
    font-family: DuckDuckGoPrivacyEssentials, system, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}

:host,
.DuckDuckGoSocialContainer {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: auto;
    inset: initial;
    max-width: 600px;
    min-height: 180px;
}

/* SHARED STYLES */
/* Button */
.DuckDuckGoButton {
    border-radius: 8px;
    padding: 11px 22px;
    margin: 0px auto;
    border-color: var(--ddg-color-primary);
    border: none;
    height: 36px;
    font-size: 14px;

    position: relative;
    cursor: pointer;
    box-shadow: none;
    z-index: 2147483646;
}
.DuckDuckGoButton > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
}
.DuckDuckGoButton.tertiary {
    color: var(--ddg-color-txt);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid var(--ddg-color-border);
    border-radius: 8px;
}
.DuckDuckGoButton.tertiary:hover {
    background: var(--ddg-shade-06);
    border-color: var(--ddg-shade-18);
}
@media (prefers-color-scheme: dark) {
    .DuckDuckGoButton.tertiary:hover {
        background: var(--ddg-tint-18);
        border-color: var(--ddg-tint-24);
    }
}
.DuckDuckGoButton.tertiary:active {
    background: var(--ddg-shade-12);
    border-color: var(--ddg-shade-36);
}
@media (prefers-color-scheme: dark) {
    .DuckDuckGoButton.tertiary:active {
        background: var(--ddg-tint-24);
        border-color: var(--ddg-tint-24);
    }
}

/* Toggle Button */
.ddg-toggle-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ddg-toggle-button {
    cursor: pointer;
    position: relative;
    margin-top: -3px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
}
.ddg-toggle-button,
.ddg-toggle-button.md,
.ddg-toggle-button-bg,
.ddg-toggle-button.md .ddg-toggle-button-bg {
    width: 32px;
    height: 16px;
    border-radius: 20px;
}
.ddg-toggle-button.lg,
.ddg-toggle-button.lg .ddg-toggle-button-bg {
    width: 56px;
    height: 34px;
    border-radius: 50px;
}
.ddg-toggle-button-bg {
    right: 0;
    overflow: visible;
}
.ddg-toggle-button.active .ddg-toggle-button-bg {
    background: var(--ddg-color-primary);
}
.ddg-toggle-button.inactive .ddg-toggle-button-bg {
    background: var(--ddg-color-bg-02);
}
.ddg-toggle-button-knob {
    --ddg-toggle-knob-margin: 2px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: var(--ddg-toggle-knob-margin);
}
.ddg-toggle-button-knob,
.ddg-toggle-button.md .ddg-toggle-button-knob {
    width: 12px;
    height: 12px;
    top: calc(50% - 16px / 2);
}
.ddg-toggle-button.lg .ddg-toggle-button-knob {
    --ddg-toggle-knob-margin: 4px;
    width: 26px;
    height: 26px;
    top: calc(50% - 34px / 2);
}
.ddg-toggle-button.active .ddg-toggle-button-knob {
    right: var(--ddg-toggle-knob-margin);
}
.ddg-toggle-button.inactive .ddg-toggle-button-knob {
    left: var(--ddg-toggle-knob-margin);
}
.ddg-toggle-button-label {
    font-size: 14px;
    line-height: 20px;
    color: var(--ddg-color-txt);
    margin-left: 12px;
}

/* Link styles */
.ddg-text-link {
    line-height: 1.4;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: var(--ddg-color-primary);
}

/* Styles for DDGCtlPlaceholderBlocked */
.DuckDuckGoButton.ddg-ctl-unblock-btn {
    width: 100%;
}
.DuckDuckGoSocialContainer:is(.size-md, .size-lg) .DuckDuckGoButton.ddg-ctl-unblock-btn {
    width: auto;
}

.ddg-ctl-placeholder-card {
    height: 100%;
    overflow: auto;
    padding: 16px;
    color: var(--ddg-color-txt);
    background: var(--ddg-color-bg-01);
    border: 1px solid var(--ddg-color-border);
    border-radius: 12px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
.ddg-ctl-placeholder-card.slim-card {
    padding: 12px;
}
.DuckDuckGoSocialContainer.size-xs .ddg-ctl-placeholder-card-body {
    margin: auto;
}
.DuckDuckGoSocialContainer:is(.size-md, .size-lg) .ddg-ctl-placeholder-card.with-feedback-link {
    height: calc(100% - 30px);
    max-width: initial;
    min-height: initial;
}

.ddg-ctl-placeholder-card-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 8px;
    text-align: left;
}
.DuckDuckGoSocialContainer:is(.size-md, .size-lg) .ddg-ctl-placeholder-card-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    width: 80%;
    text-align: center;
}

.DuckDuckGoSocialContainer:is(.size-md, .size-lg) .ddg-ctl-placeholder-card-header .ddg-ctl-placeholder-card-title,
.DuckDuckGoSocialContainer:is(.size-md, .size-lg) .ddg-ctl-placeholder-card-header .ddg-text-link {
    text-align: center;
}

/* Show Learn More link in the header on mobile and
 * tablet size screens and hide it on desktop size */
.DuckDuckGoSocialContainer.size-lg .ddg-ctl-placeholder-card-header .ddg-learn-more {
    display: none;
}

.ddg-ctl-placeholder-card-title,
.ddg-ctl-placeholder-card-title .ddg-text-link {
    font-family: DuckDuckGoPrivacyEssentialsBold;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.ddg-ctl-placeholder-card-header-dax {
    align-self: flex-start;
    width: 48px;
    height: 48px;
    margin: 0 8px 0 0;
}
.DuckDuckGoSocialContainer:is(.size-md, .size-lg) .ddg-ctl-placeholder-card-header-dax {
    align-self: inherit;
    margin: 0 0 12px 0;
}

.DuckDuckGoSocialContainer.size-lg .ddg-ctl-placeholder-card-header-dax {
    width: 56px;
    height: 56px;
}

.ddg-ctl-placeholder-card-body-text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0 auto 12px;

    display: none;
}
.DuckDuckGoSocialContainer.size-lg .ddg-ctl-placeholder-card-body-text {
    width: 80%;
    display: block;
}

.ddg-ctl-placeholder-card-footer {
    width: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: end;
}

/* Only display the unblock button on really small placeholders */
.DuckDuckGoSocialContainer.size-xs .ddg-ctl-placeholder-card-header,
.DuckDuckGoSocialContainer.size-xs .ddg-ctl-placeholder-card-body-text,
.DuckDuckGoSocialContainer.size-xs .ddg-ctl-placeholder-card-footer {
    display: none;
}

.ddg-ctl-feedback-row {
    display: none;
}
.DuckDuckGoSocialContainer:is(.size-md, .size-lg) .ddg-ctl-feedback-row {
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.ddg-ctl-feedback-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--ddg-color-txt-link-02);
    text-decoration: none;
    display: inline;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}
