:host,
* {
    font-family: DuckDuckGoPrivacyEssentials, system, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* SHARED STYLES */
/* Popover */
.ddg-popover {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.08);
    width: 360px;
    margin-top: 10px;
    z-index: 2147483647;
    position: absolute;
    line-height: normal;
}
.ddg-popover-arrow {
    display: inline-block;
    background: #ffffff;
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px 1px 0;
    padding: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: relative;
    top: -9px;
}
.ddg-popover .ddg-title-header {
    padding: 0px 12px 12px;
    margin-top: -5px;
}
.ddg-popover-body {
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    padding: 17px;
    text-align: left;
}

/* DDG common header */
.ddg-title-header {
    display: flex;
    padding: 12px;
    max-height: 44px;
    border-bottom: 1px solid;
    border-color: rgba(196, 196, 196, 0.3);
    margin: 0;
    margin-bottom: 4px;
}
.ddg-title-header .ddg-title-text {
    line-height: 1.4;
    font-size: 14px;
    margin: auto 10px;
    flex-basis: 100%;
    height: 1.4em;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: left;
    border: none;
    padding: 0;
}
.ddg-title-header .ddg-logo {
    flex-basis: 0%;
    min-width: 20px;
    height: 21px;
    border: none;
    padding: 0;
    margin: 0;
}
.ddg-title-header .ddg-logo .ddg-logo-img {
    height: 21px;
    width: 21px;
}

/* CTL Login Button styles */
#DuckDuckGoPrivacyEssentialsHoverable {
    padding-bottom: 10px;
}

#DuckDuckGoPrivacyEssentialsHoverableText {
    display: none;
}
#DuckDuckGoPrivacyEssentialsHoverable:hover #DuckDuckGoPrivacyEssentialsHoverableText {
    display: block;
}

button.ddg-ctl-fb-login-btn {
    background-color: var(--ddg-color-bg-01);
}

.ddg-ctl-button-login-icon {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.ddg-fb-login-container {
    position: relative;
    margin: auto;
    width: auto;
}
