:host {
    /* Color palette */
    --ddg-shade-06: rgba(0, 0, 0, 0.06);
    --ddg-shade-12: rgba(0, 0, 0, 0.12);
    --ddg-shade-18: rgba(0, 0, 0, 0.18);
    --ddg-shade-36: rgba(0, 0, 0, 0.36);
    --ddg-shade-84: rgba(0, 0, 0, 0.84);
    --ddg-tint-12: rgba(255, 255, 255, 0.12);
    --ddg-tint-18: rgba(255, 255, 255, 0.18);
    --ddg-tint-24: rgba(255, 255, 255, 0.24);
    --ddg-tint-84: rgba(255, 255, 255, 0.84);
    /* Tokens */
    --ddg-color-primary: #3969ef;
    --ddg-color-bg-01: #ffffff;
    --ddg-color-bg-02: #ababab;
    --ddg-color-border: var(--ddg-shade-12);
    --ddg-color-txt: var(--ddg-shade-84);
    --ddg-color-txt-link-02: #ababab;
}
@media (prefers-color-scheme: dark) {
    :host {
        --ddg-color-primary: #7295f6;
        --ddg-color-bg-01: #222222;
        --ddg-color-bg-02: #444444;
        --ddg-color-border: var(--ddg-tint-12);
        --ddg-color-txt: var(--ddg-tint-84);
    }
}
