.tooltipContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.tooltip {
    position: absolute;
    bottom: -20px;
    left: calc(100% + 8px);
    padding: 8px 16px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.20);
    font-size: 12px;
    line-height: 15px;
    color: var(--color-black-at-96);
    white-space: normal;
    width: 236px;
    z-index: 1000;
    animation: tooltipFadeIn 300ms ease;

    & span {
      display: block;
      margin-top: 22px;
    }
}

/* Dark mode styles */
[data-theme="dark"] .tooltip {
    background-color: rgb(71, 71, 71);
    color: var(--color-white-at-96);
}

@keyframes tooltipFadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
