.inline-select {
    line-height: 1;
}
.inline-select__label {
    margin-right: .5em;
    font-size: .6rem;
    width: 100%;
    display: block;
}
.inline-select__select {
    width: 100%;
    margin-top: .2rem;
    display: block;
    font-size: .7rem;
    padding: .2rem;
}

