:root {
    /* H1 title */
    --title-font-size: 20px;
    --title-font-weight: 600;
    --title-line-height: 18px;

    /* Mac/System/Body */
    --body-font-size: 13px;
    --body-font-weight: 400;
    --body-line-height: 16px;

    /* Mac/System/Label */
    --label-font-size: 13px;
    --label-font-weight: 510;
    --label-line-height: 13px;

    /* title 3 em */
    --title-3-em-font-size: 15px;
    --title-3-em-font-weight: 590;
    --title-3-em-line-height: 20px;
}

body {
    --default-light-background-color: var(--color-gray-0);
    --default-dark-background-color: var(--color-gray-85);
}

/* This comes from the application settings */
:root:has([data-platform="windows"]) {
    /* H1 title */
    --title-font-size: 24px;
    --title-font-weight: 600;
    --title-line-height: 32px;

    /* Windows/System/Body */
    --body-font-size: 14px;
    --body-font-weight: 400;
    --body-line-height: 20px;

    /* Windows/Title 3 (Emphasis); */
    --title-3-em-font-size: 16px;
    --title-3-em-font-weight: 600;
    --title-3-em-line-height: 20px;

    /* Windows/System/Label */
    --label-font-size: 14px;
    --label-font-weight: 400;
    --label-line-height: normal;
}

[data-theme=light] {
    --history-background-color: var(--default-light-background-color);
    --history-surface-background-color: var(--color-white-at-30);
    --history-surface-border-color: var(--color-black-at-9);
    --history-scrollbar-controls-color: var(--color-black-at-18);
    --history-text-normal: var(--color-black-at-84);
    --history-text-invert: var(--color-white-at-84);
    --history-text-muted: var(--color-black-at-60);
}

[data-theme=dark] {
    --history-background-color: var(--default-dark-background-color);
    --history-surface-background-color: var(--color-black-at-18);
    --history-surface-border-color: var(--color-white-at-12);
    --history-scrollbar-controls-color: var(--color-white-at-18);
    --history-surface-color: var(--color-white-at-12);
    --history-text-normal: var(--color-white-at-84);
    --history-text-invert: var(--color-black-at-84);
    --history-text-muted: var(--color-white-at-60);
}

[data-theme-variant="coolGray"] {
    --default-light-background-color: var(--ds-color-cool-gray-light-surface-primary);
    --default-dark-background-color: var(--ds-color-cool-gray-dark-surface-primary);
}

[data-theme-variant="slateBlue"] {
    --default-light-background-color: var(--ds-color-slate-blue-light-surface-primary);
    --default-dark-background-color: var(--ds-color-slate-blue-dark-surface-primary);
}

[data-theme-variant="green"] {
    --default-light-background-color: var(--ds-color-green-light-surface-primary);
    --default-dark-background-color: var(--ds-color-green-dark-surface-primary);
}

[data-theme-variant="violet"] {
    --default-light-background-color: var(--ds-color-violet-light-surface-primary);
    --default-dark-background-color: var(--ds-color-violet-dark-surface-primary);
}

[data-theme-variant="rose"] {
    --default-light-background-color: var(--ds-color-rose-light-surface-primary);
    --default-dark-background-color: var(--ds-color-rose-dark-surface-primary);
}

[data-theme-variant="orange"] {
    --default-light-background-color: var(--ds-color-orange-light-surface-primary);
    --default-dark-background-color: var(--ds-color-orange-dark-surface-primary);
}

[data-theme-variant="desert"] {
    --default-light-background-color: var(--ds-color-desert-light-surface-primary);
    --default-dark-background-color: var(--ds-color-desert-dark-surface-primary);
}
