:root {
    /* H1 title */
    --title-font-size: 20px;
    --title-font-weight: 600;
    --title-line-height: 18px;

    /* Mac/System/Body */
    --body-font-size: 13px;
    --body-font-weight: 400;
    --body-line-height: 16px;

    /* Mac/System/Label */
    --label-font-size: 13px;
    --label-font-weight: 510;
    --label-line-height: 13px;

    /* title 3 em */
    --title-3-em-font-size: 15px;
    --title-3-em-font-weight: 590;
    --title-3-em-line-height: 20px;
}

:root:has([data-platform="windows"]) {
    /* H1 title */
    --title-font-size: 24px;
    --title-font-weight: 600;
    --title-line-height: 32px;

    /* Windows/System/Body */
    --body-font-size: 14px;
    --body-font-weight: 400;
    --body-line-height: 20px;

    /* Windows/Title 3 (Emphasis); */
    --title-3-em-font-size: 16px;
    --title-3-em-font-weight: 600;
    --title-3-em-line-height: 20px;

    /* Windows/System/Label */
    --label-font-size: 14px;
    --label-font-weight: 400;
    --label-line-height: normal;
}

[data-theme="light"] {
    --history-background-color: var(--default-light-background-color);
    --history-scrollbar-controls-color: var(--color-black-at-18);
}

[data-theme="dark"] {
    --history-background-color: var(--default-dark-background-color);
    --history-scrollbar-controls-color: var(--color-white-at-18);
}
