:root {
    /* H1 title */
    --title-font-size: 20px;
    --title-font-weight: 600;
    --title-line-height: 18px;

    /* Mac/System/Body */
    --body-font-size: 13px;
    --body-font-weight: 400;
    --body-line-height: 16px;

    /* Mac/System/Label */
    --label-font-size: 13px;
    --label-font-weight: 510;
    --label-line-height: 13px;

    /* title 3 em */
    --title-3-em-font-size: 15px;
    --title-3-em-font-weight: 590;
    --title-3-em-line-height: 20px;
}

body {
    --default-light-background-color: var(--color-gray-0);
    --default-dark-background-color: var(--color-gray-85);
}

/* This comes from the application settings */
:root:has([data-platform="windows"]) {
    /* H1 title */
    --title-font-size: 24px;
    --title-font-weight: 600;
    --title-line-height: 32px;

    /* Windows/System/Body */
    --body-font-size: 14px;
    --body-font-weight: 400;
    --body-line-height: 20px;

    /* Windows/Title 3 (Emphasis); */
    --title-3-em-font-size: 16px;
    --title-3-em-font-weight: 600;
    --title-3-em-line-height: 20px;

    /* Windows/System/Label */
    --label-font-size: 14px;
    --label-font-weight: 400;
    --label-line-height: normal;
}

[data-theme=light] {
    --history-background-color: var(--default-light-background-color);
    --history-surface-background-color: var(--color-white-at-30);
    --history-surface-border-color: var(--color-black-at-9);
    --history-scrollbar-controls-color: var(--color-black-at-18);
    --history-text-normal: var(--color-black-at-84);
    --history-text-invert: var(--color-white-at-84);
    --history-text-muted: var(--color-black-at-60);
}

[data-theme=dark] {
    --history-background-color: var(--default-dark-background-color);
    --history-surface-background-color: var(--color-black-at-18);
    --history-surface-border-color: var(--color-white-at-12);
    --history-scrollbar-controls-color: var(--color-white-at-18);
    --history-surface-color: var(--color-white-at-12);
    --history-text-normal: var(--color-white-at-84);
    --history-text-invert: var(--color-black-at-84);
    --history-text-muted: var(--color-white-at-60);
}

/**
 * The scrollbar is a custom scroller that is used in the main
 * content area and the sidebar nav.
*/
.customScroller {
    --scrollbar-width: 18px;

    [data-platform="windows"] & {
        --scrollbar-width: 15px
    }

    overflow-y: scroll;
}

/**
 * Windows has access to newer CSS features for styling the scrollbar
 */
[data-platform="windows"] {
    .customScroller {
        scrollbar-gutter: stable;
        scrollbar-width: var(--scrollbar-width);
        scrollbar-color: var(--history-scrollbar-controls-color) var(--history-background-color);
    }
}

/**
 * macOS specific styling to handle dark mode - without this full
 * override you cannot change the track color :(
 */
[data-platform="macos"] {
    .customScroller {
        --webkit-thumb-color: rgba(136, 136, 136, 0.8);

        &::-webkit-scrollbar {
            width: var(--scrollbar-width);
        }

        &::-webkit-scrollbar-track {
            background-color: var(--history-background-color)
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--webkit-thumb-color);
            border-radius: calc(var(--scrollbar-width) / 2);

            /** faking some padding on the thumb */
            border: 4px solid var(--history-background-color);
        }

        &::-webkit-scrollbar-button {
            display: block;
            background-color: var(--history-background-color);

            /** a small vertical gap to prevent it touching boundaries */
            height: 2px;
        }
    }
}
