@import url('./fonts.css');

:root {
    --font-display: 'DuckSansDisplay', system-ui, sans-serif;
    --font-product: 'DuckSansProduct', system-ui, sans-serif;
}

.container {
    --bubble-bg: white;
    --bubble-border: #CBEAFF;

    display: flow-root;
    position: relative;

    @media (prefers-color-scheme: dark) {
        --bubble-bg: #011D34;
        --bubble-border: #133E7C;
    }
}
