.root {
    display: flex;
    flex-direction: column;
    gap: var(--sp-6);
    max-width: 384px;
    margin: 0 auto;
}

.imageContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 384 / 188;
    border-radius: var(--sp-2);
}

.frame {
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 0;

    &.previous {
        opacity: 1;
    }

    &.active {
        z-index: 1;
        opacity: 1;
        transition: opacity 300ms ease;
    }

    [data-reduced-motion="true"] &.active {
        transition: none;
    }
}

.instruction {
    display: flex;
    gap: var(--sp-2);
}

.icon {
    width: var(--sp-4);
    height: var(--sp-4);
}

.instructionText {
    margin: 0;
    font-size: calc(14 * var(--px-in-rem));
    line-height: calc(20 * var(--px-in-rem));
    color: var(--theme-txt-color);
}
