.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: var(--sp-12); /* 48px */
}

.previewContainer {
    align-self: stretch;
    overflow: hidden;
    border-radius: var(--sp-2); /* 8px */
}

.toggleButtons {
    display: flex;
    align-self: stretch;
    gap: var(--sp-2); /* 8px */
    margin-top: var(--sp-3); /* 12px */
    font-family: var(--font-product);
    font-size: calc(14 * var(--px-in-rem));
    line-height: calc(18 * var(--px-in-rem));

    /* Override ToggleButton theme to match Figma — light */
    --toggle-accent-light: var(--ds-accent-primary);
    --toggle-accent-text-light: var(--ds-accent-primary-text-color);
    --toggle-accent-bg-light: var(--ds-accent-alt-glow-secondary);
    --toggle-border-light: var(--ds-control-primary-border-color);
    --toggle-color-light: var(--ds-text-primary);
    --toggle-radio-light: var(--ds-accent-primary);

    /* Override ToggleButton theme to match Figma — dark */
    --toggle-accent-dark: var(--ds-accent-primary);
    --toggle-accent-text-dark: var(--ds-accent-primary);
    --toggle-accent-bg-dark: var(--ds-accent-alt-glow-secondary);
    --toggle-bg-dark: var(--ds-surface-tertiary);
    --toggle-border-dark: var(--ds-control-primary-border-color);
    --toggle-color-dark: var(--ds-text-primary);
    --toggle-radio-dark: var(--ds-accent-primary);
    --toggle-radio-check-dark: var(--ds-accent-primary-content-color);
}

.footer {
    display: flex;
    align-items: flex-start;
    gap: var(--sp-2); /* 8px */
    align-self: stretch;
    margin-top: calc(26 * var(--px-in-rem)); /* 26px */
}

.starIcon {
    width: var(--sp-5); /* 20px */
    height: var(--sp-5); /* 20px */
    flex-shrink: 0;
}

.footerText {
    font-size: calc(13 * var(--px-in-rem));
    line-height: calc(16 * var(--px-in-rem));
    color: var(--ds-text-primary);
}

.footerText :where(b) {
    font-weight: 700;
}

.startButton {
    margin-top: var(--sp-8); /* 32px */
}

