.background {
    position: fixed;
    z-index: 0;
    inset: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;

    @media (prefers-color-scheme: dark) {
        background-color: #133E7C;
    }
}

.illustration {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: var(--bg-light);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    @media (prefers-color-scheme: dark) {
        background-image: var(--bg-dark);
    }
}

.welcomeAnimation {
    animation: welcome-bg-slide 3.733s both, welcome-bg-opacity 3.733s both;
}

@keyframes welcome-bg-slide {
    0%, 3.57% {
        translate: 325px 204px;
        animation-timing-function: cubic-bezier(0.10, 0.85, 0.64, 0.99);
    }
    22.32%, 81.25% {
        translate: 0 0;
        animation-timing-function: cubic-bezier(0.10, 0.85, 0.64, 0.99);
    }
    100% {
        translate: 325px 204px;
    }
}

@keyframes welcome-bg-opacity {
    0%, 81.25% {
        opacity: 1;
        animation-timing-function: cubic-bezier(0.33, 0.00, 0.67, 1.00);
    }
    91.96%, 100% {
        opacity: 0;
    }
}
