.background {
    position: fixed;
    z-index: 0;
    inset: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;

    @media (prefers-color-scheme: dark) {
        background-color: #222222;
    }
}

.illustration {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: var(--bg-light);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    @media (prefers-color-scheme: dark) {
        background-image: var(--bg-dark);
    }
}
