.root {
    position: relative;
    left: -88px;
    top: -22px;
    animation: dax-intro-slide 0.9s both;
}

@keyframes dax-intro-slide {
    0%, 22.22% {
        translate: -74px 132px;
        animation-timing-function: cubic-bezier(0.10, 0.85, 0.64, 0.99);
    }
    100% {
        translate: 0 0;
    }
}

.outro {
    animation: dax-outro-slide 0.7s both, dax-outro-opacity 0.7s both;
}

@keyframes dax-outro-slide {
    0% {
        translate: 0 0;
        animation-timing-function: cubic-bezier(0.10, 0.85, 0.64, 0.99);
    }
    100% {
        translate: -74px 132px;
    }
}

@keyframes dax-outro-opacity {
    0% {
        opacity: 1;
        animation-timing-function: cubic-bezier(0.33, 0.00, 0.67, 1.00);
    }
    47.62%, 100% {
        opacity: 0;
    }
}
