.root {
    position: relative;
    left: -88px;
    top: -22px;
}

.outro {
    animation: dax-exit 0.7s both;
}

@keyframes dax-exit {
    0% {
        opacity: 1;
        animation-timing-function: cubic-bezier(0.33, 0.00, 0.67, 1.00);
    }
    47.62%, 100% {
        opacity: 0;
    }
}
