.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: var(--sp-8); /* 32px */
}

.animationContainer {
    align-self: stretch;
    overflow: hidden;
    border-radius: var(--sp-2); /* 8px */
    outline: 0.33px solid var(--color-black-at-9);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (prefers-color-scheme: dark) {
        outline-color: var(--color-white-at-6);
    }
}

.animationContainer canvas {
    display: block;
    width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    align-self: stretch;
    gap: var(--sp-2); /* 8px */
}

.flexButton {
    flex: 1 1 0;
}
