.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--sp-8); /* 32px */
    padding: var(--sp-12); /* 48px */
    animation: getstarted-content-slide 0.9s both, getstarted-content-opacity 0.9s both;
}

@keyframes getstarted-content-slide {
    0%, 40.74% {
        translate: 0 41px;
        animation-timing-function: cubic-bezier(0.66, 0.00, 0.34, 1.00);
    }
    77.78%, 100% {
        translate: 0 0;
    }
}

@keyframes getstarted-content-opacity {
    0%, 51.85% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.66, 0.00, 0.34, 1.00);
    }
    81.48%, 100% {
        opacity: 1;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sp-7); /* 28px */
    padding: 0 var(--sp-3); /* 0 12px */
    align-self: stretch;
}

.title {
    font-family: var(--font-display);
    font-size: var(--sp-6); /* 24px */
    font-weight: 700;
    line-height: var(--sp-7); /* 28px */
    text-align: center;
    color: var(--color-black-at-96);
    word-wrap: break-word;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    margin: 0;
    align-self: stretch;

    @media (prefers-color-scheme: dark) {
        color: var(--color-white-at-96);
    }
}

.body {
    font-family: var(--font-product);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: var(--color-black-at-96);
    word-wrap: break-word;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    white-space: pre-line;
    margin: 0;
    align-self: stretch;

    @media (prefers-color-scheme: dark) {
        color: var(--color-white-at-96);
    }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

