.root {
    position: relative;
    left: -138px;
    top: 206px;
}

.fadeOut {
    animation: fade-out 100ms cubic-bezier(0.66, 0, 0.34, 1) both;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

