/* --- systemSettings: DaxSystemSettingsBackground / DaxSystemSettingsForeground --- */

.systemSettingsBackground {
    --dax-circle-fill: #C9E3FF;

    position: absolute;
    left: 100%;
    top: 24px;

    @media (prefers-color-scheme: dark) {
        --dax-circle-fill: #123269;
    }
}

.systemSettingsForeground {
    position: absolute;
    right: -20px;
    top: 101px;
}
