.root {
    padding: var(--sp-9) var(--sp-12); /* 36px 48px */
}

.title {
    position: relative;
    padding: calc(2 * var(--px-in-rem)) var(--sp-3); /* 2px 12px */
}

.sparkle {
    position: absolute;
    top: 0;
    left: -7px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.actions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--sp-2); /* 8px */
    align-self: stretch;

    [data-platform-name='windows'] & > *:last-child {
        order: -1;
    }
}

.skipButton {
    flex: 1;
}
