.progress {
    display: flex;
    align-items: center;
    gap: var(--sp-5); /* 20px */
}

.dots {
    display: flex;
    align-items: center;
    gap: var(--sp-1); /* 4px */
}

.dot {
    display: block;
    border-radius: 50%;
}

.active {
    width: var(--sp-3);
    height: var(--sp-3);
    background: var(--ds-accent-primary);
}

.complete {
    width: 6px;
    height: 6px;
    background: var(--ds-accent-primary);
}

.incomplete {
    width: 6px;
    height: 6px;
    background: var(--ds-accent-alt-primary);
}

.text {
    font-family: var(--font-product);
    font-size: var(--sp-3);
    font-weight: 400;
    line-height: var(--sp-3);
    color: var(--ds-text-primary);
}
