.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 156px;
    padding-bottom: var(--sp-20);
    gap: var(--sp-5);
    width: 100%;
    min-height: 100vh;

}

.title {
    font-size: var(--sp-11);
    font-weight: 500;
    line-height: var(--sp-11);
    text-align: center;
    color: var(--theme-txt-color-title);
}
