@import url("base.css");

html:has(body[data-display="app"]) {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body[data-display="app"] {
    color: rgba(242, 242, 242, 1);
    background: #000;
    height: 100vh;
    overflow: hidden;
    padding: 16px;
}

@media screen and (min-width: 600px) and (max-height: 450px) {
    body[data-display="app"] {
        padding: 8px;
    }
}

