.outer {
    align-self: stretch;
    z-index: 1;
}

.inner {
    background: var(--ntp-surface-tertiary);
    border-radius: 12px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1), 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
    transition: height 200ms ease;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &:not(:has([role="listbox"])).focusRing,
    &:not(:has([role="listbox"])):focus-within:not(.noFocusRing) {
        border-radius: 15px;
        box-shadow: 0 0 0 1px var(--ntp-surface-tertiary), 0 0 0 3px var(--ntp-color-primary), 0 0 0 7px rgba(57, 105, 239, 0.2);
    }

    &:has([role="listbox"]) {
        border-radius: 15px;
        box-shadow: 0 0 0 3px var(--ntp-surface-tertiary), 0px 4px 12px 3px rgba(0, 0, 0, 0.10), 0px 20px 40px 3px rgba(0, 0, 0, 0.08);
    }
}
