.form {
    align-items: center;
    display: flex;
    height: var(--sp-10);
    padding: var(--sp-1) 7px var(--sp-1) calc(7px + var(--sp-2));
}

.input {
    background: none;
    border: none;
    color: var(--ntp-text-primary);
    font: var(--input-font);
    height: var(--sp-8);
    left: 7px;
    padding-bottom: 0;
    padding-left: var(--sp-2);
    padding-right: var(--suffix-text-width);
    padding-top: 0;
    position: absolute;
    right: 7px;

    &::placeholder {
        color: var(--ntp-text-tertiary);
    }

    [data-platform="windows"] &::selection {
        background: var(--ntp-selection-background-color);
        color: var(--ntp-selection-color);
    }

    &:focus {
        outline: none;
    }
}

.suffixSpacer {
    font: var(--input-font);
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
}

.suffix {
    color: var(--ntp-accent-primary);
    flex: none;
    font: var(--input-font);
}
