.form {
    align-items: center;
    display: flex;
    height: var(--sp-10);
    padding: var(--sp-3);
}

.input {
    background: none;
    border: none;
    color: var(--ntp-text-primary);
    font: var(--input-font);
    left: 0;
    padding: var(--sp-3) calc(var(--sp-3) + var(--suffix-text-width)) var(--sp-3) var(--sp-3);
    position: absolute;
    right: 0;

    &::placeholder {
        color: var(--ntp-text-tertiary);
    }

    [data-platform="windows"] &::selection {
        background: var(--ntp-selection-background-color);
        color: var(--ntp-selection-color);
    }

    &:focus {
        outline: none;
    }
}

.suffixSpacer {
    font: var(--input-font);
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
}

.suffix {
    color: var(--ntp-accent-primary);
    flex: none;
    font: var(--input-font);
}
