.form {
    align-items: center;
    display: flex;
    height: var(--sp-10);
    padding: var(--sp-3);
    padding-right: var(--sp-1);
}

.input {
    background: none;
    border: none;
    color: var(--ds-color-text-primary);
    font: var(--input-font);
    left: 0;
    padding: var(--sp-3);
    padding-right: calc(var(--suffix-text-width) + var(--sp-1) + var(--sp-8) + var(--sp-1)); /* Suffix + padding + close button + padding */
    position: absolute;
    right: 0;

    &::placeholder {
        color: var(--ds-color-text-tertiary);
    }

    [data-platform='windows'] &::selection {
        background: var(--ntp-selection-background-color);
        color: var(--ntp-selection-color);
    }

    &:focus {
        outline: none;
    }
}

.suffixSpacer {
    font: var(--input-font);
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
}

.suffix {
    color: var(--ds-color-accent-primary);
    flex: none;
    font: var(--input-font);
}

.closeButton {
    align-items: center;
    background: none;
    border-radius: 9px;
    border: none;
    color: var(--ds-color-text-primary);
    cursor: pointer;
    display: flex;
    flex: none;
    height: var(--sp-8);
    justify-content: center;
    margin-left: auto;
    outline: none;
    padding: 0;
    width: var(--sp-8);
    z-index: 1;
    visibility: hidden;

    &:hover {
        background: var(--ds-color-control-fill-primary);
    }

    &:active {
        background: var(--ds-color-control-fill-secondary);
    }

    &:focus-visible {
        box-shadow: var(--focus-ring);
    }

    .form:hover & {
        visibility: visible;
    }

    [data-entry-point='omnibar']:has([role='listbox']) & {
        visibility: visible;
    }
}

[data-platform='windows'] {
	.input {
		line-height: normal;
	}
}