.list {
    border-top: 1px solid var(--ds-color-theme-container-border-primary);
    display: flex;
    flex-direction: column;
    margin-top: -1px; /* - 1px to account for the border-top */
}

.main,
.footer {
    display: flex;
    flex-direction: column;
    padding: calc(3px + var(--sp-2)); /* 3px for popup borders + 2sp of padding */
}

.main + .footer {
    border-top: 1px solid var(--ds-color-theme-container-border-primary);
}

.item {
    align-items: center;
    background: none;
    border-radius: var(--border-radius-md);
    border: none;
    color: var(--ds-color-theme-text-primary);
    cursor: pointer;
    display: flex;
    height: var(--sp-8);
    justify-content: flex-start;
    text-align: left;
    padding: 0 var(--sp-1) 0 0;

    svg {
        flex: none;
        margin: var(--sp-2);
    }

    &[aria-selected='true'],
    &:active {
        border-radius: var(--border-radius-lg);
        color: var(--ds-color-theme-accent-content-primary);

        .suffix {
            color: var(--ds-color-theme-accent-content-primary);
        }

        .badge {
            background: var(--ds-color-theme-accent-secondary);
        }

        .deleteButton {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &[aria-selected='true'] {
        background: var(--ds-color-theme-accent-primary);
    }

    &:active:not(:has(.deleteButton:active)) {
        background: var(--ds-color-theme-accent-secondary);
    }
}

.title {
    flex: 0 1.5 auto; /* shrink 1.5x faster than suffix to match native's lower title compression resistance */
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suffix {
    color: var(--ds-color-theme-text-tertiary);
    flex: 1 1 auto;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badge {
    align-items: center;
    background: var(--ds-color-theme-control-raised-backdrop);
    border-radius: var(--border-radius-sm);
    display: flex;
    flex: none;
    gap: 6px;
    height: 22px;
    margin-left: auto;
    padding: 0px var(--sp-3);

    svg {
        height: 9px;
        margin: 0;
        width: 9px;
    }
}

.deleteButton {
    align-items: center;
    background: transparent;
    background-clip: content-box;
    border-radius: 11px; /* 9px inner tint + 2px padding */
    border: none;
    color: currentColor;
    cursor: pointer;
    display: flex;
    flex: none;
    height: var(--sp-8);
    justify-content: center;
    margin-left: auto;
    opacity: 0;
    padding: 2px;
    pointer-events: none;
    width: var(--sp-8);

    svg {
        height: 16px;
        margin: 0;
        width: 16px;
    }

    &:hover {
        background-color: var(--ds-color-theme-control-fill-primary);
    }

    &:active {
        background-color: var(--ds-color-theme-control-fill-secondary);
    }

    &:focus-visible {
        opacity: 1;
        pointer-events: auto;
    }
}
