.list {
    border-top: 1px solid var(--ds-color-theme-container-border-primary);
    display: flex;
    flex-direction: column;
    margin-top: -1px; /* - 1px to account for the border-top */
}

.main,
.footer {
    display: flex;
    flex-direction: column;
    padding: calc(3px + var(--sp-1)); /* 3px for popup borders + 1sp of padding */
}

.main + .footer {
    border-top: 1px solid var(--ds-color-theme-container-border-primary);
}

.item {
    align-items: center;
    background: none;
    border-radius: 4px;
    border: none;
    color: var(--ds-color-theme-text-primary);
    cursor: pointer;
    display: flex;
    height: var(--sp-8);
    justify-content: flex-start;
    padding: 0 var(--sp-2) 0 0;

    svg {
        flex: none;
        margin: var(--sp-2);
    }

    &[aria-selected="true"],
    &:active {
        color: var(--ds-color-theme-accent-content-primary);

        .suffix {
            color: var(--ds-color-theme-accent-content-primary);
        }

        .badge {
            background: var(--ds-color-theme-accent-secondary);
        }
    }

    &[aria-selected="true"] {
        background: var(--ds-color-theme-accent-primary);
    }

    &:active {
        background: var(--ds-color-theme-accent-secondary);
    }
}

.title {
    flex: none;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suffix {
    color: var(--ds-color-theme-text-tertiary);
    flex: initial;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badge {
    align-items: center;
    background: var(--ds-color-theme-control-raised-backdrop);
    border-radius: var(--border-radius-sm);
    display: flex;
    flex: none;
    gap: 6px;
    height: 22px;
    margin-left: auto;
    padding: 0px var(--sp-3);

    svg {
        height: 9px;
        margin: 0;
        width: 9px;
    }
}
