.tabSwitcher {
    background: var(--color-black-at-9);
    border-radius: 99px;
    box-shadow: 0px 1px 0px 0px  rgba(0, 0, 0, 0.05) inset;
    display: flex;
    padding: var(--sp-0_5);
    position: relative;
}

.tab {
    align-items: center;
    background: none;
    border-radius: 99px;
    border: none;
    display: flex;
    gap: 6px;
    height: var(--sp-8);
    justify-content: center;
    padding: 0 var(--sp-4);
    padding: 0;
    width: 92px;
    z-index: 1;

    svg {
        height: var(--sp-4);
        width: var(--sp-4);
    }
}

.tabLabel {
    padding-top: 1px;
}

.blob {
    left: -6px;
    position: absolute;
    top: -2px;
    transition: translate 0.3s ease;
}
