name: 'asana sync'
on:
    pull_request_review:
    pull_request_target:
        types:
            - opened
            - edited
            - closed
            - reopened
            - synchronize
            - review_requested

jobs:
    sync:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: sammacbeth/action-asana-sync@v9
              with:
                  ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
                  ASANA_WORKSPACE_ID: ${{ secrets.ASANA_WORKSPACE_ID }}
                  ASANA_PROJECT_ID: '1208598406046969'
                  USER_MAP: ${{ vars.USER_MAP }}
