name: Release

on:
  workflow_dispatch:

jobs:
  release_pr:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Fetch files and checkout
        run: |
          git fetch --all
          git checkout releases

      - name: Build release
        run: |
          npm ci
          npm run build

      - name: Check in files
        run: |
          git checkout releases
          git add -f build/ Sources/

      - name: Get version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx auto version
          echo "VERSION=$(npx auto version)" >> $GITHUB_ENV

      - name: Commit build files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Release build ${{ env.VERSION }} [ci release]"
          commit_options: '--allow-empty'
          skip_checkout: true
          branch: "releases"

      - name: Ship
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            npx auto shipit
