name: Release

jobs:
  release_pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Build release
        run: |
          npm install
          npm run build

      - name: Check in files
        run: |
          git add -f build/ Sources/

      - name: Commit build files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Release build [ci release]"
          branch: "releases"

      - name: Ship
        run: |
          npx auto shipit
