name: Test

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write
  deployments: write

jobs:
  unit:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04, windows-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm install
      - run: npm run build
      - run: npm run lint
      - run: npm run lint-no-output-globals
      - run: npm run test-unit
      - name: "Clean tree"
        run: "npm run test-clean-tree"
  integration:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 18
      uses: actions/setup-node@v1
      with:
        node-version: 18.x
    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install dependencies
      run: |
        npm install
        npm run build
    - name: Cache docs output
      id: docs-output
      uses: actions/cache@v3
      with:
          path: docs
          key: docs-output-${{ github.run_id }}
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - run: npm run playwright
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: playwright-report
        path: test-results
        retention-days: 5
    - run: npm run test-int-x
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: playwright-report-pages
        path: packages/special-pages/test-results
        retention-days: 5
    - name: Build docs
      run: npm run docs

  deploy-docs:
    runs-on: ubuntu-20.04
    needs: integration
    if: ${{ github.ref == 'refs/heads/main' }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - name: Cache build outputs
        id: docs-output
        uses: actions/cache@v3
        with:
          path: docs
          key: docs-output-${{ github.run_id }}
      - name: Setup Github Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
