.container {
    align-items: flex-start;
    background: var(--advanced-info-bg); /* TODO */
    box-shadow: inset 0 1px 0 0 var(--border-color); /* TODO */
    color: var(--text-color); /* TODO */
    display: flex;
    flex-flow: column;
    gap: var(--sp-4);
    width: 100%;

    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-name: appear;
}

.container p a {
    color: var(--link-color);
}

.visitSite {
    align-self: flex-end;
    color: var(--visit-site-color); /* TODO */
    cursor: pointer;
    text-decoration: underline;
}

@keyframes appear {
    0% {
        padding: 0 var(--sp-10);
        max-height: 0;
    }
    100% {
        padding: var(--sp-6) var(--sp-10);
        max-height: 400px;
    }
}
