.container {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    gap: var(--sp-4);
    max-width: var(--ios-content-max-width);
    width: 100%;

    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-name: appear;
}

.content {
    display: flex;
    flex-flow: column;
    gap: var(--sp-5);

    & a {
        color: var(--link-color);
    }
}

.visitSite {
    color: var(--visit-site-color);
    cursor: pointer;
    text-decoration: underline;
}

@keyframes appear {
    0% {
        padding: 0 var(--sp-10);
        max-height: 0;
    }
    100% {
        padding: var(--sp-6) var(--sp-10);
        max-height: calc(400 * var(--px-in-rem));
    }
}

/* Platform-specific styles */

/* macOS */
[data-platform-name="macos"] {
    & .container {
        background: var(--advanced-info-bg);
        box-shadow: inset 0 1px 0 0 var(--border-color);
    }

    & .visitSite {
        align-self: flex-end;
    }
}

/* iOS */
[data-platform-name="ios"] {
    & .wrapper {
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--color-black-at-9);
        width: 100%;

        @media (prefers-color-scheme: dark) {
            border-top: 1px solid var(--color-white-at-9);
        }
    }

    & .container {
        align-items: center;
        gap: var(--sp-6);
    }

    & .heading {
        text-align: center;
    }

    & .content {
        text-align: center;
    }
}