html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


    @media (max-height: 400px) {
        padding-top: var(--sp-10);
        align-items: flex-start;
    }
}

.container {
    display: flex;
    width: 504px;
    min-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--warning-container-bg);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

/* TODO: Use shared colors */

:root {
    /* Light theme colors */
    --background-color: #eee;
    --text-color: rgba(0, 0, 0, 0.84);
    --link-color: #000;
    --border-color: rgba(0, 0, 0, 0.1);
    --warning-container-bg: #fff;
    --advanced-info-bg: rgba(0, 0, 0, 0.03);
    --button-bg: #fff;
    --button-active-bg: #e0e0e0;
    --button-text: #000;
    --leave-site-btn-bg: linear-gradient(180deg, #4266d8 0%, #224cd2 100%);
    --leave-site-btn-border-color: rgba(40, 145, 255, 0.05);
    --leave-site-btn-shadow-color: rgba(40, 145, 255, 0.1);
    --accept-risk-color: #000;

    /* Dark theme colors */
    --background-color-dark: #333;
    --text-color-dark: rgba(255, 255, 255, 0.84);
    --link-color-dark: #ccc;
    --border-color-dark: rgba(255, 255, 255, 0.3);
    --warning-container-bg-dark: #222222;
    --advanced-info-bg-dark: #2f2f2f;
    --button-bg-dark: #333;
    --button-active-bg-dark: #757575;
    --button-text-dark: #fff;
    --leave-site-btn-bg-dark: linear-gradient(180deg, #4266d8 0%, #224cd2 100%);
    --leave-site-btn-border-color-dark: rgba(40, 145, 255, 0.2);
    --leave-site-btn-shadow-color-dark: rgba(40, 145, 255, 0.3);
    --accept-risk-color-dark: #ccc;

    --max-height-for-query: 320px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
        --link-color: var(--link-color-dark);
        --border-color: var(--border-color-dark);
        --warning-container-bg: var(--warning-container-bg-dark);
        --advanced-info-bg: var(--advanced-info-bg-dark);
        --button-bg: var(--button-bg-dark);
        --button-active-bg: var(--button-active-bg-dark);
        --button-text: var(--button-text-dark);
        --leave-site-btn-bg: var(--leave-site-btn-bg-dark);
        --leave-site-btn-border-color: var(--leave-site-btn-border-color-dark);
        --leave-site-btn-shadow-color: var(--leave-site-btn-shadow-color-dark);
        --accept-risk-color: var(--accept-risk-color-dark);
    }
}
