.selector {
    width: 100%;
    display: flex;
    padding: var(--sp-5);
    gap: var(--sp-4);

    & fieldset {
        border: 0;
        display: flex;
        gap: var(--sp-2);
    }
}

.main {
    display: flex;
    flex-flow: column;
    padding: var(--sp-5);
    gap: var(--sp-5);

    & h1 {
        padding: var(--sp-3) 0;
    }

    & h2 {
        padding: var(--sp-2) 0;
    }

    section {
        display: flex;
        flex-flow: column;
        border-top: 1px solid var(--theme-text-primary-color);
        padding: var(--sp-3);
        gap: var(--sp-3);
    }
}
