.container {
    background: var(--warning-container-bg); /* TODO */
    display: flex;
    flex-flow: column;
    gap: var(--sp-4);
    padding: var(--sp-8) var(--sp-10);
    overflow: hidden;
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    gap: var(--sp-2);
}

.icon {
    align-self: flex-start;
    background: url(../../../../shared/assets/img/icons/Shield-Alert-48.svg) no-repeat;
    flex: 0 0 var(--sp-10);
    height: var(--sp-10);
    width: var(--sp-10);
    background-position: calc(-1 * var(--sp-2)) calc(-1 * var(--sp-1));
}

.buttonContainer {
    display: flex;
    gap: var(--sp-2);
    justify-content: flex-end;
    padding-block-start: var(--sp-2);
}