.container {
    display: flex;
    flex-flow: column;
    gap: var(--sp-4);
    padding: var(--sp-8) var(--sp-10);
    overflow: hidden;
    width: 100%;
}

.container p a {
    color: var(--link-color);
}

.header {
    align-items: center;
    display: flex;
    gap: var(--sp-2);
}

.icon {
    background-repeat: no-repeat;
    background-size: contain;
}

.buttonContainer {
    display: flex;
    gap: var(--sp-2);
    padding-block-start: var(--sp-2);
}

/* TODO: Move to shared? */
.button {
    height: 20px;
    font-size: 13px;
    line-height: 1;
    padding: 0px 12px;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid var(--border-color);
    background: var(--button-bg);
    color: var(--button-text);
    box-shadow: 0px 1px 1px 0px var(--border-color),
    0px 0px 1px 0px var(--border-color);
}

.button:active {
    background: var(--button-active-bg);
}

.leaveSite {
    color: white;
    border: 0.5px solid var(--leave-site-btn-border-color);
    background: var(--leave-site-btn-bg);
    box-shadow: 0px 1px 1px 0px var(--leave-site-btn-shadow-color),
    0px 0px 1px 0px var(--leave-site-btn-border-color);
}

.leaveSite:active {
    background: #798ed6;
}

/* Platform-specific styles */

/* macOS */
[data-platform="macos"] {
    & .container {
        background: var(--warning-container-bg);
    }

    & .icon {
        align-self: flex-start;
    }

    & .icon.ssl {
        background-image: url(../../../../shared/assets/img/icons/Shield-Alert-96.svg);
        flex: 0 0 var(--sp-10);
        height: var(--sp-10);
        width: var(--sp-10);
        background-position: calc(-1 * var(--sp-2)) calc(-1 * var(--sp-1));
    }

    & .icon.phishing {
        background-image: url(../../../../shared/assets/img/icons/Phishing-64.svg);
        flex: 0 0 var(--sp-16);
        height: var(--sp-12);
        width: var(--sp-16);
    }

    & .buttonContainer {
        justify-content: flex-end;
    }
}


/* iOS */
[data-platform="ios"] {
    & .container {
        text-align: center;
    }

    & .header {
        justify-content: center;
        flex-flow: column;
    }

    & .buttonContainer {
        flex-flow: column-reverse;
        justify-content: center;
    }

    & .icon {
        flex: 0 0 var(--sp-24);
        height: var(--sp-24);
        width: var(--sp-32);
    }

    & .icon.ssl {
        background-image: url(../../../../shared/assets/img/icons/Shield-Alert-128.svg);
    }

    & .icon.phishing {
        background-image: url(../../../../shared/assets/img/icons/Phishing-64.svg);
    }
}