.root {
    --ntp-rmf-surface-background-color: rgba(0, 0, 0, .06);
    background: var(--ntp-rmf-surface-background-color);
    padding: 14px var(--sp-8) 14px var(--sp-4);
    border-radius: var(--sp-3);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: var(--color-black);


    &.icon {
        padding-left: var(--sp-2);
    }

    @media screen and (prefers-color-scheme: dark) {
        background-color: var(--color-white-at-6);
        color: var(--color-white-at-84);
    }
}

.iconBlock {
    margin-right: var(--sp-2);
    width: var(--sp-12);
    min-width: var(--sp-12);
}

.content {
    flex-grow: 1;
    display: grid;
    gap: var(--sp-3);
    line-height: 1.25rem;
    font-size: calc(14 * var(--px-in-rem));
}

.title {
    font-weight: var(--title-2-font-weight);
    line-height: normal;
}

/* .description:first-line {
    line-height: normal;
} */

.btnBlock {
    margin-left: var(--sp-3);
    align-self: center;
}

.btnRow {
    display: flex;
    flex-wrap: wrap;
    gap: calc(10 * var(--px-in-rem));
}

.btn {
    padding-left: var(--sp-3);
    padding-right: var(--sp-3);
    height: var(--sp-8);
    background-color: var(--color-black-at-6);
    border-width: 0;
    border-radius: 6px;
    text-wrap: nowrap;

    &:hover {
        background-color: var(--color-black-at-9);
        cursor: pointer;
    }

    &:active {
        background-color: var(--color-black-at-12);
    }

    &:disabled {
        color: var(--color-black-at-84);
    }

    &:disabled:hover {
        cursor: not-allowed;
        background-color: var(--color-white-at-6);
    }

    &:focus-visible {
        /* box-shadow: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--color-blue-50); */
        box-shadow: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--ntp-focus-outline-color);
    }

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-84);
        background-color: var(--color-white-at-12);

        &:hover {
            background-color: var(--color-white-at-18);
        }

        &:active {
            background-color: var(--color-white-at-24);
        }

        &:disabled {
            color: var(--color-white-at-12);
            opacity: 0.8;
        }

        &:disabled:hover {
            cursor: not-allowed;
            background-color: var(--color-white-at-12);
        }

        &:focus-visible {
            /* box-shadow: 0px 0px 0px 1px var(--color-blue-90), 0px 0px 0px 3px var(--color-white); */
            box-shadow: 0px 0px 0px 1px var(--ntp-focus-outline-color), 0px 0px 0px 3px var(--color-white);
        }
    }
}


.primary {
    background-color: var(--ddg-color-primary);
    color: var(--color-white);
    position: relative;


    &:hover {
        background-color: var(--color-blue-60);
    }

    &:active {
        background-color: var(--color-blue-70);
    }

    /* &:focus-visible {
        box-shadow: 0px 0px 0px 1px var(--color-white), 0px 0px 0px 3px var(--color-blue-50);
    } */

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-black-at-84);
        background-color: var(--color-blue-20);

        &:hover {
            background-color: var(--color-blue-30);
        }

        &:active {
            background-color: var(--color-blue-40);
        }

        &:disabled {
            background-color: var(--color-white-at-36);
            color: var(--color-black-at-84);
        }

        /* &:focus-visible {
            box-shadow: 0px 0px 0px 1px var(--color-blue-90), 0px 0px 0px 3px var(--color-white);
        } */
    }
}

.dismissBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 1rem;
    width: 1rem;
    padding: 0;
    line-height: 1;
    font-size: 12px;
    background-color: transparent;
    color: var(--color-black-at-60);
    border: none;
    border-radius: 50%;

    &:active {
        background-color: var(--color-black-at-18);
        color: var(--color-black-at-84);
    }

    &:hover {
        background-color: var(--color-black-at-9);
    }

    @media screen and (prefers-color-scheme: dark) {
        color: var(--color-white-at-60);

        &:hover {
            background-color: var(--color-white-at-9);
        }

        &:active {
            background-color: var(--color-white-at-18);
            color: var(--color-white-at-84);
        }
    }
}